﻿
@model RequestForQuoteSharePointWeb.Models.OriginalPricingTool



@using (Html.BeginForm("_CommentsOrigSO", "Home", FormMethod.Get))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    if (Model.Comments != null)
    {
<div class="container" id="comments_viewSO">
    @*<table id="so_comments_table">*@
        @foreach (var comment_num in Model.Comments)
        {
            if (comment_num.SalesOrderNum != null || comment_num.QuoteNum != null)
            {
                if ((comment_num.SalesOrderNum != "") || (comment_num.QuoteNum != ""))
                {

    <div class="row" id="@comment_num.SalesOrderNum">
        <p hidden id="com_post_idSO">@comment_num.PostID</p>
        <p hidden class="hidden_so" id="so_num_check">@comment_num.SalesOrderNum</p>

        <div class="temp_hide_me" id="@comment_num.OrderVal">
            <ul class="media-list">
                <li class="media" id="so_num_comment">
                    <div class="media-body">
                        <div class="well well-lg">
                            <h4 class="media-heading text-uppercase reviews">
                                @comment_num.UserName
                            </h4>
                            <ul class="media-date text-uppercase reviews list-inline">
                                @comment_num.PostDate.Value.ToString("MM/dd/yyyy")
                            </ul>
                            <p class="media-comment">
                                @comment_num.PartComment
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
            </div>

            <div class="temp_hide_me_delete" id="@comment_num.OrderVal">
                <div class="media-body">

                    @if (@comment_num.PostID > 0 && (comment_num.RoleDesc == "SALES MANAGER" || comment_num.RoleDesc == "ADMINISTRATOR"))
                    {
                        <input type="button" id="deleting_commentSO" name="@comment_num.PostID" class="btn btn-warning" value="Delete" onclick="(this.PostID)">@*<p hidden id="post_id">@comment_num.PostID</p>*@
                    }

                </div>
            </div>
        </div>

        }
        }
        else if (comment_num.SalesOrderNum != null || comment_num.QuoteNum != null)
        {
        if (comment_num.QuoteNum != "" || comment_num.SalesOrderNum != "")
        {
        <div class="row" id="@comment_num.SalesOrderNum">
            <p hidden id="com_post_idSO">@comment_num.PostID</p>
            <p hidden class="hidden_so" id="so_num_check">@comment_num.SalesOrderNum</p>

            <div class="temp_hide_me" id="@comment_num.OrderVal">
                <ul class="media-list">
                    <li class="media so_com" id="hide_me_so">
                        <div class="media-body">
                            <div class="well well-lg">
                                <h4 class="media-heading text-uppercase reviews">
                                    @comment_num.UserName
                                </h4>
                                <ul class="media-date text-uppercase reviews list-inline">
                                    @comment_num.PostDate.Value.ToString("MM/dd/yyyy")
                                </ul>
                                <p class="media-comment">
                                    @comment_num.PartComment
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="temp_hide_me_delete" id="@comment_num.OrderVal">
                <div class="media-body">

                    @if (@comment_num.PostID > 0 && (comment_num.RoleDesc == "SALES MANAGER" || comment_num.RoleDesc == "ADMINISTRATOR"))
                    {
                        <input type="button" id="deleting_commentSO" name="@comment_num.PostID" class="btn btn-warning" value="Delete" onclick="(this.PostID)">@*<p hidden id="post_id">@comment_num.PostID</p>*@
                    }
                </div>
            </div>
        </div>
        }
        }
        else if (comment_num.OrderVal == comment_num.SalesOrderNum || comment_num.OrderVal == comment_num.QuoteNum)
        {
        <div class="row" id="@comment_num.SalesOrderNum">
            <p hidden id="com_post_idSO">@comment_num.PostID</p>
            <p hidden class="hidden_so" id="so_num_check">@comment_num.SalesOrderNum</p>

            <div class="temp_hide_me" id="@comment_num.OrderVal">
                <ul class="media-list">
                    <li class="media" id="hide_me_so">
                        <div class="media-body">
                            <div class="well well-lg">
                                <h4 class="media-heading text-uppercase reviews">
                                    @comment_num.UserName
                                </h4>
                                <ul class="media-date text-uppercase reviews list-inline">
                                    @comment_num.PostDate.Value.ToString("MM/dd/yyyy")
                                </ul>
                                <p class="media-comment">
                                    @comment_num.PartComment
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="temp_hide_me_delete" id="@comment_num.OrderVal">
                <div class="media-body">

                    @if (@comment_num.PostID > 0 && (comment_num.RoleDesc == "SALES MANAGER" || comment_num.RoleDesc == "ADMINISTRATOR"))
                    {
                        <input type="button" id="deleting_commentSO" name="@comment_num.PostID" class="btn btn-warning" value="Delete" onclick="(this.PostID)">@*<p hidden id="post_id">@comment_num.PostID</p>*@
                    }

                </div>
            </div>
        </div>
        }
        }
        @*</table>*@

    </div>
        }


    }


