﻿
@model RequestForQuoteSharePointWeb.Models.OriginalPricingTool




@using (Html.BeginForm("_CommentsAddOrigSO", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


<div class="container" id="main_comment_container">
    <div class="row">
        @Html.TextBoxFor(c => c.NewComment.NewPartComment, new { @class = "form-control md-8", @rows = "2" })
    </div>
    <div class="row">
        <input type="button" runat="server" class="btn btn-success" id="Add_CommentSO" value="Submit Comment" />
    </div>
 
        <div class="row" id="fake_commentSO">
            <ul class="media-list" id="so_com_list">
                <li class="media">
                    <div class="media-body">
                        <div class="well well-lg">
                            <h4 class="media-heading text-uppercase reviews">
                                <p id="usernameSO"></p>
                            </h4>
                            <ul class="media-date text-uppercase reviews list-inline">
                                <p id="post_dateSO"></p>
                            </ul>
                            <p class="media-comment">
                                <p id="post_commentSO"></p>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    
</div>
}