﻿
@model RequestForQuoteSharePointWeb.Models.OriginalPricingTool




@using (Html.BeginForm("_CommentsAddOrig", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


<div class="container">
	<div class="row">
		<div class="col-xs-12" style="padding-bottom: 4px; margin-left: -15px;">
			@Html.TextBoxFor(c => c.NewComment.NewPartComment, new { @class = "form-control md-8", @rows = "2", id = "PartComment" })
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12" style="padding-bottom: 4px; margin-left: -15px;">
			<input type="button" runat="server" class="btn btn-success" id="Add_Comment" value="Submit Comment" />
		</div>
	</div>
	<div class="row" id="fake_comment">
		<ul class="media-list">
			<li class="media">
				<div class="media-body">
					<div class="well well-lg">
						<h4 class="media-heading text-uppercase reviews">
							<p id="username"></p>
						</h4>
						<ul class="media-date text-uppercase reviews list-inline">
							<p id="post_date"></p>
						</ul>
						<p class="media-comment">
						<p id="post_comment"></p>
						</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
}