﻿
@model RequestForQuoteSharePointWeb.Models.OriginalPricingTool

<script type="text/javascript">

    

    $(document).on('click', '#deleting_comment', function(event) {
        //var post_id_val = $(elem);
        //var text = $(PostID).text();
        var domElement = $(event.target);
        var post_id_val = domElement.attr('name');
        //alert(text);
        //var post_id_val = //document.getElementsByID(deleting_comment);
            post_id_val = parseFloat(post_id_val);

            var payload = {
                com: {
                    PostID: post_id_val,
                },
                // include verification token
                __RequestVerificationToken: $('[name=__RequestVerificationToken]').val(),
            };
            //alert(PartNumber);
            $.ajax({
                type: "POST",
                url: '/Home/_CommentDeletion',
                data: payload,
                success: function (msg) {

                    document.getElementById(post_id_val).style.display = "none";
                    //document.getElementById("deleting_comment").style.display = "none";
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Deletion of comment failed. Please consult your system administrator.");
                }
            });
        
    });
</script>

@using (Html.BeginForm("_CommentsOrig", "Home", FormMethod.Get))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    if (Model.Comments != null)
    {
<div class="container" id="comments_view">
    @foreach (var comment_num in Model.Comments)
    {
        if (comment_num.SalesOrderNum == null || comment_num.QuoteNum == null)
        {
            if ((comment_num.SalesOrderNum == "") || (comment_num.QuoteNum == ""))
            {
                <div class="row" id="@comment_num.PostID">
                    <p hidden id="com_post_id">@comment_num.PostID</p>
                    <p hidden id="com_so_num">@comment_num.SalesOrderNum</p>
                    <p hidden id="com_qt_num">@comment_num.QuoteNum</p>

                    <ul class="media-list">
                        <li class="media">
                            <div class="media-body">
                                <div class="well well-lg">
                                    <h4 class="media-heading text-uppercase reviews">
                                        @comment_num.UserName
                                    </h4>
                                    <ul class="media-date text-uppercase reviews list-inline">
                                        @comment_num.PostDate.Value.ToString("MM/dd/yyyy")
                                    </ul>
                                    <p class="media-comment">
                                        @comment_num.PartComment
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="media-body">

                        @if (@comment_num.PostID > 0 && (comment_num.RoleDesc == "SALES MANAGER" || comment_num.RoleDesc == "ADMINISTRATOR"))
                        {
                            <input type="button" id="deleting_comment" name="@comment_num.PostID" class="btn btn-warning" value="Delete" onclick="(this.PostID)">@*<p hidden id="post_id">@comment_num.PostID</p>*@
                        }

                    </div>
                </div>
            }
        }
        else if (comment_num.SalesOrderNum == null || comment_num.QuoteNum == null)
        {
            if (comment_num.QuoteNum == "" || comment_num.SalesOrderNum == "")
            {
                <div class="row" id="@comment_num.PostID">
                    <p hidden id="com_post_id">@comment_num.PostID</p>
                    <p hidden id="com_so_num">@comment_num.SalesOrderNum</p>
                    <p hidden id="com_qt_num">@comment_num.QuoteNum</p>

                    <ul class="media-list">
                        <li class="media">
                            <div class="media-body">
                                <div class="well well-lg">
                                    <h4 class="media-heading text-uppercase reviews">
                                        @comment_num.UserName
                                    </h4>
                                    <ul class="media-date text-uppercase reviews list-inline">
                                        @comment_num.PostDate.Value.ToString("MM/dd/yyyy")
                                    </ul>
                                    <p class="media-comment">
                                        @comment_num.PartComment
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="media-body">

                        @if (@comment_num.PostID > 0 && (comment_num.RoleDesc == "SALES MANAGER" || comment_num.RoleDesc == "ADMINISTRATOR"))
                        {
                            <input type="button" id="deleting_comment" name="@comment_num.PostID" class="btn btn-warning" value="Delete" onclick="(this.PostID)">@*<p hidden id="post_id">@comment_num.PostID</p>*@
                        }

                    </div>
                </div>
            }
        }
        else if ((comment_num.SalesOrderNum == "" && comment_num.QuoteNum == "") || (comment_num.SalesOrderNum==null && comment_num.QuoteNum ==null))
        {
            <div class="row" id="@comment_num.PostID">
                <p hidden id="com_post_id">@comment_num.PostID</p>
                <p hidden id="com_so_num">@comment_num.SalesOrderNum</p>
                <p hidden id="com_qt_num">@comment_num.QuoteNum</p>

                <ul class="media-list">
                    <li class="media">
                        <div class="media-body">
                            <div class="well well-lg">
                                <h4 class="media-heading text-uppercase reviews">
                                    @comment_num.UserName
                                </h4>
                                <ul class="media-date text-uppercase reviews list-inline">
                                    @comment_num.PostDate.Value.ToString("MM/dd/yyyy")
                                </ul>
                                <p class="media-comment">
                                    @comment_num.PartComment
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="media-body">

                    @if (@comment_num.PostID > 0 && (comment_num.RoleDesc == "SALES MANAGER" || comment_num.RoleDesc == "ADMINISTRATOR"))
                    {
                        <input type="button" id="deleting_comment" name="@comment_num.PostID" class="btn btn-warning" value="Delete" onclick="(this.PostID)">@*<p hidden id="post_id">@comment_num.PostID</p>*@
                    }

                </div>
            </div>
        }

    }

</div>
        }

    }


