﻿@model RequestForQuoteSharePointWeb.Models.GetPricingInfo

@*<script type="text/javascript">

    $(document).on('click', '#delete_button', function deleting_comment() {
        var payload = {
            Comment: {
                PostID: $('#PostID').val(),
            },
            __RequestVerificationToken: $('[name=__RequestVerificationToken]').val(),
        };
        //alert(PartNumber);
        $.ajax({
            type: "POST",
            url: '/Home/_CommentDeletion',
            data: payload,
            success: function (msg) {
                alert("Comment deleted.");
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Deletion of comment failed. Please consult your system administrator.");
            }
        });
    });
</script>*@
@using (Html.BeginForm("_Comments", "Home", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    //@model RequestForQuote.BundleConfig

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    if (Model.Comments != null)
    {
        <div class="container">
            @foreach (var comment_num in Model.Comments)
            {
            <div class="row" id="comment_1">
                <ul class="media-list">
                    <li class="media">
                        <div class="media-body">
                            <div class="well well-lg">
                                <h4 class="media-heading text-uppercase reviews">
                                    @comment_num.UserName
                                </h4>
                                <ul class="media-date text-uppercase reviews list-inline">
                                    @comment_num.PostDate.Value.ToString("MM/dd/yyyy")
                                </ul>
                                <p class="media-comment">
                                    @comment_num.PartComment
                                </p>
                                <p hidden id="post_id">@comment_num.PostID</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="media-body">
                    <div class="well well-lg">
                        @if (@comment_num.PostID > 0 && (comment_num.RoleDesc == "SALES MANAGER" || comment_num.RoleDesc=="ADMINISTRATOR"))
                        {
                            <input type="button" class="btn btn-warning" value="Delete" id="delete_button" onclick="delete_comment()" />
                        }
                    </div>
                </div>
            </div>

            }
        </div>
    }

}


