﻿@model RequestForQuoteSharePointWeb.Models.GetPricingInfo

@using (Html.BeginForm("_CommentAdd", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="container">
            <div class="row">
                @Html.TextBoxFor(c => c.NewComment.NewPartComment, new { @class = "form-control md-8", @rows = "2" })
            </div>
            <div class="row">
                <input type="submit" runat="server" class="btn btn-success" id="Add_Comment" value="Submit Comment" />
            </div>
        </div>
}