﻿
@model RequestForQuoteSharePointWeb.Models.Configure


@using (Html.BeginForm("_ConfigureProductGroup", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    //@model RequestForQuote.BundleConfig
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="container" id="main_comment_container">
        <div class="form-group">
            <label class="col-xs-2 col-form-label" for="request_id">Choose Product Group: </label>
            
            @Html.DropDownListFor(m => m.ProductGroup, Model.ProductGroups, "--Select Group --", htmlAttributes: new { @class = "form-control form-control-lg" })
        </div>
    </div>
}
