﻿
@model RequestForQuoteSharePointWeb.Models.Configure


@using (Html.BeginForm("_ConfigureValueStream", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    //@model RequestForQuote.BundleConfig
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="container" id="main_comment_container">
        <div class="form-group">
            <label class="col-xs-2 col-form-label" for="request_id">Choose Value Stream: </label>

            @*@Html.DropDownListFor(model => model.ValueStreamVal, new SelectList(Model.ValueStream, "Text", "Value", Model.ValueStreamVal))*@
            @Html.DropDownListFor(m => m.ValueStream, Model.ValueStream, "--Select Value Stream--", htmlAttributes: new { @class = "form-control form-control-lg" })
        </div>
    </div>
}
