﻿
@model RequestForQuoteSharePointWeb.Models.Configure


@using (Html.BeginForm("_ConfigureProductCode", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    //@model RequestForQuote.BundleConfig
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="container" id="main_comment_container">
        <div class="form-group">
            <label class="col-xs-2 col-form-label" for="request_id">Choose Product Code: </label>
            @Html.CheckBoxFor(m => m.ProductCodeCheck, htmlAttributes: new { @class = "form-control form-control-lg" })
            @Html.DropDownListFor(m => m.ProductCode, Model.ProductCodes, "--Select Product Code--", htmlAttributes: new { @class = "form-control form-control-lg" })
        </div>
    </div>
}
