@model  IEnumerable<RequestForQuoteSharePointWeb.Models.QuoteLineItems>
@using GridMvc.Html

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />

<div class="code-cut">
  @Html.Grid(Model).Columns(Columns=>
{
  Columns.Add(c => c.QCLineNum).Titled("Line").Filterable(true);
  Columns.Add(c => c.QCPartNumber).Titled("Part Number").Filterable(false);
  Columns.Add(c => c.QCLineComments).Titled("Line Comments").Filterable(false);
  Columns.Add(c => c.QCQuoteQty).Titled("Quote Quantity").Filterable(false);
  Columns.Add(c => c.QCQuoteUnitCost).Titled("Unit Cost").Filterable(false);
  Columns.Add(c => c.QCQuoteUnitPrice).Titled("Unit Price").Filterable(false);
  Columns.Add(c => c.QCQuoteUnitCost).Titled("Unit Cost").Filterable(false);
  Columns.Add(c => c.QCExtCost).Titled("Ext Cost").Filterable(false);
  Columns.Add(c => c.QCMargin).Titled("Margin").Filterable(false);
  Columns.Add(c => c.QCLeadTime).Titled("Lead Time").Filterable(true);
  Columns.Add()
      .Encoded(false)
      .Sanitized(false)
      .RenderValueAs(o => Html.ActionLink("Edit", "ViewQuoteLine", new { QCLineNum = o.QCLineNum })); 
})
</div>
