@model RequestForQuoteSharePointWeb.Models.OriginalPricingTool

@using (Html.BeginForm("_QuoteWorkbench", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row clearfix">
      <div class="col-md-12 column">
        @*<input id="update_button" type="button" class="btn btn-primary" value="Add" />*@
        <br />
        @if (Model.GenerateQuoteHeader.PartNumber != null)
        {

          <table class="table order-list table-hover" id="tableWorkbenchDetail" style="100%">
            @if (Model.QuoteWorkbenchList != null)
            {
              <tr>
                  <th class="text-center">#</th>
                  @*<th>Line Num</th>*@
                  <th>Part Number</th>
                  <th>Customer Part Number</th>
                  <th>Lead Time</th>
                  <th>Comment</th>
                  <th>Qty</th>
                  <th>Unit Price</th>
                  @*<th>Fzn Cost</th>*@
                  <th>Unit Cost</th>
                  <th>Ext Price</th>
                  <th>Calc Cost</th>
                  <th></th>
              </tr>

              foreach (var wkbc in Model.QuoteWorkbenchList)
              {

          <tr>
              <td id="wkbench_line_num">@wkbc.QCLineNum</td>
              <td>@wkbc.QCPartNumber</td>
              <td id"cust_part_num_line_label">@wkbc.QCCustPartNumber</td>
              <td>@wkbc.QCLeadTime</td>
              <td>@wkbc.QCLineComments</td>
              <td>@wkbc.QCQuoteQty</td>
              <td>@wkbc.QCQuoteUnitPrice</td>
              @*<td>@wkbc.QCFznUnitCost</td>*@
              <td>@wkbc.QCUnitCost</td>
              <td>@(Convert.ToDecimal((wkbc.QCQuoteQty * wkbc.QCQuoteUnitPrice)).ToString("n2"))</td>
              <td>@wkbc.QCCalcCost</td>
              <td><input type="button" class="bg-warning" value="Delete" id="workbench_delete" /></td>
          </tr>
              }
            }
          </table>

          <table class="table order-list table-hover" id="tableAddRow" style="100%">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Part Num</th>
                    <th id="cust_part_num_wkbc">Cust Part Num</th>
                    <th>Lead Time</th>
                    <th>Comments</th>
                    <th>Qty</th>
                    <th>Unit Price</th>
                    @*<th>Fzn Cost</th>*@
                    <th>Unit Cost</th>
                    <th>Calc Cost</th>
                    @*<th style="width:10px"><span class="glyphicon glyphicon-plus addBtn" id="addBtn"></span></th>*@
                </tr>
            </thead>
            <tbody>
                <tr id="addr">
                    <td>1</td>
                    <td>@Html.TextBoxFor(x => x.QuoteWorkbench.QCPartNumber, new { @class = "form-control", @id = "part_num" })</td>
                    <td>@Html.TextBoxFor(x => x.QuoteWorkbench.QCCustPartNumber, new { @class = "form-control", @id = "line_cust_part_num" })</td>
                    <td>@Html.TextBoxFor(x => x.QuoteWorkbench.QCLeadTime, new { @class = "form-control", @id = "line_lead_time" })</td>
                    <td>@Html.TextBoxFor(x => x.QuoteWorkbench.QCLineComments, new { @class = "form-control", @id = "line_comments" })</td>
                    <td>@Html.TextBoxFor(x => x.QuoteWorkbench.QCQuoteQty, new { @class = "form-control", @id = "quote_qty" })</td>
                    <td>@Html.TextBoxFor(x => x.QuoteWorkbench.QCQuoteUnitPrice, new { @class = "form-control", @id = "unit_price" })</td>
                    <td>@Html.TextBoxFor(x => x.QuoteWorkbench.QCQuoteUnitCost, new { @class = "form-control", @id = "wbch_unit_cost" })</td>
                    <td>@Html.TextBoxFor(x => x.QuoteWorkbench.QCCalcCost, new { @class = "form-control", @id = "wbch_calc_cost" })</td>
                    @*<td><label id="QCExtPrice" /></td>*@
                    @*<td><input type="text" class="form-control" id="part_num1" /></td>
        <td><input type="text" class="form-control" id="line_comments1" /></td>
        <td><input type="text" class="form-control" id="quote_qty1" /></td>
        <td><input type="text" class="form-control" id="unit_price1" /></td>
        <td><input type="text" class="form-control" id="unit_cost1" /></td>*@
                    <td></td>
                </tr>
            </tbody>
          </table>

          <input id="update_button" type="button" class="btn btn-primary" value="Add" />
          
        }
      </div>
    </div>
}
