@model RequestForQuoteSharePointWeb.Models.QualifiedParts

@{
    ViewBag.Title = "Add Qualification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>AddProductCode</h2>*@
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-offset-1 col-md-10">
        @using (Html.BeginForm("AddQualifiedPart", "Home", FormMethod.Post, new { @class = "pause-onsubmit-form" }))
        {
          @Html.AntiForgeryToken()

          <div class="form-horizontal">
            <h4>Add Qualified Part</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
              @Html.LabelFor(model => model.SpecificationStandard, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-8">
                @Html.EditorFor(model => model.SpecificationStandard, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.SpecificationStandard, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.CustodianPart, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-8">
                @Html.EditorFor(model => model.CustodianPart, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustodianPart, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.Custodian, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-8">
                @Html.EditorFor(model => model.Custodian, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Custodian, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.Manufacturer, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-8">
                @Html.EditorFor(model => model.Manufacturer, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Manufacturer, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.MaterialType, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-8">
                @Html.EditorFor(model => model.MaterialType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaterialType, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.Size, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-8">
                @Html.EditorFor(model => model.Size, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.Range, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-8">
                @Html.EditorFor(model => model.Range, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Range, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.Finish, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-8">
                @Html.EditorFor(model => model.Finish, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Finish, "", new { @class = "text-danger" })
              </div>
            </div>
            <div class="form-group">
              @Html.LabelFor(model => model.CompetitorPrice, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-8">
                @Html.EditorFor(model => model.CompetitorPrice, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.CompetitorPrice, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-8">
                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
              </div>
            </div>

            @*<div class="form-group">
              @Html.LabelFor(model => model.Organization, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-8">
                @Html.EditorFor(model => model.Organization, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
              </div>
            </div>*@

            @*<div class="form-group">
              @Html.LabelFor(model => model.DateCreated, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-8">
                @Html.EditorFor(model => model.DateCreated, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateCreated, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.EnteredBy, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-8">
                @Html.EditorFor(model => model.EnteredBy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EnteredBy, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.ModifiedBy, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-8">
                @Html.EditorFor(model => model.ModifiedBy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ModifiedBy, "", new { @class = "text-danger" })
              </div>
            </div>*@

            <div class="form-group">
              <div class="col-md-offset-4 col-md-8">
                <input type="submit" value="Create" class="btn btn-primary" />
              </div>
            </div>
          </div>
        }

        <div>
          @Html.ActionLink("Back to List", "QualifiedPartsListing")
        </div>
      </div>
    </div>
  </div>
