﻿@model IEnumerable<RequestForQuoteSharePointWeb.Models.ConfigureMargins>
@using GridMvc.Html
@{
    ViewBag.Title = "Configure";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Configure</h2>


<style>
    @@media (min-width: 768px) {
        .container {
            margin-left: 0px;
            margin-right: 0px;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            max-width: 100vw;
        }

        .card {
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
            padding-left: 0px;
            padding-right: 0px;
            /*display:inline-block;*/
        }

        .scroll {
            overflow-y: scroll;
            max-height: 525px;
        }

        .row {
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }
    }
</style>

<br />
<script type="text/javascript">
    $(document).on('click', '#add_margin', function add_lta() {
            $.ajax({
                type: "GET",
                url: '/Home/AddMargin',
                //data: payload,
                success: function (redirect) {
                    //return Json(new { result = "Redirect", url = Url.Action("Add", "AddLTA") });
                    window.location.href = '@Url.Action("AddMargin", "Home")';
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Failed to navigate to margin entry.");
                }
            });
        
    });
</script>

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
@Scripts.Render("~/Scripts/gridmvc.min.js")

<div>
    <button type="button" class="btn btn-primary" id="add_margin">Add</button>
</div>

<div class="code-cut">
    @Html.Grid(Model).Columns(Columns=>
{
    Columns.Add(c => c.margin_id).Titled("ID").Filterable(true);
    Columns.Add(c => c.division_id_val).Titled("Division Applied").Sortable(true).Filterable(true);
    Columns.Add(c => c.value_stream_val).Titled("Value Stream").Sortable(true).Filterable(true);
    Columns.Add(c => c.product_group_val).Titled("Product Group").Sortable(true).Filterable(true);
    Columns.Add(c => c.product_code_val).Titled("Product Code").Sortable(true).Filterable(true);
    Columns.Add(c => c.customer_number_val).Titled("Customer Number").Sortable(true).Filterable(true);
    Columns.Add(c => c.internal_part_number_val).Titled("Internal Part Number").Sortable(true).Filterable(true);
    Columns.Add(c => c.customer_part_number_val).Titled("Customer Part Number").Sortable(true).Filterable(true);
    Columns.Add(c => c.other_val).Titled("Other").Sortable(true).Filterable(true);
    Columns.Add(c => c.margin_value).Titled("Margin").Sortable(true).Filterable(true);
    Columns.Add(c => c.quantity_break_range_start).Titled("Qty Start").Filterable(false);
    Columns.Add(c => c.quantity_break_range_finish).Titled("Qty End").Filterable(false);
    Columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(o => Html.ActionLink("Edit", "EditMargin", new { MARGIN_ID = o.margin_id }));
    Columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(o => Html.ActionLink("Add", "AddMargin", new { MARGIN_ID = o.margin_id }));
}).WithPaging(20).Sortable(true)
</div>

<div>
    @Html.ActionLink("Back to Home", "Index")
</div>

