﻿@model  IEnumerable<RequestForQuoteSharePointWeb.Models.CostFactors>
@using GridMvc.Html
@{
    ViewBag.Title = "CostFactors";
    //var grid = new WebGrid(source: Model, canPage: true, rowsPerPage10);
    //grid.Pager(WebGridPagerModes.All);
}

<style>
    @@media (min-width: 768px) {
        .container {
            margin-left: 0px;
            margin-right: 0px;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            max-width: 100vw;
        }

        .card {
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
            padding-left: 0px;
            padding-right: 0px;
            /*display:inline-block;*/
        }

        .scroll {
            overflow-y: scroll;
            max-height: 525px;
        }

        .row {
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }
    }
</style>

<br />
<h2>Cost Factor Listing</h2>

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
@Scripts.Render("~/Scripts/gridmvc.min.js")

<div class="code-cut">
    @Html.Grid(Model).Columns(Columns=>
{
    Columns.Add(c => c.Factor_ID).Titled("ID").Filterable(true);
    Columns.Add(c => c.PartNumber).Titled("Part Number").Sortable(true).Filterable(true);
    Columns.Add(c => c.Description).Titled("Description").Filterable(false);
    Columns.Add(c => c.Factor_500).Titled("Factor 500").Filterable(false);
    Columns.Add(c => c.Factor_1000).Titled("Factor 1000").Filterable(false);
    Columns.Add(c => c.Factor_2500).Titled("Factor 2500").Filterable(false);
    Columns.Add(c => c.Factor_5000).Titled("Factor 5000").Filterable(false);
    Columns.Add(c => c.Factor_10000).Titled("Factor 10000").Filterable(false);
    Columns.Add(c => c.Factor_25000).Titled("Factor 25000").Filterable(false);
    Columns.Add(c => c.Factor_50000).Titled("Factor 50000").Filterable(false);
    Columns.Add(c => c.Factor_100000).Titled("Factor 100000").Filterable(false);
    Columns.Add(c => c.LastEditBy).Titled("Last Edited By").Filterable(false);
    Columns.Add(c => c.LastEditDate).Titled("Last Edited").Filterable(false);
    Columns.Add(c => c.Comments).Titled("Comments").Filterable(false);
    Columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(o => Html.ActionLink("Edit", "EditCostFactor", new { Factor_ID = o.Factor_ID }));
}).WithPaging(10).Sortable(true)
</div>

<div>
    @Html.ActionLink("Back to Data Management", "DataManagementConsole")
</div>

