﻿@model RequestForQuoteSharePointWeb.Models.MakeRequestData
@{
    /**/

    ViewBag.Title = "Create a Quote";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Please create a request for quote routing to Engineering for evaluation and proposal. Required fields are marked by an *.</h5>

@if( !string.IsNullOrEmpty(ViewBag.ErrorMsg))
{
    <div class="text-danger">
        <h3>@ViewBag.ErrorMsg</h3>
    </div>
}
@using (Html.BeginForm("CreateQuote", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    //@model RequestForQuote.BundleConfig
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <form method="post" class="form-group start" action="CreateQuote" onload="alert(document.getelementbyid('market_price'));">
        <div class="control-group flex-row">
            <div class="form-group start">
                <label class="col-xs-2 col-form-label" for="part_standard">Part Series*: </label>
                @Html.TextBoxFor(x => x.PartSeries, new { @class = "form-control", @required = "required" })
            </div>
            <h5>The following represents the expected value calculator for use when determining profitability for each line item.</h5>
            <!--calculator for expected value-->
            <div class="form-inline market" id="hide-calculator">
                <div class="col-2 col-form-label">
                    <input type="button" onclick="hide_calculation()" id="hide_calculator" value="Hide Calculator" class="btn btn-primary" />
                </div>
                <div class="form-inline market" id="calculation">
                    <div class="col-sm-2">
                        <label for="annual_market_size">Market Size ($M):</label>
                        <input type="number" class="form-control" id="market_size_val" oninput="calculate()">
                    </div>
                    <div class="col-sm-2">
                        <label for="target_capture">Target Capture (%): </label>
                        <input type="number" class="form-control" id="target_capture_val" oninput="calculate()">
                    </div>
                    <div class="col-sm-2">
                        <label for="peak_revenue">Peak Revenue ($M): </label>
                        <input readonly type="number" class="form-control" id="peak_revenue_val">
                    </div>
                    <div class="col-sm-2">
                        <label for="probability">Probability (%): </label>
                        <input type="number" class="form-control" id="probability_val">
                    </div>
                    <div class="col-sm-2">
                        <label for="expected_value">Expected Value ($M): </label>
                        <input readonly type="number" class="form-control" id="expected_value_val">
                    </div>
                    <div class="col-sm-1">
                        <input type="button" id="calculate" class="btn btn-primary" onclick="calculate()" name="calculate" value="Calculate and Apply" />
                    </div>
                </div>

            </div>
            <br />

            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <table class="table order-list table-hover" id="tableAddRow" style="100%">
                            <!--Was request_lines as id-->
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Size</th>
                                    <th>Platform</th>
                                    <th>Material Type</th>
                                    <th>Expected Value ($M)</th>
                                    <th>Market Price</th>
                                    <th>Estimated Quantity</th>
                                    <th>Attributes</th>
                                    @*<th></th>*@
                                    <th style="width:10px"><span class="glyphicon glyphicon-plus addBtn" id="addBtn_0"></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="addr1">
                                    <td>1</td>
                                    <td class="col-sm-1">
                                        @Html.TextBoxFor(m => m.Size1, new { @class = "form-control", required = "required", @type = "number" })
                                    </td>
                                    <td class="col-sm-2">
                                        @Html.TextBoxFor(m => m.Platform1, new { @class = "form-control", required = "required" })
                                    </td>
                                    <td class="col-sm-2">
                                        @Html.DropDownListFor(m => m.Material_Type_ID1, Model.MaterialTypeList1, "--Select Material--", htmlAttributes: new { @class = "form-control form-control-lg", required = "required" })
                                    <td class="col-sm-2">
                                        @Html.TextBoxFor(m => m.EstRevenueYr11, htmlAttributes: new { @class = "form-control", required = "required", type = "number", id = "expected_value_val21", name = "expected_value_val21" })
                                    </td>
                                    <td class="col-sm-1">
                                        @Html.TextBoxFor(m => m.MarketPrice1, htmlAttributes: new { @class = "form-control", required = "required", type = "number", id = "market_price1", name = "market_price1", step="any" })
                                    </td>
                                    <td class="col-sm-2">
                                        @Html.TextBoxFor(m => m.EstQtyYr11, htmlAttributes: new { @class = "form-control", type = "number", id = "est_qty_yr1", name = "est_qty_yr1", @readonly = true })
                                    </td>

                                    <td class="col-sm-2">
                                        <button name="attributes" id="attributes1" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ChooseAttribute1" data-whatever="PickDate" placeholder="attributes">Attributes</button>
                                        <!--start of button add due date-->
                                        <div class="modal" id="ChooseAttribute1" tabindex="-1" role="dialog" aria-labelledby="ChooseAttribute" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="ChooseDueDate">Line Attributes:</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label for="line-due-date" class="col-form-label">Due Date:</label>
                                                            @Html.TextBoxFor(m => m.DueDate1, new { @class = "form-control", type = "date", required = "required" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="line-priority-level" class="col-form-label">Priority:</label>
                                                            @Html.DropDownListFor(m => m.Priority_ID1, Model.PriorityTypeDescList1, "--Select Priority--", htmlAttributes: new { @class = "form-control form-control-lg", @required = "required" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="other-sources" class="col-form-label">Other Sources:</label>
                                                            @Html.TextBoxFor(m => m.OtherSource1, new { @class = "form-control" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="expected_value_yr2" class="col-form-label">Expected Value Yr 2</label>
                                                            @Html.TextBoxFor(m => m.EstRevenueYr21, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_qty_yr2" class="col-form-label">Est. Quantity Yr 2</label>
                                                            @Html.TextBoxFor(m => m.EstQtyYr21, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="expected_value_yr3" class="col-form-label">Expected Value Yr 3</label>
                                                            @Html.TextBoxFor(m => m.EstRevenueYr31, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_qty_yr3" class="col-form-label">Est. Quantity Yr 3</label>
                                                            @Html.TextBoxFor(m => m.EstQtyYr31, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="expected_value_yr4" class="col-form-label">Expected Value Yr 4</label>
                                                            @Html.TextBoxFor(m => m.EstRevenueYr41, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_qty_yr4" class="col-form-label">Est. Quantity Yr 4</label>
                                                            @Html.TextBoxFor(m => m.EstQtyYr41, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="expected_value_yr5" class="col-form-label">Expected Value Yr 5</label>
                                                            @Html.TextBoxFor(m => m.EstRevenueYr51, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_qty_yr5" class="col-form-label">Est. Quantity Yr 5</label>
                                                            @Html.TextBoxFor(m => m.EstQtyYr51, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Save and Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-sm-2">
                                        <button name="show_calculator" id="show_calculator" type="button" class="btn btn-primary" onclick="Show_Calculator()" placeholder="Show Calculator">Show Calculator</button>
                                    </td>
                                    <td><span class="glyphicon glyphicon-minus addBtnRemove" id="addBtn1"></span></td>
                                </tr>
                                <tr id="addr2">
                                    <td>2</td>
                                    <td class="col-sm-1">
                                        @Html.TextBoxFor(m => m.Size2, new { @class = "form-control", @type = "number" })
                                    </td>
                                    <td class="col-sm-2">
                                        @Html.TextBoxFor(m => m.Platform2, new { @class = "form-control" })
                                    </td>
                                    <td class="col-sm-2">
                                        @Html.DropDownListFor(m => m.Material_Type_ID2, Model.MaterialTypeList2, "--Select Material--", htmlAttributes: new { @class = "form-control form-control-lg" })
                                    <td class="col-sm-2">
                                        @Html.TextBoxFor(m => m.EstRevenueYr12, htmlAttributes: new { @class = "form-control", type = "number", id = "expected_value_val22", name = "expected_value_val22" })
                                    </td>
                                    <td class="col-sm-1">
                                        @Html.TextBoxFor(m => m.MarketPrice2, htmlAttributes: new { @class = "form-control", type = "number", id = "market_price2", name = "market_price2" })
                                    </td>
                                    <td class="col-sm-2">
                                        @Html.TextBoxFor(m => m.EstQtyYr12, htmlAttributes: new { @class = "form-control", type = "number", id = "est_qty_yr2", name = "est_qty_yr2", @readonly = true })
                                    </td>

                                    <td class="col-sm-2">
                                        <button name="attributes" id="attributes2" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ChooseAttribute2" data-whatever="PickDate" placeholder="attributes">Attributes</button>
                                        <!--start of button add due date-->
                                        <div class="modal" id="ChooseAttribute2" tabindex="-1" role="dialog" aria-labelledby="ChooseAttribute" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="ChooseDueDate">Line Attributes:</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label for="line-due-date" class="col-form-label">Due Date:</label>
                                                            @Html.TextBoxFor(m => m.DueDate2, new { @class = "form-control", type = "date" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="line-priority-level" class="col-form-label">Priority:</label>
                                                            @Html.DropDownListFor(m => m.Priority_ID2, Model.PriorityTypeDescList1, "--Select Priority--", htmlAttributes: new { @class = "form-control form-control-lg" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="other-sources" class="col-form-label">Other Sources:</label>
                                                            @Html.TextBoxFor(m => m.OtherSource2, new { @class = "form-control" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="expected_value_yr2" class="col-form-label">Expected Value Yr 2</label>
                                                            @Html.TextBoxFor(m => m.EstRevenueYr22, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_qty_yr2" class="col-form-label">Est. Quantity Yr 2</label>
                                                            @Html.TextBoxFor(m => m.EstQtyYr22, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="expected_value_yr3" class="col-form-label">Expected Value Yr 3</label>
                                                            @Html.TextBoxFor(m => m.EstRevenueYr32, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_qty_yr3" class="col-form-label">Est. Quantity Yr 3</label>
                                                            @Html.TextBoxFor(m => m.EstQtyYr32, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="expected_value_yr4" class="col-form-label">Expected Value Yr 4</label>
                                                            @Html.TextBoxFor(m => m.EstRevenueYr42, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_qty_yr4" class="col-form-label">Est. Quantity Yr 4</label>
                                                            @Html.TextBoxFor(m => m.EstQtyYr42, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="expected_value_yr5" class="col-form-label">Expected Value Yr 5</label>
                                                            @Html.TextBoxFor(m => m.EstRevenueYr52, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_qty_yr5" class="col-form-label">Est. Quantity Yr 5</label>
                                                            @Html.TextBoxFor(m => m.EstQtyYr52, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Save and Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-sm-2"></td>
                                    <td><span class="glyphicon glyphicon-minus addBtnRemove" id="addBtn2"></span></td>
                                </tr>
                                @*  <tr id='addr1'></tr>*@
                                <tr id="addr3">
                                    <td>3</td>
                                    <td class="col-sm-1">
                                        @Html.TextBoxFor(m => m.Size3, new { @class = "form-control", @type = "number" })
                                    </td>
                                    <td class="col-sm-2">
                                        @Html.TextBoxFor(m => m.Platform3, new { @class = "form-control" })
                                    </td>
                                    <td class="col-sm-2">
                                        @Html.DropDownListFor(m => m.Material_Type_ID3, Model.MaterialTypeList3, "--Select Material--", htmlAttributes: new { @class = "form-control form-control-lg" })
                                    <td class="col-sm-2">
                                        @Html.TextBoxFor(m => m.EstRevenueYr13, htmlAttributes: new { @class = "form-control", type = "number", id = "expected_value_val23", name = "expected_value_val23" })
                                    </td>
                                    <td class="col-sm-1">
                                        @Html.TextBoxFor(m => m.MarketPrice3, htmlAttributes: new { @class = "form-control", type = "number", id = "market_price3", name = "market_price3" })
                                    </td>
                                    <td class="col-sm-2">
                                        @Html.TextBoxFor(m => m.EstQtyYr13, htmlAttributes: new { @class = "form-control", type = "number", id = "est_qty_yr3", name = "est_qty_yr3", @readonly = true })
                                    </td>

                                    <td class="col-sm-2">
                                        <button name="attributes" id="attributes3" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ChooseAttribute3" data-whatever="PickDate" placeholder="attributes">Attributes</button>
                                        <!--start of button add due date-->
                                        <div class="modal" id="ChooseAttribute3" tabindex="-1" role="dialog" aria-labelledby="ChooseAttribute" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="ChooseDueDate">Line Attributes:</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label for="line-due-date" class="col-form-label">Due Date:</label>
                                                            @Html.TextBoxFor(m => m.DueDate3, new { @class = "form-control", type = "date" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="line-priority-level" class="col-form-label">Priority:</label>
                                                            @Html.DropDownListFor(m => m.Priority_ID3, Model.PriorityTypeDescList3, "--Select Priority--", htmlAttributes: new { @class = "form-control form-control-lg" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="other-sources" class="col-form-label">Other Sources:</label>
                                                            @Html.TextBoxFor(m => m.OtherSource3, new { @class = "form-control" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="expected_value_yr2" class="col-form-label">Expected Value Yr 2</label>
                                                            @Html.TextBoxFor(m => m.EstRevenueYr23, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_qty_yr2" class="col-form-label">Est. Quantity Yr 2</label>
                                                            @Html.TextBoxFor(m => m.EstQtyYr23, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="expected_value_yr3" class="col-form-label">Expected Value Yr 3</label>
                                                            @Html.TextBoxFor(m => m.EstRevenueYr33, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_qty_yr3" class="col-form-label">Est. Quantity Yr 3</label>
                                                            @Html.TextBoxFor(m => m.EstQtyYr33, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="expected_value_yr4" class="col-form-label">Expected Value Yr 4</label>
                                                            @Html.TextBoxFor(m => m.EstRevenueYr43, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_qty_yr4" class="col-form-label">Est. Quantity Yr 4</label>
                                                            @Html.TextBoxFor(m => m.EstQtyYr43, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="expected_value_yr5" class="col-form-label">Expected Value Yr 5</label>
                                                            @Html.TextBoxFor(m => m.EstRevenueYr53, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_qty_yr5" class="col-form-label">Est. Quantity Yr 5</label>
                                                            @Html.TextBoxFor(m => m.EstQtyYr53, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Save and Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-sm-2"></td>
                                    <td><span class="glyphicon glyphicon-minus addBtnRemove" id="addBtn3"></span></td>
                                </tr>
                                @*  <tr id='addr1'></tr>*@
                                <tr id="addr4">
                                    <td>4</td>
                                    <td class="col-sm-1">
                                        @Html.TextBoxFor(m => m.Size4, new { @class = "form-control", @type = "number" })
                                    </td>
                                    <td class="col-sm-2">
                                        @Html.TextBoxFor(m => m.Platform4, new { @class = "form-control" })
                                    </td>
                                    <td class="col-sm-2">
                                        @Html.DropDownListFor(m => m.Material_Type_ID4, Model.MaterialTypeList4, "--Select Material--", htmlAttributes: new { @class = "form-control form-control-lg" })
                                    <td class="col-sm-2">
                                        @Html.TextBoxFor(m => m.EstRevenueYr14, htmlAttributes: new { @class = "form-control", type = "number", id = "expected_value_val24", name = "expected_value_val24" })
                                    </td>
                                    <td class="col-sm-1">
                                        @Html.TextBoxFor(m => m.MarketPrice4, htmlAttributes: new { @class = "form-control", type = "number", id = "market_price4", name = "market_price4" })
                                    </td>
                                    <td class="col-sm-2">
                                        @Html.TextBoxFor(m => m.EstQtyYr14, htmlAttributes: new { @class = "form-control", type = "number", id = "est_qty_yr4", name = "est_qty_yr4", @readonly = true })
                                    </td>

                                    <td class="col-sm-2">
                                        <button name="attributes" id="attributes4" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ChooseAttribute4" data-whatever="PickDate" placeholder="attributes">Attributes</button>
                                        <!--start of button add due date-->
                                        <div class="modal" id="ChooseAttribute4" tabindex="-1" role="dialog" aria-labelledby="ChooseAttribute" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="ChooseDueDate">Line Attributes:</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label for="line-due-date" class="col-form-label">Due Date:</label>
                                                            @Html.TextBoxFor(m => m.DueDate4, new { @class = "form-control", type = "date" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="line-priority-level" class="col-form-label">Priority:</label>
                                                            @Html.DropDownListFor(m => m.Priority_ID4, Model.PriorityTypeDescList4, "--Select Priority--", htmlAttributes: new { @class = "form-control form-control-lg" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="other-sources" class="col-form-label">Other Sources:</label>
                                                            @Html.TextBoxFor(m => m.OtherSource4, new { @class = "form-control" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="expected_value_yr2" class="col-form-label">Expected Value Yr 2</label>
                                                            @Html.TextBoxFor(m => m.EstRevenueYr24, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_qty_yr2" class="col-form-label">Est. Quantity Yr 2</label>
                                                            @Html.TextBoxFor(m => m.EstQtyYr24, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="expected_value_yr3" class="col-form-label">Expected Value Yr 3</label>
                                                            @Html.TextBoxFor(m => m.EstRevenueYr34, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_qty_yr3" class="col-form-label">Est. Quantity Yr 3</label>
                                                            @Html.TextBoxFor(m => m.EstQtyYr34, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="expected_value_yr4" class="col-form-label">Expected Value Yr 4</label>
                                                            @Html.TextBoxFor(m => m.EstRevenueYr44, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_qty_yr4" class="col-form-label">Est. Quantity Yr 4</label>
                                                            @Html.TextBoxFor(m => m.EstQtyYr44, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="expected_value_yr5" class="col-form-label">Expected Value Yr 5</label>
                                                            @Html.TextBoxFor(m => m.EstRevenueYr54, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_qty_yr5" class="col-form-label">Est. Quantity Yr 5</label>
                                                            @Html.TextBoxFor(m => m.EstQtyYr54, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Save and Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-sm-2"></td>
                                    <td><span class="glyphicon glyphicon-minus addBtnRemove" id="addBtn4"></span></td>
                                </tr>
                                @*  <tr id='addr1'></tr>*@
                                <tr id="addr5">
                                    <td>5</td>
                                    <td class="col-sm-1">
                                        @Html.TextBoxFor(m => m.Size5, new { @class = "form-control", @type = "number" })
                                    </td>
                                    <td class="col-sm-2">
                                        @Html.TextBoxFor(m => m.Platform5, new { @class = "form-control" })
                                    </td>
                                    <td class="col-sm-2">
                                        @Html.DropDownListFor(m => m.Material_Type_ID5, Model.MaterialTypeList5, "--Select Material--", htmlAttributes: new { @class = "form-control form-control-lg" })
                                    <td class="col-sm-2">
                                        @Html.TextBoxFor(m => m.EstRevenueYr15, htmlAttributes: new { @class = "form-control", type = "number", id = "expected_value_val25", name = "expected_value_val25" })
                                    </td>
                                    <td class="col-sm-1">
                                        @Html.TextBoxFor(m => m.MarketPrice5, htmlAttributes: new { @class = "form-control", type = "number", id = "market_price5", name = "market_price5" })
                                    </td>
                                    <td class="col-sm-2">
                                        @*<input readonly id="est_qty_yr5" name="est_qty_yr5" type="number" placeholder="Est Qty Year" onclick="find_qty5()" class="form-control">*@
                                        @Html.TextBoxFor(m => m.EstQtyYr15, htmlAttributes: new { @class = "form-control", type = "number", id = "est_qty_yr5", name = "est_qty_yr5", @readonly = true })
                                    </td>

                                    <td class="col-sm-2">
                                        <button name="attributes" id="attributes5" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ChooseAttribute5" data-whatever="PickDate" placeholder="attributes">Attributes</button>
                                        <!--start of button add due date-->
                                        <div class="modal" id="ChooseAttribute5" tabindex="-1" role="dialog" aria-labelledby="ChooseAttribute" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="ChooseDueDate">Line Attributes:</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label for="line-due-date" class="col-form-label">Due Date:</label>
                                                            @Html.TextBoxFor(m => m.DueDate5, new { @class = "form-control", type = "date" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="line-priority-level" class="col-form-label">Priority:</label>
                                                            @Html.DropDownListFor(m => m.Priority_ID5, Model.PriorityTypeDescList5, "--Select Priority--", htmlAttributes: new { @class = "form-control form-control-lg" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="other-sources" class="col-form-label">Other Sources:</label>
                                                            @Html.TextBoxFor(m => m.OtherSource5, new { @class = "form-control" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="expected_value_yr2" class="col-form-label">Expected Value Yr 2</label>
                                                            @Html.TextBoxFor(m => m.EstRevenueYr25, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_qty_yr2" class="col-form-label">Est. Quantity Yr 2</label>
                                                            @Html.TextBoxFor(m => m.EstQtyYr25, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="expected_value_yr3" class="col-form-label">Expected Value Yr 3</label>
                                                            @Html.TextBoxFor(m => m.EstRevenueYr35, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_qty_yr3" class="col-form-label">Est. Quantity Yr 3</label>
                                                            @Html.TextBoxFor(m => m.EstQtyYr35, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="expected_value_yr4" class="col-form-label">Expected Value Yr 4</label>
                                                            @Html.TextBoxFor(m => m.EstRevenueYr45, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_qty_yr4" class="col-form-label">Est. Quantity Yr 4</label>
                                                            @Html.TextBoxFor(m => m.EstQtyYr45, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="expected_value_yr5" class="col-form-label">Expected Value Yr 5</label>
                                                            @Html.TextBoxFor(m => m.EstRevenueYr55, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_qty_yr5" class="col-form-label">Est. Quantity Yr 5</label>
                                                            @Html.TextBoxFor(m => m.EstQtyYr55, new { @class = "form-control", @type = "number" })
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Save and Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-sm-2"></td>
                                    <td><span class="glyphicon glyphicon-minus addBtnRemove" id="addBtn5"></span></td>
                                </tr>
                                <!---end of the 5th line-->
                            </tbody>
                        </table>
                    </div>
                </div>
                @*<a id="add_row" class="btn btn-default pull-left">Add Row</a><a id="delete_row" class="pull-right btn btn-default">Remove Row</a>*@
            </div>
            <br />
            @*<div class="container">*@
            <div class="form-group">
                <div class="form-group">
                    <label class="col-xs-2 cust" for="customer">Customer Name*: </label>
                    @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", @required = "required" })
                </div>
                <div class="form-group">
                    <label class="col-xs-2 cust" for="buyers_name">Buyers Name: </label>
                    @Html.TextBoxFor(m => m.BuyersName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="col-xs-2 cust" for="buyer_contact_info">Contact Information: </label>
                    @Html.TextBoxFor(m => m.ContactInfo, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group final">
                <label class="col-xs-2 opportunity" for="opportunity_type">Opportunity Type*: </label>
                @*@Html.DropDownList("Opportunity_Type_Desc",m.OpportunityTypeDescList as SelectList, "--Select Opportunity--", new { @class = "form-control", @required = "required" })*@
                @Html.DropDownListFor(m => m.Opportunity_Type_ID, Model.OpportunityTypesList, "--Select Opportunity--", new { @class = "form-control form-control-lg", @required = "required" })
            </div>
            <div class="form-group final">
                <label class="col-xs-2 opportunity" for="product_type">Product Type*: </label>
                @*@Html.DropDownList("Product_Type_Desc", m.ProductTypeDescList as SelectList, "--Select Product--", new { @class = "form-control", @required = "required" })*@
                @Html.DropDownListFor(m => m.Product_Type_ID, Model.ProductTypecList, "--Select Product--", new { @class = "form-control form-control-lg", @required = "required" })
            </div>
            <div class="form-group final">
                <label class="col-xs-2 opportunity" for="product_type">Prototype Required?: </label>
                @Html.CheckBoxFor(m => m.PrototypeRequired, new { @class = "form-check-input", @id = "prototype_required" })
            </div>
            <br />
            <br />
            <div class="form-group final">
                <label class="col-2 col-form-label" for="comments">Comments: </label>
                @Html.TextBoxFor(m => m.Comments, new { @class = "form-control" })
            </div>
            <div>
                @*<label for="save_file" class="col-form-label">Attach a Blue Print</label>*@
                @Html.TextBoxFor(m => m.BluePrintAttachment, new { @class = "form-group no-borders", @type = "file", @id = "save_file" })
            </div>
            <div>
                @*<label for="save_file" class="col-form-label">Additional Attachment</label>*@
                @Html.TextBoxFor(m => m.OtherAttachment, new { @class = "form-group no-borders", @type = "file", @id = "save_file" })
            </div>
            <div class="form-group final">
                <!--identify the form selection and pass the value back-->
                <label class="col-2 col-form-label" for="routing">Route Group: </label>
                @*@Html.DropDownList("Role_Desc", m.RoleTypeDescList as SelectList, "--Select Assignment--", new { @class = "form-control", @required = "required" })*@
                @Html.DropDownListFor(m => m.Role_ID, Model.RoleTypeList, "--Select Assignment--", new { @class = "form-control form-control-lg", @required = "required" })

            </div>
            <div class="form-group final">
                <label class="col-2 col-form-label" for="optional_assignment">Optional Assignment: </label>
                @Html.TextBoxFor(m => m.OptionalAssignment, new { @class = "form-control" })
            </div>
        </div>
        @*</div>*@
        <div class="control-group">
            @*<input type="submit" runat="server" onclick="Making_Request" name="Making_Request" value="Request Quote >" class="btn btn-primary" />*@
            <script>

            </script>
            <input type="submit" runat="server" value="Request Quote >" class="btn btn-primary" />
        </div>


    </form>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}

@section Scripts {
    <script type="text/javascript">
            $(document).on('click', '#est_qty_yr1', function find_qty1() {
                var expected_value = document.getElementById('expected_value_val21').value;
                var market_price = document.getElementById('market_price1').value;
                var calc = ((expected_value * 1000000) / market_price);
                document.getElementById('est_qty_yr1').value = calc;
            });
    </script>
    <script type="text/javascript">
            $(document).on('click', '#est_qty_yr2', function find_qty2() {
                var expected_value = document.getElementById('expected_value_val22').value;
                var market_price = document.getElementById('market_price2').value;
                var calc = ((expected_value * 1000000) / market_price);
                document.getElementById('est_qty_yr2').value = calc;
            });
    </script>
    <script type="text/javascript">
            $(document).on('click', '#est_qty_yr3', function find_qty3() {
                var expected_value = document.getElementById('expected_value_val23').value;
                var market_price = document.getElementById('market_price3').value;
                var calc = ((expected_value * 1000000) / market_price);
                document.getElementById('est_qty_yr3').value = calc;
            });
    </script>
    <script type="text/javascript">
            $(document).on('click', '#est_qty_yr4', function find_qty4() {
                var expected_value = document.getElementById('expected_value_val24').value;
                var market_price = document.getElementById('market_price4').value;
                var calc = ((expected_value * 1000000) / market_price);
                document.getElementById('est_qty_yr4').value = calc;
            });
    </script>
    <script type="text/javascript">
            $(document).on('click', '#est_qty_yr5', function find_qty5() {
                var expected_value = document.getElementById('expected_value_val25').value;
                var market_price = document.getElementById('market_price5').value;
                var calc = ((expected_value * 1000000) / market_price);
                document.getElementById('est_qty_yr5').value = calc;
            });
    </script>
    <script type="text/javascript">
            $(document).on('click', '#calculation', function calculate() {
                var market_size = document.getElementById('market_size_val').value;
                var target_capture = document.getElementById('target_capture_val').value;
                var expected_value = document.getElementById('expected_value_val').value;
                var peak_revenue_val = document.getElementById('peak_revenue_val').value;
                var calc_1 = market_size * (target_capture / 100);
                document.getElementById('peak_revenue_val').value = calc_1;
                var profitability_val = document.getElementById('probability_val').value;
                document.getElementById('expected_value_val').value = (profitability_val / 100) * calc_1;

            });
    </script>

    <script type="text/javascript">
            document.getElementById("hide-calculator").style.display = "none";
            $(document).on('click', '#hide_calculator', function hide_calculation() {

                var x = document.getElementById("hide-calculator");
                x.style.display = "none";

            });
            $(document).on('click', '#show_calculator', function show_calculator() {

                var x = document.getElementById("hide-calculator").style.display = "block";

            });
    </script>

    <script type="text/javascript">
            $(document).ready(function hide_record() {
                document.getElementById("addr2").style.display = "none";
                document.getElementById("addr3").style.display = "none";
                document.getElementById("addr4").style.display = "none";
                document.getElementById("addr5").style.display = "none";

                var i = 2;
                $(document).on('click', '#addBtn_0', function show_record() {
                    document.getElementById("addr" + i).style.display = "table-row";
                    i++;
                });
                $(document).on('click', '#addBtn' + i, function hide_record() {
                    document.getElementById("addr" + i).style.display = "none";
                    i = i - 1;
                });

            });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
