@model  IEnumerable<RequestForQuoteSharePointWeb.Models.ViewQuoteQueue>
@using GridMvc.Html
@{
  ViewBag.Title = "CurrentQuoteQueue";
}

<br />
<h5>Please review your current queue of assigned quote requests.</h5>


<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
@Scripts.Render("~/Scripts/gridmvc.min.js")

<div class="code-cut">

  @Html.Grid(Model).Columns(Columns =>
{
    Columns.Add(c => c.QuoteID).Titled("Id").Filterable(true);
    Columns.Add(c => c.QuoteNum).Titled("Quote").Filterable(true);
    Columns.Add(c => c.CreatedBy).Titled("Created By").Filterable(true);
    Columns.Add(c => c.DisplayedDate).Titled("Creation Date").Filterable(false);
    Columns.Add(c => c.DisplayedDueDate).Titled("Due Date").Filterable(true);
    Columns.Add(c => c.CustomerName).Titled("Customer Name").Filterable(false);
    Columns.Add(c => c.AssignedRoleDesc).Titled("Assigned Role").Filterable(false);
    //Columns.Add(c => c.WorkflowTypeDesc).Titled("Work").Filterable(false);
    Columns.Add(c => c.StatusDesc).Titled("Status").Filterable(false);
    Columns.Add(c => c.Division).Titled("Division").Filterable(false);
    Columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(o => Html.ActionLink("Edit", "ViewQuote", new { QuoteID = o.QuoteID }));
}).WithPaging(10).Sortable(true)
</div>

<div>
  @Html.ActionLink("Back to List", "Index")
</div>
