
@{
    ViewBag.Title = "DataManagementConsole";
    
}

<h2>Welcome to Your Data Management Console</h2>
<br />
<p>Please use this console as a place in which we can maintain master data assocaited with the pricing tool.</p>

<br />

@*<div class="col-md-4">
    <h3>Actual Cost Factors</h3>
    <br/>
    <p>Update Actual Cost Factors used to change pricing.</p>
    <p><a href="~/Home/CostFactors" class="btn btn-info">Cost Factors &raquo;</a></p>
</div>*@
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <a href="/Home/QualifiedPartsListing" class="action-box-link">
        <div class="action-box">
          <div class="action-icon">
            <img src="~/img/cog.svg" />
          </div>
          <h2 class="action-header">Qualified Parts</h2>
          <p> Update qualified parts at your respective location. </p>
          <div class="action-btn">
            <img src="~/img/play.svg" />
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="/Home/ConfigureNotification" class="action-box-link">
        <div class="action-box">
          <div class="action-icon">
            <img src="~/img/cog.svg" />
          </div>
          <h2 class="action-header">Configure Notifications</h2>
          <p> Update notifications. </p>
          <div class="action-btn">
            <img src="~/img/play.svg" />
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="/Home/LTAModification" class="action-box-link">
        <div class="action-box">
          <div class="action-icon">
            <img src="~/img/cog.svg" />
          </div>
          <h2 class="action-header">Edit LTA Information</h2>
          <p>LTA update, edit, and delete </p>
          <div class="action-btn">
            <img src="~/img/play.svg" />
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="/Home/StrategicPricingAdjustments" class="action-box-link">
        <div class="action-box">
          <div class="action-icon">
            <img src="~/img/table.svg" />
          </div>
          <h2 class="action-header">Edit Strategic Pricing Configuration</h2>
          <p>Set pricing adjustments based on value stream, product family, product class, etc.</p>
          <div class="action-btn">
            <img src="~/img/play.svg" />
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
