@model RequestForQuoteSharePointWeb.Models.StrategicPricingAdjustments

@{
    ViewBag.Title = "Edit Adjustment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
      $(document).on('click', '#delete_strategy', function (event) {

          var adjustment_id_val = document.getElementById("adjustment_id").innerText;
          adjustment_id_val = parseFloat(adjustment_id_val);

          var payload = {         
                  StrategicPricingAdjustments: {
                      ADJUSTMENT_ID: adjustment_id_val,
                        },
                
                __RequestVerificationToken: $('[name=__RequestVerificationToken]').val(),
            };
            $.ajax({
                type: "POST",
                url: '/Home/DeleteStrategy',
                data: payload,
                success: function (msg) {
                    alert("Deleted!");
                    //window.location.href = Url.Action("StrategicPricingAdjustments", "Home")';
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Deletion of comment failed. Please consult your system administrator.");
                }
            });

        });
</script>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-offset-1 col-md-10">
      <h2>Edit Stratigic Pricing Adjustment</h2>

      @using (Html.BeginForm("EditStrategicPricing", "Home", FormMethod.Post, new { @class = "pause-onsubmit-form" }))
      {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
      <h4>Strategic Pricing Adjustment Factor</h4>
      <hr />
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      <div class="form-group">
        @Html.LabelFor(model => model.ADJUSTMENT_ID, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8" id="adjustment_id">
          @Html.DisplayFor(model => model.ADJUSTMENT_ID, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.ADJUSTMENT_ID, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.DIVISION, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.EditorFor(model => model.DIVISION, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
          @Html.ValidationMessageFor(model => model.DIVISION, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.VALUE_STREAM, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.EditorFor(model => model.VALUE_STREAM, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
          @Html.ValidationMessageFor(model => model.VALUE_STREAM, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.PRODUCT_GROUP, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.EditorFor(model => model.PRODUCT_GROUP, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
          @Html.ValidationMessageFor(model => model.PRODUCT_GROUP, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.PRODUCT_CODE, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.EditorFor(model => model.PRODUCT_CODE, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
          @Html.ValidationMessageFor(model => model.PRODUCT_CODE, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.CUSTOMER_NUMBER, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.EditorFor(model => model.CUSTOMER_NUMBER, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
          @Html.ValidationMessageFor(model => model.CUSTOMER_NUMBER, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.INTERNAL_PART_NUMBER, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.EditorFor(model => model.INTERNAL_PART_NUMBER, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
          @Html.ValidationMessageFor(model => model.INTERNAL_PART_NUMBER, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.CUSTOMER_PART_NUMBER, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.EditorFor(model => model.CUSTOMER_PART_NUMBER, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
          @Html.ValidationMessageFor(model => model.CUSTOMER_PART_NUMBER, "", new { @class = "text-danger" })
        </div>
      </div>

      @*<div class="form-group">
      @Html.LabelFor(model => model.APPLY_QUANTITY_BREAK_RANGE, htmlAttributes: new { @class = "control-label col-md-4" })
      <div class="col-md-8">
        @Html.EditorFor(model => model.APPLY_QUANTITY_BREAK_RANGE, new { htmlAttributes = new { @class = "form-control",@required="required" } })
        @Html.ValidationMessageFor(model => model.APPLY_QUANTITY_BREAK_RANGE, "", new { @class = "text-danger" })
      </div>
    </div>*@

      <div class="form-group">
        @Html.LabelFor(model => model.QUANTITY_BREAK_RANGE_START, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.EditorFor(model => model.QUANTITY_BREAK_RANGE_START, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
          @Html.ValidationMessageFor(model => model.QUANTITY_BREAK_RANGE_START, "", new { @class = "text-danger", @placeholder = "0" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.QUANTITY_BREAK_RANGE_END, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.EditorFor(model => model.QUANTITY_BREAK_RANGE_END, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
          @Html.ValidationMessageFor(model => model.QUANTITY_BREAK_RANGE_END, "", new { @class = "text-danger", @placeholder = "0" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.OTHER, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.EditorFor(model => model.OTHER, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
          @Html.ValidationMessageFor(model => model.OTHER, "", new { @class = "text-danger" })
        </div>
      </div>



      <div class="form-group">
        @Html.LabelFor(model => model.ADJUSTMENT, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.EditorFor(model => model.ADJUSTMENT, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
          @Html.ValidationMessageFor(model => model.ADJUSTMENT, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.APPLY_VARIANCE_ADJUSTMENT, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.CheckBoxFor(model => model.APPLY_VARIANCE_ADJUSTMENT, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
          @Html.ValidationMessageFor(model => model.APPLY_VARIANCE_ADJUSTMENT, "", new { @class = "text-danger" })
        </div>
      </div>
      <div class="form-group">
        @Html.LabelFor(model => model.BASE_PRICE_FLAG, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.CheckBoxFor(model => model.BASE_PRICE_FLAG, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
          @Html.ValidationMessageFor(model => model.BASE_PRICE_FLAG, "", new { @class = "text-danger" })

        </div>
      </div>
      <div class="form-group">
        @Html.LabelFor(model => model.BASE_PRICE, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.EditorFor(model => model.BASE_PRICE, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
          @Html.ValidationMessageFor(model => model.BASE_PRICE, "", new { @class = "text-danger" })

        </div>
      </div>
      <div class="form-group">
        @Html.LabelFor(model => model.RESERVE_FLAG, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.CheckBoxFor(model => model.RESERVE_FLAG, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
          @Html.ValidationMessageFor(model => model.RESERVE_FLAG, "", new { @class = "text-danger" })

        </div>
      </div>
      <div class="form-group">
        @Html.LabelFor(model => model.CUSTOMER_RECENT_PRICE_FLAG, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.CheckBoxFor(model => model.CUSTOMER_RECENT_PRICE_FLAG, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
          @Html.ValidationMessageFor(model => model.CUSTOMER_RECENT_PRICE_FLAG, "", new { @class = "text-danger" })

        </div>
      </div>
      <div class="form-group">
        @Html.LabelFor(model => model.LEAD_TIME_FLAG, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.CheckBoxFor(model => model.LEAD_TIME_FLAG, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
          @Html.ValidationMessageFor(model => model.LEAD_TIME_FLAG, "", new { @class = "text-danger" })

        </div>
      </div>
      <div class="form-group">
        @Html.LabelFor(model => model.BLACKLIST_FLAG, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.CheckBoxFor(model => model.BLACKLIST_FLAG, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
          @Html.ValidationMessageFor(model => model.BLACKLIST_FLAG, "", new { @class = "text-danger" })

        </div>
      </div>
      <div class="form-group">
        @Html.LabelFor(model => model.BLACKLIST_REASONING, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.EditorFor(model => model.BLACKLIST_REASONING, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
          @Html.ValidationMessageFor(model => model.BLACKLIST_REASONING, "", new { @class = "text-danger" })

        </div>
      </div>
      <div class="form-group">
        @Html.LabelFor(model => model.MINIMUM_ORDER_QUANTITY_FLAG, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.CheckBoxFor(model => model.MINIMUM_ORDER_QUANTITY_FLAG, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
          @Html.ValidationMessageFor(model => model.MINIMUM_ORDER_QUANTITY_FLAG, "", new { @class = "text-danger" })

        </div>
      </div>
      <div class="form-group">
        @Html.LabelFor(model => model.MINIMUM_ORDER_QUANTITY, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.EditorFor(model => model.MINIMUM_ORDER_QUANTITY, new { htmlAttributes = new { @class = "form-control", @required = "required",@readonly=true} })
          @Html.ValidationMessageFor(model => model.MINIMUM_ORDER_QUANTITY, "", new { @class = "text-danger" })

        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.CreatedBy, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.DisplayFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control" } })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.CreationDate, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.DisplayFor(model => model.CreationDate, new { htmlAttributes = new { @class = "form-control" } })

        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.LastEditedBy, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.DisplayFor(model => model.LastEditedBy, new { htmlAttributes = new { @class = "form-control" } })

        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.LastEditDate, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.DisplayFor(model => model.LastEditDate, new { htmlAttributes = new { @class = "form-control" } })

        </div>
      </div>
      <div class="form-group">
        @Html.LabelFor(model => model.COMMENT, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.EditorFor(model => model.COMMENT, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
          @Html.ValidationMessageFor(model => model.COMMENT, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.STATUS, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
          @Html.EditorFor(model => model.STATUS, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
          @Html.ValidationMessageFor(model => model.STATUS, "", new { @class = "text-danger" })
        </div>
      </div>


      @*<div class="form-group">
      <div class="col-md-offset-2 col-md-8">
        <input type="submit" value="Save" id="save" class="btn btn-default" />
      </div>
    </div>*@

      <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
          <input type="button" value="Delete" id="delete_strategy" class="btn btn-warning" />
        </div>
      </div>

    </div>
      }

      <div>
        @Html.ActionLink("Back to Data Management", "DataManagementConsole")
      </div>
    </div>
  </div>
</div>
