@model RequestForQuoteSharePointWeb.Models.QualifiedParts

@{
    ViewBag.Title = "Edit Qualified Part";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
      $(document).on('click', '#delete_qualification', function (event) {

          var product_code_id_val = document.getElementById("product_code_id").innerText;
          product_code_id_val = parseFloat(product_code_id_val);

          var payload = {
                  QualifiedParts: {
                      Product_Code_ID: product_code_id_val,
                        },

                __RequestVerificationToken: $('[name=__RequestVerificationToken]').val(),
            };
            $.ajax({
                type: "POST",
                url: '/Home/DeleteQualification',
                data: payload,
                success: function (msg) {
                    alert("Deleted!");
                    //window.location.href = Url.Action("StrategicPricingAdjustments", "Home")';
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Deletion of qualification failed. Please consult your system administrator.");
                }
            });

        });
</script>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-offset-1 col-md-10">
      @using (Html.BeginForm("EditQualifedPart", "Home", FormMethod.Post, new { @class = "pause-onsubmit-form" }))
      {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
          <br />
          <h4>Qualified Parts</h4>
          <hr />
          @Html.ValidationSummary(true, "", new { @class = "text-danger" })
          <div class="form-group">
            @Html.LabelFor(model => model.Product_Code_ID, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8" id="product_code_id">
              @Html.DisplayFor(model => model.Product_Code_ID, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.Product_Code_ID, "", new { @class = "text-danger" })
            </div>
          </div>

          <div class="form-group">
            @Html.LabelFor(model => model.SpecificationStandard, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.EditorFor(model => model.SpecificationStandard, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
              @Html.ValidationMessageFor(model => model.SpecificationStandard, "", new { @class = "text-danger" })
            </div>
          </div>

          <div class="form-group">
            @Html.LabelFor(model => model.CustodianPart, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.EditorFor(model => model.CustodianPart, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
              @Html.ValidationMessageFor(model => model.CustodianPart, "", new { @class = "text-danger" })
            </div>
          </div>

          <div class="form-group">
            @Html.LabelFor(model => model.Custodian, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.EditorFor(model => model.Custodian, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
              @Html.ValidationMessageFor(model => model.Custodian, "", new { @class = "text-danger" })
            </div>
          </div>

          <div class="form-group">
            @Html.LabelFor(model => model.Manufacturer, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.EditorFor(model => model.Manufacturer, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
              @Html.ValidationMessageFor(model => model.Manufacturer, "", new { @class = "text-danger" })
            </div>
          </div>

          <div class="form-group">
            @Html.LabelFor(model => model.MaterialType, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.EditorFor(model => model.MaterialType, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.MaterialType, "", new { @class = "text-danger" })
            </div>
          </div>

          <div class="form-group">
            @Html.LabelFor(model => model.Size, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.EditorFor(model => model.Size, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
            </div>
          </div>

          <div class="form-group">
            @Html.LabelFor(model => model.Range, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.EditorFor(model => model.Range, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.Range, "", new { @class = "text-danger" })
            </div>
          </div>

          <div class="form-group">
            @Html.LabelFor(model => model.Finish, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.EditorFor(model => model.Finish, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.Finish, "", new { @class = "text-danger" })
            </div>
          </div>
          <div class="form-group">
            @Html.LabelFor(model => model.CompetitorPrice, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.EditorFor(model => model.CompetitorPrice, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.CompetitorPrice, "", new { @class = "text-danger" })
            </div>
          </div>

          <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
              @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
          </div>

          <div class="form-group">
            @Html.LabelFor(model => model.Organization, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.EditorFor(model => model.Organization, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
              @Html.ValidationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4">Date Created</label>
            <span class="col-md-8 display-text">
              @Html.DisplayFor(model => model.DisplayedDate)
            </span>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4">Entered By</label>
            <span class="col-md-8 display-text">
              @Html.DisplayFor(model => model.EnteredBy)
            </span>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4">Modified By</label>
            <span class="col-md-8 display-text">
              @Html.DisplayFor(model => model.ModifiedBy)
            </span>
          </div>

          <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
              <input type="submit" value="Save" class="btn btn-primary" />
              <input type="button" value="Delete" id="delete_qualification" class="btn btn-warning" />
            </div>
          </div>
        </div>
      }

      <div>
        @Html.ActionLink("Back to List", "QualifiedPartsListing")
      </div>
    </div>
  </div>
</div>
