@model RequestForQuoteSharePointWeb.Models.ConfigureMargins

@{
  ViewBag.Title = "Edit Configured Margin";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).on('click', '#delete_margin', function delete_margin() {
            $.ajax({
                type: "POST",
                url: '/Home/DeleteMargin',
                //data: payload,
                success: function (redirect) {
                    //return Json(new { result = "Redirect", url = Url.Action("Add", "AddLTA") });
                    window.location.href = '@Url.Action("DeleteMargin", "Home")';
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Failed to delete margin configured.");
                }
            });



    });
</script>


<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-offset-2 col-md-8">


      @using (Html.BeginForm("EditMargin", "Home", FormMethod.Post, new { @class = "pause-onsubmit-form" }))
      {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

          <hr />
          @Html.ValidationSummary(true, "", new { @class = "text-danger" })

          <div class="form-group">
            @Html.LabelFor(model => model.margin_id, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.DisplayFor(model => model.margin_id, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.margin_id, "", new { @class = "text-danger" })
            </div>
          </div>

          <div class="form-group">
            @Html.LabelFor(model => model.division_id, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.DisplayFor(model => model.division_id, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.division_id, "", new { @class = "text-danger" })
            </div>
          </div>

          <div class="form-group">
            @Html.LabelFor(model => model.value_stream_val, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.EditorFor(model => model.value_stream_val, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.value_stream_val, "", new { @class = "text-danger" })
            </div>
          </div>

          <div class="form-group">
            @Html.LabelFor(model => model.product_code_val, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.EditorFor(model => model.product_code_val, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.product_code_val, "", new { @class = "text-danger" })
            </div>
          </div>

          <div class="form-group">
            @Html.LabelFor(model => model.product_group_val, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.EditorFor(model => model.product_group_val, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.product_group_val, "", new { @class = "text-danger" })
            </div>
          </div>

          <div class="form-group">
            @Html.LabelFor(model => model.customer_number_val, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.EditorFor(model => model.customer_number_val, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.customer_number_val, "", new { @class = "text-danger" })
            </div>
          </div>
          <div class="form-group">
            @Html.LabelFor(model => model.internal_part_number_val, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.EditorFor(model => model.internal_part_number_val, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.internal_part_number_val, "", new { @class = "text-danger" })
            </div>
          </div>

          <div class="form-group">
            @Html.LabelFor(model => model.other_val, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.EditorFor(model => model.other_val, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.other_val, "", new { @class = "text-danger" })
            </div>
          </div>
          <div class="form-group">
            @Html.LabelFor(model => model.margin_value, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.EditorFor(model => model.margin_value, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.margin_value, "", new { @class = "text-danger" })
            </div>
          </div>
          <div class="form-group">
            @Html.LabelFor(model => model.quantity_break_range_start, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.EditorFor(model => model.quantity_break_range_start, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.quantity_break_range_start, "", new { @class = "text-danger" })
            </div>
          </div>
          <div class="form-group">
            @Html.LabelFor(model => model.quantity_break_range_finish, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.EditorFor(model => model.quantity_break_range_finish, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.quantity_break_range_finish, "", new { @class = "text-danger" })
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
              <input type="submit" value="Save" class="btn btn-primary" />
            </div>
          </div>

          @*<div class="form-group">
              <div class="col-md-offset-2 col-md-8">
                <input type="button" value="Delete" id="delete_margin" class="btn btn-default bg-warning" />
              </div>
            </div>*@
        </div>
      }

      <div>
        @Html.ActionLink("Back to List", "Configure")
      </div>


    </div>
  </div>
</div>
