@model RequestForQuoteSharePointWeb.Models.ManageUser

@{
  ViewBag.Title = "Edit User";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
  $(document).ready(function hide_record() {

    var payload = {
      Username: $('#username').val()
    };

    $(document).on('click', '#delete_all_button', function inactivateUser() {
      Pauser.show();
      $.ajax({
        type: "POST",
        url: '/Home/InactivateUser',
        data: payload,
        success: function (msg) {
          Pauser.hide();
          alert("Inactivated!");
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          Pauser.hide();
          alert("Change in status failed.");
        }
      });
    });


  });
</script>
<div class="row">
  <div class="col-sm-12 col-md-offset-2 col-md-8">
    @using (Html.BeginForm("EditUser", "Home", FormMethod.Post, new { @class = "pause-onsubmit-form" }))
    {
      @Html.AntiForgeryToken()

      <div class="form-horizontal">
        <h4>Edit User</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserId)

        <div class="form-group">
          @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @id = "username", @readonly = true } })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.Organization, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
            @Html.EditorFor(model => model.Organization, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
            @Html.EditorFor(model => model.Role, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
          </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.ActiveFlag, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
              @Html.EditorFor(model => model.ActiveFlag, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.ActiveFlag, "", new { @class = "text-danger" })
            </div>
          </div>*@

        <div class="form-group">
          @Html.LabelFor(model => model.MultiOrg, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
            @Html.EditorFor(model => model.MultiOrg, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MultiOrg, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
            <input type="button" id="delete_all_button" value="Disable User" class="btn btn-default" />
          </div>
        </div>
      </div>
    }
    <div>
      @Html.ActionLink("Back to List", "ManageUsers")
    </div>
  </div>
</div>
