@{
	ViewBag.Title = "Strategic Pricing Tool";
	Layout = "~/Views/Shared/_LayoutFull.cshtml";
	List<RequestForQuoteSharePointWeb.Models.MenuItems> menu_items = ((RequestForQuoteSharePointWeb.Controllers.BaseController)this.ViewContext.Controller).GetSiteMenu();
}

<div class="cam-theme">
	<div id="cam-jumbo" class="jumbotron">
		<br />
		<br />
		<div class="company-logo">
			<img src="~/img/camlogo.png" />
		</div>
		<h1>Strategic Pricing Tool</h1>
		<span>v@(ViewBag.Version)</span>
		@{
			var hero_tool = menu_items == null ? null : menu_items.Find(i => i.IsHeroTool == true);
			if (hero_tool != null)
			{
				<div class="action-btn" style="text-align: left;">
					<a href="@hero_tool.Path" class="cta-hero">
						@hero_tool.Name <img src="~/img/play.svg" style="width: auto; height: 48px;" />
					</a>
				</div>
			}
		}
		<br />
		<br />
		
		
		</div>
</div>
<div class="container">
	<div class="row">
		@{
			if (menu_items != null)
			{
				foreach (var item in menu_items)
				{
					if (item.IsHeroTool == false)
					{
						<div class="col-md-4">
							<a href="@( item.Path )" class="action-box-link">
								<div class="action-box">
									<div class="action-icon">
										<img src="@("/img/" + item.Icon + ".svg")" />
									</div>
									<h2 class="action-header">@item.Name</h2>
									<p> @item.Description </p>
									<div class="action-btn">
										<img src="~/img/play.svg" />
									</div>
								</div>
							</a>
						</div>
					}
				}
			}

		}
	</div>
</div>
