@model RequestForQuoteSharePointWeb.Models.LTAModifcations
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-offset-1 col-md-8">
        @using (Html.BeginForm("LTAEdit", "Home", FormMethod.Post, new { @class = "pause-onsubmit-form" }))
        {
          @Html.AntiForgeryToken()

          <div class="form-horizontal">
            <br />
            <h4>Edit Contract</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.LTA_ID)

            <div class="form-group">
              @Html.LabelFor(model => model.Customer_ID, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-8">
                @Html.EditorFor(model => model.Customer_ID, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Customer_ID, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.Customer_Part_Number, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-8">
                @Html.EditorFor(model => model.Customer_Part_Number, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Customer_Part_Number, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.Internal_Part_Number, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-8">
                @Html.EditorFor(model => model.Internal_Part_Number, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Internal_Part_Number, "", new { @class = "text-danger" })
              </div>
            </div>
            <div class="form-group">
              @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-8">
                @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-8">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", type = "date", @required = "required" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-8">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", type = "date", @required = "required" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-8">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.UOM, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-8">
                @Html.EditorFor(model => model.UOM, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.UOM, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.AMU, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-8">
                @Html.EditorFor(model => model.AMU, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.AMU, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.Total_Forecast, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-8">
                @Html.EditorFor(model => model.Total_Forecast, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Total_Forecast, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.Last_Updated_Date, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-8">
                @Html.DisplayFor(model => model.Last_Updated_Date, new { htmlAttributes = new { @class = "form-control" } })

              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.Last_Updated_By_Name, htmlAttributes: new { @class = "control-label col-md-4" })
              <div class="col-md-8">
                @Html.DisplayFor(model => model.Last_Updated_By_Name, new { htmlAttributes = new { @class = "form-control" } })
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-offset-4 col-md-8">
                <input type="submit" value="Save" class="btn btn-primary" />
              </div>
            </div>
          </div>
        }

        <div>
          @Html.ActionLink("Back to List", "LTAModification")
        </div>
      </div>
    </div>
  </div>
