@model  IEnumerable<RequestForQuoteSharePointWeb.Models.LTAModifcations>
@using GridMvc.Html
@{
  ViewBag.Title = "LTAModification";
  //var grid = new WebGrid(source: Model, canPage: true, rowsPerPage10);
  //grid.Pager(WebGridPagerModes.All);
}

<style>

  @@media (min-width: 768px) {
    .container {
      margin-left: 0px;
      margin-right: 0px;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      max-width: 100vw;
    }

    .card {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }

    .scroll {
      overflow-y: scroll;
      max-height: 525px;
    }

    .row {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
</style>

<script type="text/javascript">
    $(document).ready(function hide_record() {

		$(document).on('click', '#delete_all_button', function deleteLTAbutton() {
			Pauser.show();
            $.ajax({
                type: "POST",
                url: '/Home/DeleteLTAs',
                //data: payload,
				success: function (msg) {
					Pauser.hide();
                    //alert("Submitted");
                },
				error: function (XMLHttpRequest, textStatus, errorThrown) {
					Pauser.hide();
                    alert("Deletion of LTAs failed. Please consult your system administrator.");
                }
            });
        });


    });



	$(document).on('click', '#add_lta', function add_lta() {
		Pauser.show();
            $.ajax({
                type: "GET",
                url: '/Home/AddLTA',
                //data: payload,
                success: function (redirect) {
                    //return Json(new { result = "Redirect", url = Url.Action("Add", "AddLTA") });
                    window.location.href = '@Url.Action("AddLTA", "Home")';
                },
				error: function (XMLHttpRequest, textStatus, errorThrown) {
					Pauser.hide();
                    alert("Failed to navigate to LTA entry.");
                }
            });
    });
</script>


<br />
<h2>Contract Review</h2>

<div>
  <br />
  @{
    var myViewPart = Html.Partial("UploadFile");
    myViewPart = new MvcHtmlString(myViewPart.ToString());
  }
  @myViewPart

</div>
<br />
<div class="row">
  <div class="col-md-12">
    <input id="delete_all_button" type="button" class="btn btn-warning" value="Purge" />
    @*<input id="add_lta" type="button" class="btn btn-primary" value="Add" />*@
    @*@Html.ActionLink("Add", "AddLTA")*@
    <input type="button" class="btn btn-primary" id="add_lta" value="Add" />
  </div>
</div>

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
@Scripts.Render("~/Scripts/gridmvc.min.js")

<div class="code-cut">
  @Html.Grid(Model).Columns(Columns =>
{
  Columns.Add(c => c.LTA_ID).Titled("ID").Filterable(true);
  Columns.Add(c => c.Customer_Name).Titled("Customer").Filterable(true);
  Columns.Add(c => c.Customer_Part_Number).Titled("Customer Part Number").Filterable(true);
  Columns.Add(c => c.Internal_Part_Number).Titled("Internal Part Number").Filterable(true);
  Columns.Add(c => c.Type).Titled("Type").Filterable(true);
  Columns.Add(c => c.DisplayedDate_Start).Titled("Start Date").Filterable(true);
  Columns.Add(c => c.DisplayedDate_End).Titled("End Date").Filterable(true);
  Columns.Add(c => c.Price).Titled("Price").Filterable(false);
  Columns.Add(c => c.UOM).Titled("UOM").Filterable(false);
  Columns.Add(c => c.AMU).Titled("AMU").Filterable(false);
  Columns.Add(c => c.Open_Sales_Orders).Titled("Open Sales Orders").Filterable(false);
  Columns.Add(c => c.Total_Usage).Titled("Total Usage").Filterable(false);
  Columns.Add(c => c.Total_Forecast).Titled("Total Forecasted").Filterable(false);
  Columns.Add()
      .Encoded(false)
      .Sanitized(false)
      .RenderValueAs(o => Html.ActionLink("Edit", "LTAEdit", new { LTA_ID = o.LTA_ID }));
}).WithPaging(10).Sortable(true)
</div>

<div>
  @Html.ActionLink("Back to Data Management", "DataManagementConsole")
</div>
