﻿@model  IEnumerable<RequestForQuoteSharePointWeb.Models.ManageUser>
@using GridMvc.Html
@{
    ViewBag.Title = "Manage Users";
}


<h5>Please review those with access.</h5>
<br />

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
@Scripts.Render("~/Scripts/gridmvc.min.js")

<div class="code-cut">
    @Html.Grid(Model).Columns(Columns=>
{
    Columns.Add(m => m.UserId).Titled("Id").Filterable(true);
    Columns.Add(m => m.Username).Titled("Username").Filterable(true).Sortable(true);
    Columns.Add(m => m.Email).Titled("Email").Filterable(false);
    Columns.Add(m => m.Organization).Titled("Organization").Filterable(true).Sortable(true);
    Columns.Add(m => m.Role).Titled("Role").Filterable(true).Sortable(true);
    Columns.Add(m => m.ActiveFlag).Titled("Active Flag").Filterable(true);
    Columns.Add(m => m.MultiOrg).Titled("Multi Org").Filterable(true);
    Columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(o => Html.ActionLink("Edit", "EditUser", new { UserId = o.UserId }));
    Columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(o => Html.ActionLink("Add", "AddUser", new { UserId = o.UserId }));
}).WithPaging(20).Sortable(true)
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
