﻿@model RequestForQuoteSharePointWeb.Models.MobilePricingTool
@using RequestForQuoteSharePointWeb.Models
@{
    /**/

    /**/

    ViewBag.Title = "MobilePricingTool";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    @@media (min-width: 768px) {
        .container {
            margin-left: 0px;
            margin-right: 0px;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            max-width: 100vw;
        }

        .card {
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
            padding-left: 0px;
            padding-right: 0px;
            /*display:inline-block;*/
        }

        .scroll {
            overflow-y: scroll;
            max-height: 525px;
        }

        .row {
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }
        /*.table-row-dynamic {
            background-color: lavenderblush;
        }*/
    }
</style>
<script type="text/javascript" src="~/Scripts/charts.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        if ($('#salesOrdersChart').length) {
            var a = document.getElementById("salesOrdersChart");
            a.style.display = "none";
            var b = document.getElementById("salesChart");
            b.style.display = "none";
            //var c = document.getElementById("power_bi_graph");
            //c.style.display = "none";
            var t = document.getElementById("fake_comment");
            t.style.display = "none";
        }

    });


    $(document).on('click', '#hide_graphs', function hide_graphs() {

        var x = document.getElementById("salesOrdersChart");
        x.style.display = "none";
        var y = document.getElementById("salesChart");
        y.style.display = "none";

    });

    $(document).on('click', '#hide_capacity_graphs', function hide_capacity_graphs() {

        //var k = document.getElementById("power_bi_graph");
        //k.style.display = "none";

    });

    $(document).on('click', '#show_graphs', function show_graphs() {
        var z = document.getElementById("salesOrdersChart");
        z.style.display = "block";
        var t = document.getElementById("salesChart");
        t.style.display = "block";
    });

    $(document).on('click', '#show_capacity_graphs', function show_capacity_graphs() {
        var j = document.getElementById("power_bi_graph");
        j.style.display = "block";
        //remove_lta
        //lta_flag
    });

    //$(document).on('click', '#remove_lta', function remove_lta_hist() {

    //    var t = document.getElementById("lta_flag");
    //    t.style.display = "none";
    //    //remove_lta
    //    //lta_flag
    //});


</script>

<script type="text/javascript">
    $(document).ready(function hide_record() {

        @*$("#myParts").kendoAutoComplete({
            filter: "contains",
            minLength: 3,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        type: "POST",
                        url: "@Url.Action("Parts")",
                        data: function () {
                            return {
                                PartNumber: $("#myParts").val()
                            }
                        }
                    }
                }
            }
        });
                    $("#myCustParts").kendoAutoComplete({
                        filter: "contains",
                        minLength: 3,
                        dataSource: {
                            type: "json",
                            serverFiltering: true,
                            transport: {
                                read: {
                                    type: "POST",
                                    url: "@Url.Action("CustParts")",
                                    data: function () {
                                        return {
                                            CustomerPartNum: $("#myCustParts").val()
                                        }
                                    }
                                }

                            }
                        }

        });*@

                $("#myCustomerNames").kendoAutoComplete({
                    //dataTextField: "ProductName",
                    filter: "contains",
                    minLength: 4,
                    //dropDownHeight:,
                    dataSource: {
                        type: "json",
                        serverFiltering: true,
                        transport: {
                            read: {
                                type: "POST",
                                url: "@Url.Action("CustomerNames")",
                                data: function () {
                                    return {
                                        CustomerName: $("#myCustomerNames").val()
                                    }
                                }
                            }
                        }
                    }
                });

        $("#myCustParts").keyup(function clear_val() {
            document.getElementById("myParts").value = "";
        });

        $("#myParts").keyup(function clear_val() {
            document.getElementById("myCustParts").value = "";
        });

    });


</script>
<script type="text/javascript">
    $(document).on('click', '#click_change_quantity', function click_find() {

        var acq_value = document.getElementById("acq_val_text").innerText;
        //var part_value = document.getElementById("myParts").innerText;
        acq_value = parseFloat(acq_value);


        var cost_adj_factor = document.getElementById("cost_adj").innerText;
        if (isNaN(cost_adj_factor) == true)
        {
        cost_adj_factor = 1;
        }
        else if (cost_adj_factor == "")
        {
            cost_adj_factor = 1;
        }
        else if (cost_adj_factor == null)
        {
            cost_adj_factor = 1;
        }
        cost_adj_factor = parseFloat(cost_adj_factor);


        var table = document.getElementById("comp_table");
        var marg_table = document.getElementById("tableAddRow_costs");
        var qty99 = $('#QuoteQuantity').val();
        //var division_id_val = $('#division_id').val();
        var division_id_val = document.getElementById("division_id").innerText;

        //if (division_id_val != "710000") {
            var row = $(this).closest('tr');

            var maintain_me_FznCPQtyCostSU = parseFloat("0");
            var maintain_me_FznCPQtyCostVar = parseFloat("0");
            var maintain_me_FznCPQtyCostFoh = parseFloat("0");

            var totalCPQtyCostVar = parseFloat("0");
            var totalCPQtyCostSU = parseFloat("0");
            var totalCPQtyCostFOH = parseFloat("0");

            var FznCPQtyCostSU_adj = parseFloat("0");
            var FznCPQtyCostVar_adj = parseFloat("0");
            var FznCPQtyCostFoh_adj = parseFloat("0");

            var unit_cost = parseFloat("0");

            for (var i = 1, row; row = table.rows[i]; i++) {
                var j = 0;


                var FznCPQtyCostSU = parseFloat("0");
                var FznCPQtyCostVar = parseFloat("0");
                var FznCPQtyCostFoh = parseFloat("0");
                var record_at;

                if (table.rows[i].cells[j].innerHTML > 0) {


                    var part_value = parseFloat(table.rows[i].cells[1].innerHTML.trim());
                    var whats_the_qty = $(table.rows[i].cells[10]).find('input').val();
                    var ixqnty = parseFloat(table.rows[i].cells[5].innerHTML.trim());
                    var comp_acq = parseFloat(table.rows[i].cells[4].innerHTML.trim());
                    whats_the_qty = parseFloat(whats_the_qty);
                    record_at = i;

                }
                else {
                    var CompMchFOH = parseFloat(table.rows[i].cells[7].innerHTML.trim());
                    var CompLbrVOH = parseFloat(table.rows[i].cells[4].innerHTML.trim());
                    var CompLbrFOH = parseFloat(table.rows[i].cells[6].innerHTML.trim());
                    var CompMchVOH = parseFloat(table.rows[i].cells[5].innerHTML.trim());
                    var CompMtlCost = parseFloat(table.rows[i].cells[1].innerHTML.trim());
                    var CompOSP = parseFloat(table.rows[i].cells[8].innerHTML.trim());
                    var CompLaborCost = parseFloat(table.rows[i].cells[3].innerHTML.trim());
                    var CompSetupCost = parseFloat(table.rows[i].cells[2].innerHTML.trim());

                    if (isNaN(FznCPQtyCostSU) == false && ixqnty > 0) {
                        FznCPQtyCostSU = (parseFloat(CompSetupCost) * ixqnty * comp_acq) / whats_the_qty; // / whats_the_qty;
                        FznCPQtyCostVar = (parseFloat(CompMtlCost) + parseFloat(CompLaborCost) + parseFloat(CompLbrVOH) + parseFloat(CompMchVOH) + parseFloat(CompOSP)) * ixqnty;
                        FznCPQtyCostFoh = ((parseFloat(CompMchFOH) + parseFloat(CompLbrFOH)) * (whats_the_qty)) / ixqnty; // / whats_the_qty;

                        unit_cost = (FznCPQtyCostSU + FznCPQtyCostVar + FznCPQtyCostFoh) / ixqnty;

                        maintain_me_FznCPQtyCostSU = FznCPQtyCostSU + maintain_me_FznCPQtyCostSU;
                        maintain_me_FznCPQtyCostVar = FznCPQtyCostVar + maintain_me_FznCPQtyCostVar;
                        maintain_me_FznCPQtyCostFoh = FznCPQtyCostFoh + maintain_me_FznCPQtyCostFoh;
                    }
                    else {

                        if (ixqnty > 0) {
                            FznCPQtyCostSU = (parseFloat(CompSetupCost) * ixqnty * comp_acq) / whats_the_qty; // / whats_the_qty;
                            FznCPQtyCostVar = (parseFloat(CompMtlCost) + parseFloat(CompLaborCost) + parseFloat(CompLbrVOH) + parseFloat(CompMchVOH) + parseFloat(CompOSP)) * ixqnty;
                            FznCPQtyCostFoh = ((parseFloat(CompMchFOH) + parseFloat(CompLbrFOH)) * (whats_the_qty)) / ixqnty; // / whats_the_qty;

                            unit_cost = (FznCPQtyCostSU + FznCPQtyCostVar + FznCPQtyCostFoh) / ixqnty;

                            if (FznCPQtyCostVar != 0 && FznCPQtyCostSU != 0) {

                                maintain_me_FznCPQtyCostSU = FznCPQtyCostSU + maintain_me_FznCPQtyCostSU;
                                maintain_me_FznCPQtyCostVar = FznCPQtyCostVar + maintain_me_FznCPQtyCostVar;
                                maintain_me_FznCPQtyCostFoh = FznCPQtyCostFoh + maintain_me_FznCPQtyCostFoh;
                            }
                            else {

                                maintain_me_FznCPQtyCostSU = 0 + maintain_me_FznCPQtyCostSU;
                                maintain_me_FznCPQtyCostVar = 0 + maintain_me_FznCPQtyCostVar;
                                maintain_me_FznCPQtyCostFoh = 0 + maintain_me_FznCPQtyCostFoh;

                            }
                        }
                    }

                    totalCPQtyCostVar = maintain_me_FznCPQtyCostVar;
                    totalCPQtyCostSU = maintain_me_FznCPQtyCostSU;
                    totalCPQtyCostFOH = maintain_me_FznCPQtyCostFoh;

                    for (var r = 1, row; row = table.rows[r]; r++) {
                        var x = 0;
                        if (r == record_at) {
                            var total_cpnt = parseFloat(unit_cost);
                            if (isNaN(total_cpnt) == false && ixqnty > 0) {
                                table.rows[r].cells[9].innerHTML = total_cpnt.toFixed(2);
                            }

                        }
                    }
                }
            }

            var head_table = document.getElementById("cost_table");


            var fznMatlNet = parseFloat(document.getElementById("material_frozen").innerText);
            var fznLBrNet = parseFloat(document.getElementById("labor_frozen").innerText);
            var fznVOHNet = parseFloat(document.getElementById("mch_voh_frozen").innerText) + parseFloat(document.getElementById("lbr_voh_frozen").innerText);
            var fznD0Net = parseFloat(document.getElementById("osp_frozen").innerText);
            var fznFOHNetTotal = parseFloat(document.getElementById("machine_foh_frozen").innerText) + parseFloat(document.getElementById("lbr_foh_frozen").innerText);
            var fznSUTotalNet = parseFloat(document.getElementById("fzn_su_total_net").innerText);

            qty99 = parseFloat(qty99);
            var new_fzn_cost = parseFloat("0");

            var new_qty = parseFloat("0");
            var updated_cost = 0;
        var z = 1;
        var t = 1;

            if (r < 2) { fznMatlNet = parseFloat(document.getElementById("fg_material_frozen").innerText) }

            for (z, row; row = marg_table.rows[z]; z++) {

                if (z > 0) {

                    //if (z == 1) {
                    //    new_qty = 500;
                    //    if (new_qty != qty99) {
                            new_qty = parseFloat(marg_table.rows[z].cells[0].innerHTML);
                            new_fzn_cost = parseFloat((((new_qty * (fznMatlNet + fznLBrNet + fznVOHNet + fznD0Net + ((fznFOHNetTotal) / new_qty) + maintain_me_FznCPQtyCostFoh + maintain_me_FznCPQtyCostVar + maintain_me_FznCPQtyCostSU)) + (fznSUTotalNet)) / new_qty).toFixed(2));
                            new_fzn_cost = parseFloat(new_fzn_cost);
                            marg_table.rows[z].cells[1].innerHTML = parseFloat((new_fzn_cost)).toFixed(2);
                            marg_table.rows[z].cells[2].innerHTML = parseFloat((new_fzn_cost / (1 - 0.20))).toFixed(2);
                            marg_table.rows[z].cells[3].innerHTML = parseFloat((new_fzn_cost / (1 - 0.25))).toFixed(2);
                            marg_table.rows[z].cells[4].innerHTML = parseFloat((new_fzn_cost / (1 - 0.30))).toFixed(2);
                            marg_table.rows[z].cells[5].innerHTML = parseFloat((new_fzn_cost / (1 - 0.35))).toFixed(2);
                            marg_table.rows[z].cells[6].innerHTML = parseFloat((new_fzn_cost / (1 - 0.40))).toFixed(2);
                            marg_table.rows[z].cells[7].innerHTML = parseFloat((new_fzn_cost / (1 - 0.45))).toFixed(2);
                            marg_table.rows[z].cells[8].innerHTML = parseFloat((new_fzn_cost / (1 - 0.50))).toFixed(2);
                            marg_table.rows[z].cells[9].innerHTML = parseFloat((new_fzn_cost / (1 - 0.55))).toFixed(2);
                            marg_table.rows[z].cells[10].innerHTML = parseFloat((new_fzn_cost / (1 - 0.60))).toFixed(2);
                            marg_table.rows[z].cells[11].innerHTML = parseFloat((new_fzn_cost / (1 - 0.65))).toFixed(2);
                            marg_table.rows[z].cells[12].innerHTML = parseFloat((new_fzn_cost / (1 - 0.70))).toFixed(2);
                            marg_table.rows[z].cells[13].innerHTML = parseFloat((new_fzn_cost / (1 - 0.75))).toFixed(2);

                }
            }

    
    });

</script>
<script type="text/javascript">
    $(document).on('click', '#calc_ext_price500', function calculate_ext_price500() {
        //alert("testing");

        var row = $(this).closest('tr');
        var adjustedCost = row.children().eq(4).text().trim();
        var factor = row.children().eq(3).find('input').val();
        var costPer = row.children().eq(2).text().trim();
        var margin = row.children().eq(5).find('input').val();
        var unitPrice = row.children()[7];
        //var newUnitePrice =((parseFloat(costPer) * parseFloat(factor)) / (1 - parseFloat(margin)));
        var newUnitePrice = ((parseFloat(costPer) * parseFloat(factor)) / (1 - (parseFloat(margin) / 100)));
        newUnitePrice = newUnitePrice.toFixed(2);
        $(unitPrice).html(newUnitePrice);
        var newAdjustedCost = (parseFloat(costPer) * parseFloat(factor));
        newAdjustedCost = newAdjustedCost.toFixed(2);
        $(adjustedCost).html(newAdjustedCost);

        var quantityBreak = row.children().eq(1).text().trim();
        var newExtendedPrice = (parseFloat(quantityBreak) * newUnitePrice);
        newExtendedPrice = newExtendedPrice.toFixed(2);
        var extendedPrice = row.children()[8];
        $(extendedPrice).html(newExtendedPrice);

        //$(document).on('click', '#update_button', function updateButtonClick() {
        var payload = {
            factor_adj_500: $('#factor500').val(),
            factor_adj_1000: $('#factor1000').val(),
            factor_adj_2500: $('#factor2500').val(),
            factor_adj_5000: $('#factor5000').val(),
            factor_adj_10000: $('#factor10000').val(),
            factor_adj_25000: $('#factor25000').val(),
            factor_adj_50000: $('#factor50000').val(),
            factor_adj_100000: $('#factor100000').val(),
            PartNumber: $('#myParts').val()
        };

        $.ajax({
            type: "POST",
            url: '/Home/UpdateCostFactorInPricingTool',
            data: payload,
            success: function (msg) {
                //alert("Submitted");
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Update of factors failed. Please consult your system administrator.");
            }
        });

    });
</script>

<script type="text/javascript">
    function createDataRow(item) {
        var row = $('<tr />');
        $('<td />').text(item.qty).appendTo(row);
        $('<td />').text('$' + item.cost.toFixed(2).toString()).appendTo(row);
        $('<td />').text('$' + (item.cost / (1 - 0.20)).toFixed(2).toString()).appendTo(row);
        $('<td />').text('$' + (item.cost / (1 - 0.25)).toFixed(2).toString()).appendTo(row);
        $('<td />').text('$' + (item.cost / (1 - 0.30)).toFixed(2).toString()).appendTo(row);
        $('<td />').text('$' + (item.cost / (1 - 0.35)).toFixed(2).toString()).appendTo(row);
        $('<td />').text('$' + (item.cost / (1 - 0.40)).toFixed(2).toString()).appendTo(row);
        $('<td />').text('$' + (item.cost / (1 - 0.45)).toFixed(2).toString()).appendTo(row);
        $('<td />').text('$' + (item.cost / (1 - 0.50)).toFixed(2).toString()).appendTo(row);
        $('<td />').text('$' + (item.cost / (1 - 0.55)).toFixed(2).toString()).appendTo(row);
        $('<td />').text('$' + (item.cost / (1 - 0.60)).toFixed(2).toString()).appendTo(row);
        $('<td />').text('$' + (item.cost / (1 - 0.65)).toFixed(2).toString()).appendTo(row);
        $('<td />').text('$' + (item.cost / (1 - 0.70)).toFixed(2).toString()).appendTo(row);
        $('<td />').text('$' + (item.cost / (1 - 0.75)).toFixed(2).toString()).appendTo(row);
        return row;
    }
    $(document).on('keyup', '#QuoteQuantity', function () {
        var payload = {
            GenerateQuoteHeader: {
                QuoteQuantity: $('#QuoteQuantity').val(),
                PartNumber: $('#myParts').val(),
                CustodianPartNum: $('#myCustParts').val(),
                CostYearDesc: $('#CostYearDesc').val(),
            },
            // include verification token
            __RequestVerificationToken: $('[name=__RequestVerificationToken]').val(),
        };

        $.ajax({
            type: "POST",
            url: '/Home/UpdateComponentACQ',
            data: payload,
            success: function (data) {
                console.log(data);
                // update table data
                var list = [];
                list.push({
                    qty: 500,
                    cost: data.GenerateQuoteHeader.calc_500_fzn_unit_cost,
                });
                list.push({
                    qty: 1000,
                    cost: data.GenerateQuoteHeader.calc_1000_fzn_unit_cost,
                });
                list.push({
                    qty: 2000,
                    cost: data.GenerateQuoteHeader.calc_2000_fzn_unit_cost,
                });
                list.push({
                    qty: 2500,
                    cost: data.GenerateQuoteHeader.calc_2500_fzn_unit_cost,
                });
                list.push({
                    qty: 5000,
                    cost: data.GenerateQuoteHeader.calc_5000_fzn_unit_cost,
                });
                list.push({
                    qty: 10000,
                    cost: data.GenerateQuoteHeader.calc_10000_fzn_unit_cost,
                });
                list.push({
                    qty: 20000,
                    cost: data.GenerateQuoteHeader.calc_20000_fzn_unit_cost,
                });
                list.push({
                    qty: 25000,
                    cost: data.GenerateQuoteHeader.calc_25000_fzn_unit_cost,
                });
                list.push({
                    qty: 50000,
                    cost: data.GenerateQuoteHeader.calc_50000_fzn_unit_cost,
                });
                list.push({
                    qty: 100000,
                    cost: data.GenerateQuoteHeader.calc_100000_fzn_unit_cost,
                });
                var dyn = {
                    qty: data.GenerateQuoteHeader.calc_dynam_qty,
                    cost: data.GenerateQuoteHeader.calc_dynam_fzn_unit_cost,
                }

                //var table = $('#tableAddRow_costs');
                //table.empty(); // clear it
                var hdr = $('<tr />')
                //$('<th />').text('Qty Break').appendTo(hdr);
                //$('<th />').text('Cost Per').appendTo(hdr);
                //$('<th />').text('20%').appendTo(hdr);
                //$('<th />').text('25%').appendTo(hdr);
                //$('<th />').text('30%').appendTo(hdr);
                //$('<th />').text('35%').appendTo(hdr);
                //$('<th />').text('40%').appendTo(hdr);
                //$('<th />').text('45%').appendTo(hdr);
                //$('<th />').text('50%').appendTo(hdr);
                //$('<th />').text('55%').appendTo(hdr);
                //$('<th />').text('60%').appendTo(hdr);
                //$('<th />').text('65%').appendTo(hdr);
                //$('<th />').text('70%').appendTo(hdr);
                //$('<th />').text('75%').appendTo(hdr);
                //hdr.appendTo(table);
                for (var i = 0; i < list.length; i++) {
                    var item = list[i];
                    if (i + 1 < list.length && dyn.qty > 0 && list[i + 1].qty > dyn.qty) {
                        //var dynRow = createDataRow(item);
                        //dynRow.addClass('table-row-dynamic');
                        //dynRow.appendTo(table);
                    }
                    //var row = createDataRow(item);
                    //row.appendTo(table);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.error("Update of quantity failed.");
            }
        });

    });
</script>
<br />
@using (Html.BeginForm("MobilePricingTool", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="card-group">
        <div class="card col-md-8">
            <div class="card-header">
                <strong class="card-title">Part Lookup</strong>
            </div>
            <div class="card-body">
                <div class="form-row" id="header_quote2">
                    <div class="col-md-3 mb-3" id="header_master">
                        <label for="myParts">Part Number: </label>
                        @Html.TextBoxFor(c => c.GenerateQuoteHeader.PartNumber, new { @class = "form-control form-control-lg", @id = "myParts", @type = "text-transform:uppercase", @name = "myParts", @placeholder = "Part Number", onkeyup = "this.value = this.value.toUpperCase();" })
                    </div>
                </div>
                <div class="form-row" id="header_quote2">
                    <div class="col-md-3 mb-3" id="header_master">
                        <label for="myCustParts">Cust Part: </label>
                        @Html.TextBoxFor(c => c.GenerateQuoteHeader.CustomerPartNum, new { @class = "form-control form-control-lg", @id = "myCustParts", @type = "text-transform:uppercase", @name = "myCustParts", @placeholder = "Customer Part Number", onkeyup = "this.value = this.value.toUpperCase();clear_val()" })
                    </div>
                </div>
                <div class="form-row" id="header_quote2">
                    <div class="col-md-3 mb-3">
                        <label for="quote_quantity">Quote Quantity: </label>
                        @Html.TextBoxFor(c => c.GenerateQuoteHeader.QuoteQuantity, new { @class = "form-control form-control-lg", @id = "QuoteQuantity", @name = "QuoteQuantity", @placeholder = "Quote Quantity" })
                    </div>
                </div>
                <div class="form-row" id="header_quote2">
                    <div class="col-md-3 mb-3">
                        <label for="quote_quantity">Cost Year: </label>
                        @Html.DropDownListFor(c => c.GenerateQuoteHeader.CostYearDesc, Model.GenerateQuoteHeader.Costing, Model.GenerateQuoteHeader.CostYearDesc, htmlAttributes: new { @class = "form-control form-control-lg", @required = "required", @id = "cost_ref" })
                    </div>


                    <p hidden id="division_id">
                        @Html.DisplayFor(c => c.GenerateQuoteHeader.Division, new { @name = "division_id" })
                    </p>
                </div>
                <input type="submit" runat="server" class="btn btn-warning" value="Find" id="find_button" />
                <br />
            </div>
        </div>

        <div class="card col-sm-auto">
            <div class="card-header">
                <strong class="card-title">Status</strong>
            </div>
            <div class="card-body">
                @if (Model.GenerateQuoteHeader.PartNumber != null)
                {
                    if (Model.GenerateQuoteHeader.PartStatus == "Obselete")
                    {
                        <div class="alert alert-danger" role="alert">
                            <strong>Inactive</strong> This part is not active.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-success" role="alert">
                            <strong>Active</strong> This part is active.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    if (Model.GenerateQuoteHeader.ReserveQty > 0)
                    {
                        <div class="alert alert-success" role="alert">
                            <strong>E/O List</strong> This part is on the E/O list, with E/O cost at @Model.GenerateQuoteHeader.EOExtCost <span class="badge badge-light">@Model.GenerateQuoteHeader.ReserveQty</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }


                    if (Model.GenerateQuoteHeader.CompetitorCount > 0)
                    {
                        <div class="alert alert-success" role="alert">
                            <strong>Competitors</strong> There are @Model.GenerateQuoteHeader.CompetitorCount competitors associated with this part.

                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div>
                                <ul>
                                    @foreach (var item in Model.Competitors)
                                    {
                                        <li>@item.CompetitorName - Status: @item.CompetitorStatus</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-warning" role="alert">
                            <strong>Competitors</strong> There are is no competitor information entered for this part.

                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    if (Model.GenerateQuoteHeader.DisplayedDate == "01/01/0001")
                    {
                        <div class="alert alert-warning" role="alert">
                            <strong>Last Time Costed</strong> This is a newly costed item.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    else
                    {

                        <div class="alert alert-info" role="alert">
                            <strong>Last Time Costed</strong> The last time this part was costed as on @Model.GenerateQuoteHeader.DisplayedDate .
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                    }

                    <div class="alert alert-info" role="alert">
                        <strong>Lead Time</strong> There are @Model.GenerateQuoteHeader.MfgLT weeks of manufacturing lead time and @Model.GenerateQuoteHeader.CumLT weeks of cumulative lead time.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    if (Model.GenerateQuoteHeader.LTACount > 0)
                    {
                        <div class="alert alert-info" role="alert">
                            <strong>LTA Commitments</strong> Part @Model.GenerateQuoteHeader.LTAPartNumber is on <a href="~/Home/LTAModification">LTA</a> at a price of $@Model.GenerateQuoteHeader.LTAPartNumberPrice<p hidden id="lta_cust_num">@Model.GenerateQuoteHeader.LTACustomerNum</p><p hidden id="price">@Model.GenerateQuoteHeader.LTAPartNumberPrice</p>.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                    }
                    if (Model.GenerateQuoteHeader.TotalOrders > 0)
                    {
                        <label>Win Rate Percentage</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @Model.GenerateQuoteHeader.WinsCalc%" aria-valuenow=@Model.GenerateQuoteHeader.WinsCalc aria-valuemin="0" aria-valuemax="100">@Model.GenerateQuoteHeader.WinsCalc% Won</div>
                        </div>
                    }
                    <div class="form-row">

                        <div class="col-sm-1.5 mb-1">
                            <button type="button" class="btn btn-primary m-l-10 m-b-10" data-toggle="modal" data-target="#modalCenter_actuals">Actual Workorder Cost </button>
                        </div>
                        <div class="modal" id="modalCenter_actuals" tabindex="-1" role="dialog" aria-labelledby="Actuals" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="Actuals">Actual Workorder Cost</h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <table class="table table-bordered">
                                                <tr>
                                                    <td>
                                                        Order Type
                                                    </td>
                                                    <td>
                                                        Order Num
                                                    </td>
                                                    <td>
                                                        Completion Date
                                                    </td>
                                                    <td>
                                                        Qty Shipped
                                                    </td>
                                                    @*<td>
                                                Std at WO Qty
                                            </td>*@
                                                    <td>
                                                        Act Cost
                                                    </td>



                                                </tr>
                                                @if (Model.ActualCosts != null)
                                                {
                                                    foreach (var acts in Model.ActualCosts)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @acts.OrderType
                                                            </td>
                                                            <td>
                                                                @acts.OrderNum
                                                            </td>
                                                            <td>
                                                                @acts.DisplayedDate
                                                            </td>
                                                            <td>
                                                                @acts.QtyShipped
                                                            </td>
                                                            @*<td>@Html.Raw(@String.Format("{0:c}", @acts.StdQtyWOQty))</td>*@
                                                            <td>@Html.Raw(@String.Format("{0:c}", @acts.ActCost))</td>

                                                        </tr>
                                                    }
                                                }


                                            </table>
                                            @if (Model.ActualCosts != null)
                                            {
                                                <p><b>Minimum Cost</b> is @Model.GenerateQuoteHeader.ActualCostMin</p>
                                                <p>
                                                    <b>Maximum Adj Factor</b> is <div id="cost_adj">@Model.GenerateQuoteHeader.AverageCostAdjFactor</div>
                                                </p>
                                            }

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<div class="col-sm-1.5 mb-1">
                    <button type="button" class="btn btn-primary m-l-10 m-b-10" data-toggle="modal" data-target="#modalCenter_comp">Components <span class="badge badge-light">@Model.GenerateQuoteHeader.ComponentCount</span></button>
                </div>*@
                        @*<div class="modal" id="modalCenter_comp" tabindex="-1" role="dialog" aria-labelledby="Components" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="Components">Components</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td>
                                                Item Number
                                            </td>
                                            <td>
                                                Comp Desc
                                            </td>
                                            <td>
                                                Comp Stk
                                            </td>
                                            <td>
                                                On-Hand
                                            </td>
                                            <td>
                                                UOM
                                            </td>
                                            <td>
                                                Avail Qty
                                            </td>
                                            <td>
                                                Cost / EA
                                            </td>
                                        </tr>
                                        @if (Model.Components != null)
                                        {
                                            foreach (var comp in Model.Components)
                                            {
                                                <tr>
                                                    <td>
                                                        @comp.ComponentNum
                                                    </td>
                                                    <td>
                                                        @comp.ComponentDesc
                                                    </td>
                                                    <td>
                                                        @comp.ComponentStock
                                                    </td>
                                                    <td>
                                                        @comp.ComponentOnHand
                                                    </td>
                                                    <td>
                                                        @comp.ComponentUOM
                                                    </td>
                                                    <td>
                                                        @comp.ComponentAvailQt
                                                    </td>
                                                    <td>@Html.Raw(@String.Format("{0:c}", @comp.ComponentCost))</td>
                                                </tr>
                                            }
                                        }
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>*@
                        @*<div class="col-sm-1.5 mb-1">
                    <button type="button" class="btn btn-primary m-l-10 m-b-10" data-toggle="modal" data-target="#modalCenter_lta">LTA <span class="badge badge-light">@Model.GenerateQuoteHeader.LTACount</span></button>
                </div>
                <div class="modal" id="modalCenter_lta" tabindex="-1" role="dialog" aria-labelledby="LTA" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="LTA">LTA Information</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td>
                                                Min Qty
                                            </td>
                                            <td>
                                                Max Qty
                                            </td>
                                            <td>
                                                AMU
                                            </td>
                                            <td>
                                                Customer
                                            </td>
                                            <td>
                                                Curr Inv
                                            </td>
                                        </tr>
                                        @if (Model.LTAs != null)
                                        {
                                            foreach (var lta in Model.LTAs)
                                            {
                                                <tr>
                                                    <td>
                                                        @lta.MinQty
                                                    </td>
                                                    <td>
                                                        @lta.MaxQty
                                                    </td>
                                                    <td>
                                                        @lta.AMU
                                                    </td>
                                                    <td>
                                                        @lta.CustomerName
                                                    </td>
                                                    <td>
                                                        @lta.CurrentInventory
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>*@
                    </div>
                }
            </div>
        </div>
    </div>


    if (Model.GenerateQuoteHeader.PartNumber != null)
    {
        <div class="card-group">
            @*<div class="card-group">
                <div class="card col-md-8">
                    <div class="card-header">
                        <strong class="card-title">Part Lookup</strong>
                    </div>
                    <div class="card-body">
                        <div class="form-row" id="header_quote2">*@
            <div class="col-sm-12 mb-4">
                <div class="card col-md-2 no-padding">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="h4 mb-0">
                            <span>@Html.DisplayFor(x => x.GenerateQuoteHeader.PartNumber, new { @class = "form-control", id = "part_num" })</span>
                        </div>
                        <small class="text-muted text-uppercase font-weight-bold">Part Number</small>
                        <div class="progress progress-xs mt-3 mb-0 bg-flat-color-1" style="width: 40%; height: 5px;"></div>
                    </div>
                </div>
                <div class="card col-md-2 no-padding ">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-user-plus"></i>
                        </div>
                        <div class="h4 mb-0">
                            <span>@Html.DisplayFor(x => x.GenerateQuoteHeader.CustomerPartNum, new { @class = "form-control", id = "cust_part_num" })</span>
                        </div>
                        <small class="text-muted text-uppercase font-weight-bold">Customer Part Number</small>
                        <div class="progress progress-xs mt-3 mb-0 bg-flat-color-2" style="width: 40%; height: 5px;"></div>
                    </div>
                </div>
                <div class="card col-md-2 no-padding ">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-cart-plus"></i>
                        </div>
                        <div class="h4 mb-0">
                            <span>@Html.DisplayFor(x => x.GenerateQuoteHeader.PartDescription, new { @class = "form-control", id = "part_desc" })</span>
                        </div>
                        <small class="text-muted text-uppercase font-weight-bold">Part Description</small>
                        <div class="progress progress-xs mt-3 mb-0 bg-flat-color-3" style="width: 40%; height: 5px;"></div>
                    </div>
                </div>
                <div class="card col-md-2 no-padding ">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-pie-chart"></i>
                        </div>
                        <div class="h4 mb-0">
                            <span>@Html.DisplayFor(x => x.GenerateQuoteHeader.ProductGroup, new { @class = "form-control", id = "product_group" })</span>
                        </div>
                        <small class="text-muted text-uppercase font-weight-bold">Product Group</small>
                        <div class="progress progress-xs mt-3 mb-0 bg-flat-color-4" style="width: 40%; height: 5px;"></div>
                    </div>
                </div>
                <div class="card col-md-2 no-padding ">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="h4 mb-0">
                            <span>@Html.DisplayFor(x => x.GenerateQuoteHeader.ProductCode, new { @class = "form-control", id = "product_code" })</span>
                            </div>
                            <small class="text-muted text-uppercase font-weight-bold">Product Code</small>
                            <div class="progress progress-xs mt-3 mb-0 bg-flat-color-5" style="width: 40%; height: 5px;"></div>
                        </div>
                    </div>
                <div class="card col-md-2 no-padding ">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-comments-o"></i>
                        </div>
                        <div class="h4 mb-0">
                            <span class="count" id="acq_val_text">@Html.DisplayFor(x => x.GenerateQuoteHeader.ACQ, new { @class = "form-control", id = "acq", name = "acq" })</span>
                        </div>
                        <small class="text-muted text-uppercase font-weight-bold">ACQ</small>
                        <div class="progress progress-xs mt-3 mb-0 bg-flat-color-1" style="width: 40%; height: 5px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 mb-4">
                <div class="card col-md-2 no-padding ">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="h4 mb-0">
                            <span>@Html.DisplayFor(x => x.GenerateQuoteHeader.ValueStream, new { @class = "form-control", id = "value_stream" })</span>
                        </div>
                        <small class="text-muted text-uppercase font-weight-bold">Value Stream</small>
                        <div class="progress progress-xs mt-3 mb-0 bg-flat-color-1" style="width: 40%; height: 5px;"></div>
                    </div>
                </div>
                <div class="card col-md-2 no-padding ">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-user-plus"></i>
                        </div>
                        <div class="h4 mb-0">
                            <span>@Html.DisplayFor(x => x.GenerateQuoteHeader.GetFirstOp, new { @class = "form-control", id = "cust_part_num" })</span>
                        </div>
                        <small class="text-muted text-uppercase font-weight-bold">First Op Department</small>
                        <div class="progress progress-xs mt-3 mb-0 bg-flat-color-2" style="width: 40%; height: 5px;"></div>
                    </div>
                </div>
                <div class="card col-md-2 no-padding ">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-cart-plus"></i>
                        </div>
                        <div class="h4 mb-0">
                            <span>@Html.DisplayFor(x => x.GenerateQuoteHeader.QuantityOnHand, new { @class = "form-control", id = "part_desc" })</span>
                        </div>
                        <small class="text-muted text-uppercase font-weight-bold">Quantity On Hand</small>
                        <div class="progress progress-xs mt-3 mb-0 bg-flat-color-3" style="width: 40%; height: 5px;"></div>
                    </div>
                </div>
                <div class="card col-md-2 no-padding ">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-pie-chart"></i>
                        </div>
                        <div class="h4 mb-0">
                            <span>@Html.DisplayFor(x => x.GenerateQuoteHeader.QtyAvail, new { @class = "form-control", id = "qty_avail" })</span>
                        </div>
                        <small class="text-muted text-uppercase font-weight-bold">Quantity Available</small>
                        <div class="progress progress-xs mt-3 mb-0 bg-flat-color-4" style="width: 40%; height: 5px;"></div>
                    </div>
                </div>
                <div class="card col-md-2 no-padding ">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="h4 mb-0">
                            <span>@Html.DisplayFor(x => x.GenerateQuoteHeader.ProductType, new { @class = "form-control", id = "product_type" })</span>
                            </div>
                            <small class="text-muted text-uppercase font-weight-bold">Product Type</small>
                            <div class="progress progress-xs mt-3 mb-0 bg-flat-color-5" style="width: 40%; height: 5px;"></div>
                        </div>
                    </div>
                <div class="card col-md-2 no-padding ">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-comments-o"></i>
                        </div>
                        <div class="h4 mb-0">
                            <span class="count">@Html.DisplayFor(x => x.GenerateQuoteHeader.UnitCost, new { @class = "form-control", id = "unit_cost" })</span>
                        </div>
                        <small class="text-muted text-uppercase font-weight-bold">Fzn Unit Cost</small>
                        <div class="progress progress-xs mt-3 mb-0 bg-flat-color-1" style="width: 40%; height: 5px;"></div>
                    </div>
                </div>
            </div>
        </div>

        @*</div>*@
        <div class="card-group">
            
            <div class="card row-md-6 no-padding">
                <div class="card-header">
                    <strong>Costs are based on Frozen Costs. Lowest cost was $ @Model.GenerateQuoteHeader.ActualCostMin </strong>
                    @if (Model.GenerateQuoteHeader.Division == "710000")
                    {
                        @*<input type="button" value="Recalculate Factor" class="btn btn-info small" id="recalc_button"/>*@
                        <p>  3V ONLY** Maximum adjustment factor <b>@Model.GenerateQuoteHeader.AverageCostAdjFactor</b></p>
                    }
                </div>
                <div class="container no-padding">
                    <div class="row clearfix">

                        <div class="row">
                            <br />
                        </div>
                        <hr />
                        <div class="col-md-12 column">
                            <table class="table order-list table-hover" id="tableAddRow_costs" style="100%">
                                <thead>
                                    <tr>
                                        @*<th>Qty Break</th>
                                        <th>Cost Per</th>*@
                                        @*<th>Margin</th>*@
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        // Create a list of dynamic objects as iterate over
                                        var array = new List<QuoteLine>();

                                        array.Add(new QuoteLine()
                                        {
                                            Qty = Model.GenerateQuoteHeader.calc_dynam_qty,
                                            Cost = (double)Model.GenerateQuoteHeader.calc_dynam_fzn_unit_cost,
                                            Margin = (double)Model.GenerateQuoteHeader.Margin,
                                            IsDynamic = true
                                        });

                                        var list = array.OrderBy(a => a.Qty);
                                        foreach (var item in list)
                                        {
                                            if (item.Qty > 0)
                                            {
                                                if (Convert.ToDecimal(item.Cost) < Model.GenerateQuoteHeader.ActualCostMin)
                                                {

                                    <tr class="@(item.IsDynamic ? "table-row-dynamic" : "") bg-danger">
                                        @*<td id="qty_dyn">@item.Qty</td>
        <td id="unit_cost_dyn">@(item.Cost.ToString("c2"))</td>*@
                                        @*<td>@(item.Margin)</td>*@
                                        @*@if (item.Margin >= 20 && item.Margin < 22.5)
        {
            <td id="20_perc">@(Convert.ToDecimal((item.Cost) / (1 - 0.20)).ToString("n2"))</td>
        }

        @if (item.Margin >= 22.5 && item.Margin < 27.5)
        {
            <td id="25_perc">@(Convert.ToDecimal((item.Cost) / (1 - 0.25)).ToString("n2"))</td>
        }

        @if (item.Margin >= 27.5 && item.Margin < 32.5)
        {
            <td id="30_perc">@(Convert.ToDecimal((item.Cost) / (1 - 0.30)).ToString("n2"))</td>
        }

        @if (item.Margin >= 32.5 && item.Margin < 37.5)
        {
            <td id="35_perc">@(Convert.ToDecimal((item.Cost) / (1 - 0.35)).ToString("n2"))</td>
        }

        @if (item.Margin >= 37.5 && item.Margin < 42.5)
        {
            <td id="40_perc">@(Convert.ToDecimal((item.Cost) / (1 - 0.40)).ToString("n2"))</td>
        }

        @if (item.Margin >= 42.5 && item.Margin < 47.5)
        {
            <td id="45_perc">@(Convert.ToDecimal((item.Cost) / (1 - 0.45)).ToString("n2"))</td>
        }

        @if (item.Margin >= 47.5 && item.Margin < 52.5)
        {
            <td id="50_perc">@(Convert.ToDecimal((item.Cost) / (1 - 0.50)).ToString("n2"))</td>
        }

        @if (item.Margin >= 52.5 && item.Margin < 57.5)
        {
            <td id="55_perc">@(Convert.ToDecimal((item.Cost) / (1 - 0.55)).ToString("n2"))</td>
        }

        @if (item.Margin >= 57.5 && item.Margin < 62.5)
        {
            <td id="60_perc">@(Convert.ToDecimal((item.Cost) / (1 - 0.60)).ToString("n2"))</td>
        }

        @if (item.Margin >= 62.5 && item.Margin < 67.5)
        {
            <td id="65_perc">@(Convert.ToDecimal((item.Cost) / (1 - 0.65)).ToString("n2"))</td>
        }
        @if (item.Margin >= 67.5 && item.Margin < 75)
        {
            <td id="70_perc">@(Convert.ToDecimal((item.Cost) / (1 - 0.70)).ToString("n2"))</td>
        }
            @if (item.Margin >= 75)
            {
                <td id="75_perc">@(Convert.ToDecimal((item.Cost) / (1 - 0.75)).ToString("n2"))</td>
            }*@

                                        
                                            <td id="20_perc">@(Convert.ToDecimal((item.Cost) / (1 - 0.20)).ToString("n2"))</td>
                                        
                                            <td id="25_perc">@(Convert.ToDecimal((item.Cost) / (1 - 0.25)).ToString("n2"))</td>
                                        
                                            <td id="30_perc">@(Convert.ToDecimal((item.Cost) / (1 - 0.30)).ToString("n2"))</td>
                                        
                                            <td id="35_perc">@(Convert.ToDecimal((item.Cost) / (1 - 0.35)).ToString("n2"))</td>
                                        
                                            <td id="40_perc">@(Convert.ToDecimal((item.Cost) / (1 - 0.40)).ToString("n2"))</td>
                                        
                                            <td id="45_perc">@(Convert.ToDecimal((item.Cost) / (1 - 0.45)).ToString("n2"))</td>
                                        
                                            <td id="50_perc">@(Convert.ToDecimal((item.Cost) / (1 - 0.50)).ToString("n2"))</td>
                                        
                                            <td id="55_perc">@(Convert.ToDecimal((item.Cost) / (1 - 0.55)).ToString("n2"))</td>
                                        
                                            <td id="60_perc">@(Convert.ToDecimal((item.Cost) / (1 - 0.60)).ToString("n2"))</td>
                                        
                                            <td id="65_perc">@(Convert.ToDecimal((item.Cost) / (1 - 0.65)).ToString("n2"))</td>
                                        
                                            <td id="70_perc">@(Convert.ToDecimal((item.Cost) / (1 - 0.70)).ToString("n2"))</td>
                                        
                                            <td id="75_perc">@(Convert.ToDecimal((item.Cost) / (1 - 0.75)).ToString("n2"))</td>
                                        

                                    </tr>
                                                }
                                                
                                                else
                                                {
                                                    <tr class="@(item.IsDynamic ? "table-row-dynamic" : "")">
                                                        @*<td>@item.Qty</td>
                                                        <td>@(item.Cost.ToString("c2"))</td>*@
                                                        @*<td>@(item.Margin)</td>*@
                                                        @if (item.Margin >= 20 && item.Margin < 22.5)
                                                        {
                                                            <td id="20_perc" class="p-3 mb-2 bg-success text-white">@(Convert.ToDecimal((item.Cost) / (1 - 0.20)).ToString("n2"))</td>
                                                        }
                                                        
                                                        @if (item.Margin >= 22.5 && item.Margin < 27.5)
                                                        {
                                                            <td id="25_perc" class="p-3 mb-2 bg-success text-white">@(Convert.ToDecimal((item.Cost) / (1 - 0.25)).ToString("n2"))</td>
                                                        }
                                                        
                                                        @if (item.Margin >= 27.5 && item.Margin < 32.5)
                                                        {
                                                            <td id="30_perc" class="p-3 mb-2 bg-success text-white">@(Convert.ToDecimal((item.Cost) / (1 - 0.30)).ToString("n2"))</td>
                                                        }
                                                        
                                                        @if (item.Margin >= 32.5 && item.Margin < 37.5)
                                                        {
                                                            <td id="35_perc" class="p-3 mb-2 bg-success text-white">@(Convert.ToDecimal((item.Cost) / (1 - 0.35)).ToString("n2"))</td>
                                                        }
                                                        
                                                        @if (item.Margin >= 37.5 && item.Margin < 42.5)
                                                        {
                                                            <td id="40_perc" class="p-3 mb-2 bg-success text-white">@(Convert.ToDecimal((item.Cost) / (1 - 0.40)).ToString("n2"))</td>
                                                        }
                                                        
                                                        @if (item.Margin >= 42.5 && item.Margin < 47.5)
                                                        {
                                                            <td id="45_perc" class="p-3 mb-2 bg-success text-white">@(Convert.ToDecimal((item.Cost) / (1 - 0.45)).ToString("n2"))</td>
                                                        }
                                                        
                                                        @if (item.Margin >= 47.5 && item.Margin < 52.5)
                                                        {
                                                            <td id="50_perc" class="p-3 mb-2 bg-success text-white">@(Convert.ToDecimal((item.Cost) / (1 - 0.50)).ToString("n2"))</td>
                                                        }
                                                        
                                                        @if (item.Margin >= 52.5 && item.Margin < 57.5)
                                                        {
                                                            <td id="55_perc" class="p-3 mb-2 bg-success text-white">@(Convert.ToDecimal((item.Cost) / (1 - 0.55)).ToString("n2"))</td>
                                                        }
                                                        
                                                        @if (item.Margin >= 57.5 && item.Margin < 62.5)
                                                        {
                                                            <td id="60_perc" class="p-3 mb-2 bg-success text-white">@(Convert.ToDecimal((item.Cost) / (1 - 0.60)).ToString("n2"))</td>
                                                        }
                                                        
                                                        @if (item.Margin >= 62.5 && item.Margin < 67.5)
                                                        {
                                                            <td id="65_perc" class="p-3 mb-2 bg-success text-white">@(Convert.ToDecimal((item.Cost) / (1 - 0.65)).ToString("n2"))</td>
                                                        }
                                                        
                                                        @if (item.Margin >= 67.5 && item.Margin < 75)
                                                        {
                                                            <td id="70_perc" class="p-3 mb-2 bg-success text-white">@(Convert.ToDecimal((item.Cost) / (1 - 0.70)).ToString("n2"))</td>
                                                        }
                                                        
                                                        @if (item.Margin >= 75)
                                                        {
                                                            <td id="75_perc" class="p-3 mb-2 bg-success text-white">@(Convert.ToDecimal((item.Cost) / (1 - 0.75)).ToString("n2"))</td>
                                                        }
                                                        

                                                    </tr>
                                                }
                                            }

                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        @*<div class="row clearfix">
            <div class="col-md-12 column">*@
        @*<div>
                <iframe id="power_bi_graph" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=95406b36-ef0d-47e8-8e0b-7d54ff4e94eb&groupId=baa9fd43-6c2a-49e9-8cdb-250edd08b955&autoAuth=true&ctid=bfbefece-eb5e-4228-97de-acdc658ef68a" frameborder="0" allowFullScreen="true"></iframe>
            </div>*@
        @*<div>
                <iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=f0950b54-fb1c-4054-8144-cf9e5cca0126&groupId=7cae8bd7-a560-4e75-bb69-33b3c0733225&autoAuth=true&ctid=bfbefece-eb5e-4228-97de-acdc658ef68a" frameborder="0" allowFullScreen="true"></iframe>
            </div>*@
        @*</div>
            </div>*@


        <div class="card-group">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Sales Orders   </strong>@*<input type="button" class="btn btn-info small" value="Hide Graphs" id="hide_graphs" />
                    <input type="button" class="btn btn-info small" value="Show Graphs" id="show_graphs" />*@
                    @*<input type="button" class="btn btn-info small" value="Hide Capacity" id="hide_capacity_graphs" />
                        <input type="button" class="btn btn-info small" value="Show Capacity" id="show_capacity_graphs" />*@
                </div>
                <!--partial view in here using javascript-->
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            @*<div class="col-lg-4 d-flex align-items-stretch">*@
                            <div>
                                <canvas id="salesOrdersChart" width="500" height="310"></canvas>
                            </div>

                            <table class="table order-list table-hover" id="tableAddRow_SOHistory" style="100%">
                                <tr>
                                    <th>Order Date</th>
                                    <th>Order No.</th>
                                    <th>Order Qty</th>
                                    <th>Unit Price</th>
                                    <th>Customer</th>
                                </tr>
                                @if (Model.SalesOrders != null)
                                {
                                    foreach (var order in Model.SalesOrders)
                                    {
                                        if (Model.GenerateQuoteHeader.LTACustomerNum == order.SOCustomerNum && Model.GenerateQuoteHeader.LTAPartNumberPrice == order.SOUnitPrice)
                                        {
                                            <tr id="lta_flag">
                                                <td class="bg-warning">@order.DisplayedDate</td>
                                                <td class="bg-warning">@order.SOOrderNum</td>
                                                <td class="bg-warning">@order.SOQuantity</td>
                                                <td class="bg-warning">@Html.Raw(@String.Format("{0:c}", @order.SOUnitPrice))</td>
                                                <td class="bg-warning">@order.SOCustomerName <p hidden id="customer_number">@order.SOCustomerNum</p></td>

                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>@order.DisplayedDate</td>
                                                <td>@order.SOOrderNum</td>
                                                <td>@order.SOQuantity</td>
                                                <td>@Html.Raw(@String.Format("{0:c}", @order.SOUnitPrice))</td>
                                                <td>@order.SOCustomerName <p hidden id="customer_number">@order.SOCustomerNum</p></td>

                                            </tr>
                                        }
                                    }
                                }

                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Quotes</strong>
                </div>
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <div>
                                <canvas id="salesChart" width="500" height="310"></canvas>
                            </div>
                            <table class="table order-list table-hover" id="tableAddRow_QuoteHist" style="100%">
                                <tr>
                                    <th>Quote Date</th>
                                    <th>Quote No.</th>
                                    <th>Qty</th>
                                    <th>Unit Price</th>
                                    <th>Customer</th>
                                </tr>
                                @if (Model.Quotes != null)
                                {
                                    foreach (var quote in Model.Quotes)
                                    {
                                        if (Model.GenerateQuoteHeader.LTACustomerNum == quote.QHCustomerNum && Model.GenerateQuoteHeader.LTAPartNumberPrice == quote.QHUnitPrice)
                                        {
                                            <tr>
                                                <td class="bg-warning">@quote.QHQuoteDate.ToShortDateString()</td>
                                                <td class="bg-warning">@quote.QHQuoteNum</td>
                                                <td class="bg-warning">@quote.QHQuantity</td>
                                                <td class="bg-warning">@Html.Raw(@String.Format("{0:c}", @quote.QHUnitPrice))</td>
                                                <td class="bg-warning">@quote.QHCustomerName<p hidden id="customer_number">@quote.QHCustomerNum</p></td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>@quote.QHQuoteDate.ToShortDateString()</td>
                                                <td>@quote.QHQuoteNum</td>
                                                <td>@quote.QHQuantity</td>
                                                <td>@Html.Raw(@String.Format("{0:c}", @quote.QHUnitPrice))</td>
                                                <td>@quote.QHCustomerName<p hidden id="customer_number">@quote.QHCustomerNum</p></td>
                                            </tr>
                                        }
                                    }
                                }
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}
