﻿@model  IEnumerable<RequestForQuoteSharePointWeb.Models.PartDescription>
@using GridMvc.Html
@{
    ViewBag.Title = "Part Description Lookup";
}

<h2>Part Description Lookup</h2>

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
@Scripts.Render("~/Scripts/gridmvc.min.js")

<div class="code-cut">
    @Html.Grid(Model).Columns(Columns=>
{
    //Columns.Add(m => m.PartID).Titled("ID").Filterable(true);
    Columns.Add(m => m.PartNumber).Titled("Part Number").Filterable(false).Sortable(false).SortInitialDirection(GridMvc.Sorting.GridSortDirection.Ascending);
    Columns.Add(m => m.PartDesc).Titled("Part Description").Filterable(false).Sortable(false);
    Columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(o => Html.ActionLink("Choose", "OriginalPricingTool", new { PartNumber = o.PartNumber }));
    //}).WithPaging(25).Sortable(true)
}).Sortable(true)
</div>

<div>
    @Html.ActionLink("Back to Pricing Tool", "OriginalPricingTool")
</div>
