@model  IEnumerable<RequestForQuoteSharePointWeb.Models.QualifiedParts>
@using GridMvc.Html
@{
    ViewBag.Title = "QualifiedPartsListing";
    //var grid = new WebGrid(source: Model, canPage: true, rowsPerPage10);
    //grid.Pager(WebGridPagerModes.All);
}

<style>
    @@media (min-width: 768px) {
        .container {
            margin-left: 0px;
            margin-right: 0px;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            max-width: 100vw;
        }

        .card {
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
            padding-left: 0px;
            padding-right: 0px;
            /*display:inline-block;*/
        }

        .scroll {
            overflow-y: scroll;
            max-height: 525px;
        }

        .row {
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }
    }
</style>

<br />
<h2>Approved Parts Database</h2>

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
@Scripts.Render("~/Scripts/gridmvc.min.js")
<div class="code-cut">
    @Html.Grid(Model).Columns(Columns=>
{
    Columns.Add(c => c.Product_Code_ID).Titled("ID").Filterable(true);
    Columns.Add(c => c.SpecificationStandard).Titled("Spec Standard").Sortable(true).Filterable(true);
    Columns.Add(c => c.CustodianPart).Titled("Custodian Part").Sortable(true).Filterable(true);
    Columns.Add(c => c.Custodian).Titled("Custodian").Filterable(true);
    Columns.Add(c => c.Manufacturer).Titled("Manufacturer").Filterable(true);
    Columns.Add(c => c.MaterialType).Titled("Material Type").Filterable(false);
    Columns.Add(c => c.Size).Titled("Size").Filterable(false);
    Columns.Add(c => c.Range).Titled("Range").Filterable(false);
    Columns.Add(c => c.Finish).Titled("Finish").Filterable(false);
    Columns.Add(c => c.Status).Titled("Status").Filterable(true);
    Columns.Add(c => c.Organization).Titled("Organization").Filterable(true);
    Columns.Add(c => c.DisplayedDate).Titled("Date Created").Filterable(false);
    Columns.Add(c => c.EnteredBy).Titled("Entered By").Filterable(false);
    Columns.Add(c => c.ModifiedBy).Titled("Modified By").Filterable(false);
    Columns.Add(c => c.CompetitorPrice).Titled("Competitor Price").Filterable(false);
    Columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(o => Html.ActionLink("Edit", "EditQualifiedPart", new { Product_Code_ID = o.Product_Code_ID }));
    Columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(o => Html.ActionLink("Add", "AddProductCode", new { Product_Code_ID = o.Product_Code_ID }));
}).WithPaging(30).Sortable(true)
</div>

<div>
    @Html.ActionLink("Back to Data Management", "DataManagementConsole")
</div>
