﻿@model  IEnumerable<RequestForQuoteSharePointWeb.Models.ViewQueue>
@using GridMvc.Html
@{
    ViewBag.Title = "QuoteQueue";
    //var grid = new WebGrid(source: Model, canPage: true, rowsPerPage10);
    //grid.Pager(WebGridPagerModes.All);
}

<br />
<h5>Please review your current queue of assigned quote requests.</h5>

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
                    
<div class="code-cut">
    @Html.Grid(Model).Columns(Columns=>
{
    Columns.Add(c => c.Request_Id).Titled("Id").Filterable(true);
    Columns.Add(c => c.Series).Titled("Series").Filterable(false);
    Columns.Add(c => c.Priority).Titled("Priority").Filterable(false);
    Columns.Add(c => c.DueDate).Titled("Due Date").Filterable(false);
    Columns.Add(c => c.Status).Titled("Status").Filterable(false);
    Columns.Add(c => c.CreatedBy).Titled("Created By").Filterable(false);
    Columns.Add(c => c.CustomerName).Titled("Customer Name").Filterable(false);
    Columns.Add(c => c.OpportunityType).Titled("Opportunity Type").Filterable(false);
    Columns.Add(c => c.ProductType).Titled("Product Type").Filterable(false);
    Columns.Add(c => c.Comments).Titled("Comments").Filterable(false);
    Columns.Add(c => c.CurrentAssignment).Titled("Current Assignment").Filterable(true);
    //Columns.Add(c => c.OptionalAssignment).Titled("Optional Assignment").Filterable(false);
    Columns.Add(c => c.Organization).Titled("Organization").Filterable(true);
    Columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(o => Html.ActionLink("Edit", "ViewRequest", new { Request_Id = o.Request_Id })); //, new { Request_Id = o.Request_Id }
}).WithPaging(10).Sortable(true)
    </div>

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
