﻿@{
    ViewBag.Title = "Reporting Page";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<h2>Reports are coming soon!</h2>



<div>
    @Html.ActionLink("Back to home", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
