﻿
@{
    ViewBag.Title = "ReviewQuote";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Review Quote</h2>

<script>
    $(document).ready(function () {
        var i = 1;
        $("#add_row").click(function () {
            $('#addr' + i).html("<td>" + (i + 1) + "</td><td><input name='size" + i + "' type='text' placeholder='size' class='form-control input-md'  /> </td><td><input  name='platform" + i + "' type='text' placeholder='platform'  class='form-control input-md'></td><td><input  name='material_type" + i + "' type='text' placeholder='material_type'  class='form-control input-md'></td><td><input name='expected_value" + i + "' type='text' placeholder='expected_value' class='form-control input-md'  /> </td><td><input name='market_price" + i + "' type='text' placeholder='market_price' class='form-control input-md'  /> </td><td><input name='est_revenue_yr" + i + "' type='text' placeholder='est_revenue_yr' class='form-control input-md'  /> </td><td><input name='est_qty_yr" + i + "' type='text' placeholder='est_qty_yr' class='form-control input-md'  /> </td><td><input name='attributes" + i + "' type='button' placeholder='attributes' class='form-control input-md'  /> </td>");
            $('#tab_logic').append('<tr id="addr' + (i + 1) + '"></tr>');
            i++;
        });
        $("#delete_row").click(function () {
            if (i > 1) {
                $("#addr" + (i - 1)).html('');
                i--;
            }
        });

    });
</script>
<script>
    $(document).ready(function () {
        $.viewMap = {
            '0': $([]),
            'view1': $('#view1'),
            'view2': $('#view2'),
            'view3': $('#view3')
        };

        $('#viewSelector').change(function () {
            $.each($.viewMap, function () { this.hide(); });
            $.viewMap[$(this).val()].show();
        });
    });
</script>

<h5>Please complete the request from Sales for process completion. Required fields are marked by an *.</h5>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    //@model RequestForQuote.BundleConfig
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



        <form class="form-group start">
            <select id="viewSelector">
                <option value="0">-- Select a View --</option>
                <option value="view1">Engineering Review</option>
                <option value="view2">Sales Review</option>
            </select>
            <!--end addition-->
            <div class="form-group start">
                <label class="col-xs-2 col-form-label" for="part_standard">Part Series*: </label>
                <input readonly type="text" class="form-control" id="part_standard">
            </div>

            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <table class="table order-list table-hover" id="request_lines">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Size</th>
                                    <th>Platform</th>
                                    <th>Material Type</th>
                                    <th>Expected Value ($M)</th>
                                    <th>Market Price</th>

                                    <th>Est. Revenue Yr</th>
                                    <th>Est. Qty Yr</th>
                                    <th>Attributes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="addr0">
                                    <td>1</td>
                                    <td class="col-sm-1">
                                        <input readonly type="text" name="size" placeholder="Size" class="form-control">
                                    </td>
                                    <td class="col-sm-2">
                                        <input readonly type="text" name="platform" placeholder="Platform" class="form-control">
                                    </td>
                                    <td class="col-sm-2">
                                        <input readonly type="text" name="material_type" placeholder="Material Type" class="form-control">
                                    </td>
                                    <td class="col-sm-2">
                                        @*<span class="input-group-addon">$</span>*@
                                        <input readonly type="text" name="expected_value" placeholder="Expected Value" class="form-control">
                                    </td>
                                    <td class="col-sm-1">
                                        <input readonly type="text" name="market_price" placeholder="Market Price" class="form-control">
                                    </td>

                                    <td class="col-sm-2">
                                        <input readonly type="text" name="est_revenue_yr" placeholder="Est Revenue Year" class="form-control">
                                    </td>
                                    <td class="col-sm-1">
                                        <input readonly type="text" name="est_qty_yr" placeholder="Est Qty Year" class="form-control">
                                    </td>
                                    <td class="col-sm-4">
                                        <button name="attributes1" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ChooseAttribute1" data-whatever="PickDate" placeholder="attributes">Attributes</button>
                                        <!--start of button add due date-->
                                        <div class="modal fade" id="ChooseAttribute1" tabindex="-1" role="dialog" aria-labelledby="ChooseAttribute" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="ChooseDueDate">Line Attributes:</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        @*<form>*@
                                                        <div class="form-group">
                                                            <label for="line-due-date" class="col-form-label">Due Date:</label>
                                                            <input readonly class="form-control" type="datetime-local" id="line-due-date">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="line-priority-level" class="col-form-label">Priority:</label>
                                                            @*<select  readonly class="form-control" type="text" id="line-priority-level">
                                                                    <option>(0) Critical</option>
                                                                    <option>(1) High</option>
                                                                    <option>(2) Medium</option>
                                                                    <option>(3) Low</option>
                                                                </select>*@
                                                            <input readonly class="form-control" type="text" id="line-priority-level">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="other-sources" class="col-form-label">Other Sources:</label>
                                                            <input readonly class="form-control" type="text" id="other-sources">
                                                        </div>
                                                        @*<div class="form-group">
                                                                <label for="competitors_market_price" class="col-form-label">Competitors Market Price:</label>
                                                                <input class="form-control" type="text" id="competitors_market_price">
                                                            </div>*@
                                                        @*<th>Est. Revenue Yr 1</th>
                                                            <th>Est. Qty Yr 1</th>*@
                                                        <div class="form-group">
                                                            <label for="est_revenue_yr2" class="col-form-label">Est. Revenue Yr 2</label>
                                                            <input readonly class="form-control" type="text" id="est_revenue_yr2">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_qty_yr2" class="col-form-label">Est. Quantity Yr 2</label>
                                                            <input readonly class="form-control" type="text" id="est_qty_yr2">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_revenue_yr3" class="col-form-label">Est. Revenue Yr 3</label>
                                                            <input readonly class="form-control" type="text" id="est_revenue_yr3">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_qty_yr3" class="col-form-label">Est. Quantity Yr 3</label>
                                                            <input readonly class="form-control" type="text" id="est_qty_yr32">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_revenue_yr4" class="col-form-label">Est. Revenue Yr 4</label>
                                                            <input readonly class="form-control" type="text" id="est_revenue_yr4">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_qty_yr4" class="col-form-label">Est. Quantity Yr 4</label>
                                                            <input readonly class="form-control" type="text" id="est_qty_yr4">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_revenue_yr5" class="col-form-label">Est. Revenue Yr 5</label>
                                                            <input readonly class="form-control" type="text" id="est_revenue_yr5">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="est_qty_yr5" class="col-form-label">Est. Quantity Yr 5</label>
                                                            <input readonly class="form-control" type="text" id="est_qty_yr5">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="save_file" class="col-form-label">Attach a Blue Print</label>
                                                            <input readonly type="file" id="save_file">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="save_file" class="col-form-label">Additional Attachment</label>
                                                            <input readonly type="file" id="save_file">
                                                        </div>
                                                        @*</form>*@
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Save and Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr id='addr1'></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                @*  <a id="add_row" class="btn btn-default pull-left">Add Row</a><a id="delete_row" class="pull-right btn btn-default">Remove Row</a>*@
            </div>
            <br />

            <div class="form-group start">
                <label class="col-xs-2" for="customer">Customer Name*: </label>
                <input readonly type="text" class="form-control" id="customer">
            </div>
            <div class="form-group start">
                <label class="col-xs-2" for="opportunity_type">Opportunity Type*: </label>
                <select class="form-control" id="opportunity_type">
                    <option>New</option>
                    <option>Market</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="form-group start">
                <label class="col-xs-2" for="product_type">Product Type: </label>
                <select class="form-control" id="product_type">
                    <option>12pt barrel</option>
                    <option>12pt nut</option>
                    <option>hex nut</option>
                    <option>hex nut with barrel</option>
                    <option>barrel nut</option>
                    <option>captive washer nut</option>
                    <option>self aligner</option>
                </select>
            </div>
            <div class="form-group start">
                @*<label class="form-check-label"><input type="checkbox" for="qualification_flag" value="qualification_flag">Qualification Required?  </label> <!--complete quote-->*@
                <label class="col-xs-2"><input readonly type="checkbox" for="prototypes_used" value="prototypes_used">  Prototype Required?</label> <!--complete quote-->
            </div>
            <div id="view1" class="form-group start">
                <label for="line-priority-level" class="col-xs-2">Qualification Testing:</label>
                <select class="form-control" type="text" id="qualification">
                    <option>None</option>
                    <option>By Analogy</option>
                    <option>Full Internal</option>
                    <option>Full Witness</option>
                </select>
            </div>
        </form>

    </div>

    <form class="form-group final" action="Making_Request" method="post">
        <div class="form-group final">
            <label class="col-2 col-form-label" for="comments">Comments: </label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <div id="view2" class="form-group final">
            <label class="col-2 col-form-label" for="routing">Route Group: </label>
            <select class="form-control" id="routing" name="routing">
                <option id="sales_mgt">Sales</option>
                <option id="eng">Sales Management</option>
                <option id="eng">Engineering Management</option>
                <option id="eng_mgt">Engineering Management</option>
            </select>

        </div>
        <div class="form-group final" id="view1">
            <label class="col-2 col-form-label" for="optional_assignment">Optional Requestor Reassignment: </label>
            <input class="form-control" id="optional_assignment" value="bmount@conaeromfg.com" />
            <!--update status of qutoe-->
            <br />

            <div id="view1">
                <!--engineering only-->
                <label class="radio-inline"><input type="radio" name="quote_status_radio" value="quote">Quote</label>
                <label class="radio-inline"><input type="radio" name="quote_status_radio" value="no_quote">No Quote</label>
                <label class="radio-inline"><input type="radio" name="quote_status_radio" value="more_info">More Information Requested</label>
            </div>
            <!--complete quote check-->

            <br />


            @* <label class="form-check-label"><input type="checkbox" for="qualification_required" value="qualification_required">  Qualification Required?</label> <!--complete quote-->*@

        </div>

        <div class="form-group final">
            <div class="col-2 col-form-label">
                <input type="submit" runat="server" onclick="Making_Request" name="route_back" class="btn btn-primary" value="< Route Back" />
                <input type="submit" runat="server" onclick="Making_Request" name="save" class="btn btn-primary" value="Save" />
                <input type="submit" runat="server" onclick="Making_Request" name="request_complete" class="btn btn-primary" value="Save and Submit >" />

            </div>
        </div>
    </form>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}