﻿@model IEnumerable<RequestForQuoteSharePointWeb.Models.GetPricingInfo>

@using (Html.BeginForm("GetSalesOrderHistory", "Home", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    //@model RequestForQuote.BundleConfig

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @*This section pulls Sales Order History*@

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <table class="table order-list table-hover" id="tableAddRow_SOHistory" style="100%">
                    <tr>
                        <th class="text-center">#</th>
                        <th>Order Date</th>
                        <th>Order No.</th>
                        <th>Order Qty</th>
                        <th>Total Qty</th>
                        <th>Unit Price</th>
                        <th>Ext Cost</th>
                        <th>Status</th>
                        <th>Markup</th>
                        <th>Customer</th>
                    </tr>
                    @if (ViewBag.SOOrderNum != null)
                    {
                        foreach (var order in ViewBag.SalesOrders)
                        {
                            <tr>
                                <td>1</td>
                                <td>@order.OrderDate</td>
                                <td>@order.SOOrderNum</td>
                                <td>@order.SOQuantity</td>
                                <td>@order.SOQuantity</td>
                                <td>@order.SOUnitPrice</td>
                                <td>@order.SOExtCost</td>
                                <td>@order.SOStatus</td>
                                <td>@order.SOUnitPrice</td>
                                <td>@order.SOCustomerNum</td>
                            </tr>
                        }
                    }

                </table>
            </div>
        </div>
    </div>

}