﻿@model  IEnumerable<RequestForQuoteSharePointWeb.Models.StrategicPricingAdjustments>
@using GridMvc.Html
@{
    ViewBag.Title = "Strategic Pricing Adjustments";
    //var grid = new WebGrid(source: Model, canPage: true, rowsPerPage10);
    //grid.Pager(WebGridPagerModes.All);
}

<style>
    @@media (min-width: 768px) {
        .container {
            margin-left: 0px;
            margin-right: 0px;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            max-width: 100vw;
        }

        .card {
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
            padding-left: 0px;
            padding-right: 0px;
            /*display:inline-block;*/
        }

        .scroll {
            overflow-y: scroll;
            max-height: 525px;
        }

        .row {
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }
    }
</style>

<script type="text/javascript">
     $(document).on('click', '#add_strategy', function str_price() {
            $.ajax({
                type: "GET",
                url: '/Home/AddStrategicPricing',
                //data: payload,
                success: function (redirect) {
                    //return Json(new { result = "Redirect", url = Url.Action("Add", "AddLTA") });
                    window.location.href = '@Url.Action("AddStrategicPricing", "Home")';
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Failed to navigate to add strategic pricing.");
                }
        });
     });
</script>

<br />
<h2>Strategic Adjustments</h2>

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
@Scripts.Render("~/Scripts/gridmvc.min.js")

<div>
    <button type="button" class="btn btn-primary" id="add_strategy">Add</button>
</div>

<div class="code-cut">
    @Html.Grid(Model).Columns(Columns=>
{
    Columns.Add(c => c.ADJUSTMENT_ID).Titled("ID").Filterable(true);
    Columns.Add(c => c.DIVISION).Titled("Division").Sortable(true).Filterable(true);
    Columns.Add(c => c.VALUE_STREAM).Titled("Value Stream").Filterable(true);
    Columns.Add(c => c.PRODUCT_GROUP).Titled("Product Group").Filterable(true);
    Columns.Add(c => c.PRODUCT_CODE).Titled("Product Code").Filterable(true);
    Columns.Add(c => c.CUSTOMER_NUMBER).Titled("Customer Number").Filterable(true);
    Columns.Add(c => c.INTERNAL_PART_NUMBER).Titled("Internal Part Number").Filterable(true);
    Columns.Add(c => c.CUSTOMER_PART_NUMBER).Titled("Customer Part Number").Filterable(true);
    //Columns.Add(c => c.APPLY_QUANTITY_BREAK_RANGE).Titled("Apply Quantity Range").Filterable(true);
    Columns.Add(c => c.QUANTITY_BREAK_RANGE_START).Titled("Quantity Start").Filterable(true);
    Columns.Add(c => c.QUANTITY_BREAK_RANGE_END).Titled("Quantity End").Filterable(true);
    Columns.Add(c => c.OTHER).Titled("Other").Filterable(false);
    Columns.Add(c => c.STATUS).Titled("Status").Filterable(true);
    Columns.Add(c => c.COMMENT).Titled("Comment").Filterable(false);
    Columns.Add(c => c.ADJUSTMENT).Titled("Adjustment").Filterable(false);
    //Columns.Add(c => c.CreatedBy).Titled("Created By").Filterable(true);
    Columns.Add(c => c.DisplayedCreationDate).Titled("Creation Date").Filterable(false);
    //Columns.Add(c => c.LastEditedBy).Titled("Last Edit").Filterable(true);
    Columns.Add(c => c.DisplayedEditDate).Titled("Last Edit Date").Filterable(false);
    Columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(o => Html.ActionLink("Edit", "EditStrategicPricing", new { ADJUSTMENT_ID = o.ADJUSTMENT_ID }));
}).WithPaging(20).Sortable(true)
</div>

<div>
    @Html.ActionLink("Back to Data Management", "DataManagementConsole")
</div>

