﻿
@using (Html.BeginForm("UploadWorkbenchFileNew", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.TextBox("file", "", new { type = "file", name = "file" })

        
        <input id="upload_pricing_new" type="submit" class="btn btn-secondary active" value="Upload by Automatically Calculating Pricing" />

        @ViewBag.Message

    </div>

}
