
@using (Html.BeginForm("UploadWorkbenchFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.TextBox("file", "", new { type = "file", name = "file" })
        
        <input id="upload_pricing_default" type="submit" class="btn btn-secondary active" value="Upload No Price Template" />

        @ViewBag.Message

    </div>

}