
@using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

<div>
    @Html.TextBox("file", "", new { type = "file", name = "file" }) 
    
    <input type="submit" class="btn btn-default active" value="Upload" />

    @ViewBag.Message

</div>


}  
