﻿@model RequestForQuoteSharePointWeb.Models.vCheck_Your_Requests

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<div>
    <h4>vCheck_Your_Requests</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.highest_priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.highest_priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.closest_due_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.closest_due_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_by)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.customer_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_name)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.opportunity_type_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opportunity_type_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.current_assignment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.current_assignment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.optional_assignment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.optional_assignment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.org_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.org_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
