@model RequestForQuoteSharePointWeb.Models.QuoteOverview
@{
  ViewBag.Title = "View Quote";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>


  @@media (min-width: 768px) {
    .container {
      margin-left: 0px;
      margin-right: 0px;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      max-width: 100vw;
    }
  }
</style>

<script type="text/javascript">

    //function downloadFile(fileName, csv) {
    //    if (navigator.userAgent.indexOf('MSIE') !== -1
    //        || navigator.appVersion.indexOf('Trident/') > 0) {
    //        var IEwindow = window.open("", "", "Width=0px; Height=0px");
    //        IEwindow.document.write('sep=,\r\n' + csv);
    //        IEwindow.document.close();
    //        IEwindow.document.execCommand('SaveAs', true, fileName);
    //        IEwindow.close();
    //    }
    //    else {
    //        var aLink = document.createElement('a');
    //        var evt = document.createEvent("MouseEvents");
    //        evt.initMouseEvent("click", true, true, window,
    //            0, 0, 0, 0, 0, false, false, false, false, 0, null);
    //        aLink.download = fileName;
    //        aLink.href = 'data:text/csv;charset=UTF-8,' + encodeURIComponent(csv);
    //        aLink.dispatchEvent(evt);
    //    }
    //}
    
    $(document).ready(function () {
        //on('click', '#export_button', function exportButtonClick() {
        //$(document).on('click', '#export_button', function exportButtonClick() {
        //jQuery.ajax({
        //    type: "POST",
        //    data: {},
        //    url: '/Home/ExportWorkbench',
        //    dataType: 'json',
        //    success: function (json) {
        //        var csv = JSON.parse(json.replace(/"([\w]+)":/g, function ($0, $1) { return ('"' + $1.toLowerCase() + '":'); }));
        //        downloadFile('download.csv', encodeURIComponent(csv));
        //    }
        //});

        //export to excel from table
        function exportTableToCSV($table, filename) {

            var $rows = $table.find('tr:has(td),tr:has(th)'),

                // Temporary delimiter characters unlikely to be typed by keyboard
                // This is to avoid accidentally splitting the actual contents
                tmpColDelim = String.fromCharCode(11), // vertical tab character
                tmpRowDelim = String.fromCharCode(0), // null character

                // actual delimiter characters for CSV format
                colDelim = '","',
                rowDelim = '"\r\n"',

                // Grab text from table into CSV formatted string
                csv = '"' + $rows.map(function (i, row) {
                    var $row = $(row), $cols = $row.find('td,th');
                    //if ($cols != 5 && $cols != 7) {
                    return $cols.map(function (j, col) {
                        if (j != 7 && j != 8 && j != 10 && j != 11 && j != 5) {
                            var $col = $(col), text = $col.text();

                            return text.replace(/"/g, '""'); // escape double quotes
                        }
                        }).get().join(tmpColDelim);
                    //}
                }).get().join(tmpRowDelim)
                    .split(tmpRowDelim).join(rowDelim)
                    .split(tmpColDelim).join(colDelim) + '"',



                // Data URI
                csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

            console.log(csv);

            if (window.navigator.msSaveBlob) { // IE 10+
                //alert('IE' + csv);
                window.navigator.msSaveOrOpenBlob(new Blob([csv], { type: "text/plain;charset=utf-8;" }), "csvname.csv")
            }
            else {
                $(this).attr({ 'download': filename, 'href': csvData, 'target': '_blank' });
            }
        }

        // This must be a hyperlink
        $("#xx").on('click', function (event) {

            exportTableToCSV.apply(this, [$('#tableAddRow'), 'export.csv']);

            // IF CSV, don't do event.preventDefault() or return false
            // We actually need this to be a typical hyperlink
        });


    });

  $(document).on('click', '#update_button', function update_quote() {

    window.scrollTo(0, 0);
    Pauser.show();

    var payload = {

      //QuoteOverview: {
      model: {
        QuoteID: parseFloat(document.getElementById("quote_id_val").innerText),
        WorkflowComments: document.getElementById("workflow_comments").innerText,
        Status_ID: $('#status_id').val(),
        //}
      },
      __RequestVerificationToken: $('[name=__RequestVerificationToken]').val(),
    };

    $.ajax({
      type: "POST",
      url: '/Home/ViewQuote',
      data: payload,
      success: function (msg) {
        Pauser.hide();
        alert("Updated");

      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        Pauser.hide();
        //alert("Quote workbench update failed. Contact your system administrator for resubmission.");
      }
    });
  });
</script>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h5>Please review the quote for approval and possible issuance.</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      @using (Html.BeginForm("ViewQuote", "Home", FormMethod.Post, new { @class = "pause-onsubmit-form" }))
      {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <form method="post" class="form-group start" action="ViewRequest">
          <div class="control-group">
            <div class="row">
              <label class="col-xs-5 col-sm-3 col-md-2 col-form-label" for="quote_id">Quote ID: </label>
			  <strong><span id="quote_id_val" class="col-xs-7 col-sm-9 col-md-10 display-text">@Html.DisplayFor(c => c.ViewQuoteModel.QuoteID)</span></strong>
            </div>
            <div class="row row-form">
              <label class="col-xs-5 col-sm-3 col-md-2 col-form-label" for="request_num">Quote Num: </label>
              <span class="col-xs-7 col-sm-9 col-md-3 display-text">
                @Html.TextBoxFor(c => c.ViewQuoteModel.QuoteNum, new { @class = "form-control" })
              </span>
            </div>
            <div class="row row-form">
              <label class="col-xs-5 col-sm-3 col-md-2 col-form-label" for="requested_by">Requested By: </label>
              <span class="col-xs-7 col-sm-9 col-md-10 display-text">
                @Html.DisplayFor(c => c.ViewQuoteModel.CreatedBy)
              </span>
            </div>
            <div class="row row-form">
              <label class="col-xs-5 col-sm-3 col-md-2 col-form-label" for="current_status">Current Status: </label>
              <span class="col-xs-7 col-sm-9 col-md-10 display-text">
                @Html.DisplayFor(c => c.ViewQuoteModel.WorkflowStatus)
              </span>
            </div>
            <div class="row row-form">
              <label class="col-xs-5 col-sm-3 col-md-2 col-form-label" for="creation_date">Creation Date: </label>
              <span class="col-xs-7 col-sm-9 col-md-10 display-text">
                @Html.DisplayFor(c => c.ViewQuoteModel.DisplayedDate)
              </span>
            </div>
            <div class="row row-form">
              <label class="col-xs-5 col-sm-3 col-md-2 col-form-label" for="due_date">Due Date: </label>
              <span class="col-xs-7 col-sm-9 col-md-10 display-text">
                @Html.DisplayFor(c => c.ViewQuoteModel.DueDate, new { @type = "date", @id = "due_date" })
              </span>
            </div>
            @*@{
                var myViewPart = Html.Partial("_QuoteLines");
                myViewPart = new MvcHtmlString(myViewPart.ToString());
              }
              @myViewPart*@

            @*Partial view here*@
            <div class="row row-form">
              <div class="col-xs-12">
                  <div class="btn bg-primary">
                      <a href="#" id="xx" style="text-decoration:none;color:#000;background-color:#ddd;border:1px solid #ccc;padding:8px;">Export To Excel</a>
                  </div>

                <table class="table order-list table-hover" id="tableAddRow" style="width: auto">
                  <thead>
                    <tr>
                      <th class="text-center">#</th>
                      <th>Part Num</th>
                      <th>Customer Part Num</th>
                      <th>Comments</th>

                      <th>Qty</th>
                      <th>Unit Cost</th>
                      <th>Unit Price</th>
                      <th>Margin</th>
                      <th>Ext Cost</th>
                      <th>Ext Price</th>
                      <th>Ext Margin</th>
                      <th>Margin %</th>
                      <th>Lead Time</th>
                      <th>Cost Reference</th>
                        <th>Calc Cost</th>
                    </tr>
                  </thead>
                  <tbody>
                    @foreach (var line_items in Model.QuoteDisplayLines)
                    {
                    <tr id="addr1">

                      <td>@line_items.QCLineNum</td>
                      <td>@line_items.QCPartNumber</td>
                      <td>@line_items.QCCustPartNumber</td>
                      <td>@line_items.QCLineComments</td>

                      <td>@line_items.QCQuoteQty</td>
                      <td>$ @line_items.QCQuoteUnitCost</td>
                      <td>$ @line_items.QCQuoteUnitPrice</td>
                      @if (line_items.QCQuoteUnitCost > 0)
                      {
                        <td>$ @(Convert.ToDecimal((line_items.QCQuoteUnitPrice) - line_items.QCQuoteUnitCost).ToString("n2"))</td>
                      }
                      else
                      {
                        <td>0</td>
                      }
                      <td>$ @line_items.QCExtCost</td>
                      <td>$ @line_items.QCExtPrice</td>
                      <td>$ @line_items.QCMargin</td>
                      @if (line_items.QCExtCost > 0)
                      {
                        <td>@(Convert.ToDecimal((line_items.QCExtPrice / line_items.QCExtCost) * 100 - 100).ToString("n2")) %</td>
                      }
                      else
                      {
                        <td>0</td>
                      }
                      <td>@line_items.QCLeadTime</td>
                        <td>@line_items.QCCostReference</td>
                        <td>@line_items.QCQuoteCalcUnitCost</td>
                    </tr>
                    }



                  </tbody>
                </table>
              </div>
            </div>
            <div class="row row-form">
              <label class="col-xs-5 col-sm-3 col-md-2 col-form-label cust" for="customer">Extended Price: </label>
              <span class="col-xs-7 col-sm-9 col-md-10 display-text">
                $ @Html.DisplayFor(c => c.ViewQuoteModel.TotalPrice)
              </span>
            </div>
            <div class="row row-form">
              <label class="col-xs-5 col-sm-3 col-md-2 col-form-label cust" for="cost">Extended Cost: </label>
              <span class="col-xs-7 col-sm-9 col-md-10 display-text">
                $ @Html.DisplayFor(c => c.ViewQuoteModel.TotalCost)
              </span>
            </div>
            <div class="row row-form">
              <label class="col-xs-5 col-sm-3 col-md-2 col-form-label cust" for="cost">Std. Margin %: </label>
              @if (Model.ViewQuoteModel.TotalCost > 0)
              {
                <span class="col-xs-7 col-sm-9 col-md-10 display-text">
                  @Convert.ToDecimal(((Model.ViewQuoteModel.TotalPrice / @Model.ViewQuoteModel.TotalCost) * 100 - 100).ToString("n2")) %
                  @*@(Convert.ToDecimal(((item.Cost) / (1 - 0.60)) * item.Qty).ToString("n2"))*@
                </span>
              }
              else
              {
                <span class="col-xs-7 col-sm-9 col-md-10 display-text">
                  0 %
                </span>
              }
            </div>
            <div class="row row-form">
              <label class="col-xs-5 col-sm-3 col-md-2 col-form-label cust" for="customer">Ship To: </label>
              <span class="col-xs-7 col-sm-9 col-md-10 display-text">
                @Html.DisplayFor(c => c.ViewQuoteModel.ShipTooNum) - @Html.DisplayFor(c => c.ViewQuoteModel.ShipTooName)
              </span>
            </div>
            <div class="row row-form">
              <label class="col-xs-5 col-sm-3 col-md-2 col-form-label cust" for="customer">Sold To: </label>
              <span class="col-xs-7 col-sm-9 col-md-10 display-text">
                @Html.DisplayFor(c => c.ViewQuoteModel.SoldTooNum) - @Html.DisplayFor(c => c.ViewQuoteModel.SoldTooName)
              </span>
            </div>
            <div class="row row-form">
              <label class="col-xs-5 col-sm-3 col-md-2 col-form-label cust" for="lead_time_comments">Lead Time Comments: </label>
              <span class="col-xs-7 col-sm-9 col-md-4">
                @Html.TextBoxFor(c => c.ViewQuoteModel.LeadTimeComments, new { @class = "form-control" })
              </span>
            </div>
            <div class="row row-form">
              <label class="col-xs-5 col-sm-3 col-md-2 col-form-label cust" for="cust_po">Cust PO: </label>
              <span class="col-xs-7 col-sm-9 col-md-3">
                @Html.TextBoxFor(c => c.ViewQuoteModel.CustPO, new { @class = "form-control" })
              </span>
            </div>

            @*public string DueDate { get; set; }
              public string DueDateBackFromCustomer { get; set; }
              public string BuyerEmail { get; set; }
              public string Notice { get; set; }
              public string FooterString { get; set; }*@

            <div class="row row-form">
              <label class="col-xs-5 col-sm-3 col-md-2 col-form-label cust" for="due_date_back_from_customer">Due Date Communicated To Customer: </label>
              <span class="col-xs-7 col-sm-9 col-md-4">
                @Html.TextBoxFor(c => c.ViewQuoteModel.DueDate, new { @class = "form-control form-control-md", @type = "date", @id = "due_date" })
              </span>
            </div>
            <div class="row row-form">
              <label class="col-xs-5 col-sm-3 col-md-2 col-form-label cust" for="buyer_email">Buyer Full Name: </label>
              <span class="col-xs-7 col-sm-9 col-md-4">
                @Html.TextBoxFor(c => c.ViewQuoteModel.BuyerName, new { @class = "form-control" })
              </span>
            </div>
            <div class="row row-form">
              <label class="col-xs-5 col-sm-3 col-md-2 col-form-label cust" for="buyer_email">Buyer Email: </label>
              <span class="col-xs-7 col-sm-9 col-md-4">
                @Html.TextBoxFor(c => c.ViewQuoteModel.BuyerEmail, new { @class = "form-control" })
              </span>
            </div>
            <div class="row row-form">
              <label class="col-xs-5 col-sm-3 col-md-2 col-form-label cust" for="notice_string">Notice: </label>
              <span class="col-xs-7 col-sm-9 col-md-4">
                @Html.TextBoxFor(c => c.ViewQuoteModel.Notice, new { @class = "form-control" })
              </span>
            </div>
            <div class="row row-form">
              <label class="col-xs-5 col-sm-3 col-md-2 col-form-label cust" for="notice_string">Footer String: </label>
              <span class="col-xs-7 col-sm-9 col-md-4">
                @Html.TextBoxFor(c => c.ViewQuoteModel.FooterString, new { @class = "form-control" })
              </span>
            </div>
            <br />
            <hr />
            <div class="row row-form">
              <label class="col-xs-5 col-sm-3 col-md-2 col-form-label" for="routing">Approval: </label>
              <span id="status_id_span_val" class="col-xs-7 col-sm-9 col-md-4">
                @Html.DropDownListFor(m => m.ViewQuoteModel.Status_ID, Model.ViewQuoteModel.AssignedStatusList, new { @class = "form-control form-control-lg", @required = "required", @id = "status_id" })
              </span>
            </div>
            @*<div class="form-group final">
                @Html.CheckBoxFor(ViewBag => ViewBag.QualificationRequired)
              </div>*@
            <br />
            <br />

            <div class="row row-form row-pt-40">
              <label class="col-xs-5 col-sm-3 col-md-2 col-form-label" for="comments">Comments: </label>
              <span id="workflow_comments" class="col-xs-7 col-sm-9 col-md-8">
                @Html.TextBoxFor(c => c.ViewQuoteModel.WorkflowComments, new { @class = "form-control" })
              </span>
            </div>
          </div>
          <div class="row row-form row-pt-40">
            @*<input type="submit" runat="server" onclick="Making_Request" name="Making_Request" value="Request Quote >" class="btn btn-primary" />*@
            <div class="col-xs-8 col-sm-6 col-md-4 col-lg-2">
              <input type="button" value="Update Quote Request" id="update_button" class="btn btn-primary" />
            </div>
            <div class="col-xs-4 col-sm-6 col-md-4 col-lg-2">
              <input type="button" value="Save" id="save_button" class="btn btn-primary" />
            </div>
          </div>
        </form>
        <div class="row row-form row-pt-40">
          <div class="col-xs-8 col-sm-6 col-md-4 col-lg-2">
            @Html.ActionLink("Back to List", "CurrentQuoteQueue")

          </div>
          <div class="col-xs-4 col-sm-6 col-md-4 col-lg-2">
            @Html.ActionLink("Print Quote", "ViewQuoteModel")
          </div>
        </div>
      }

    </div>
  </div>
</div>


@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")

}
