﻿@model RequestForQuoteSharePointWeb.Models.QuoteOverview

@{
  ViewBag.Title = "View Quote PDF";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>View Quote PDF</h2>*@


<style>

  @@media (min-width: 768px) {
    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }

    a {
      color: #5D6975;
      text-decoration: underline;
    }

    body {
      position: relative;
      width: 21cm;
      height: 29.7cm;
      margin: 0 auto;
      color: #001028;
      background: #FFFFFF;
      font-family: Arial, sans-serif;
      font-size: 12px;
      font-family: Arial;
    }

    header {
      padding: 10px 0;
      margin-bottom: 30px;
    }

    #logo {
      text-align: center;
      margin-bottom: 10px;
    }

      #logo img {
        width: 90px;
      }

    h1 {
      border-top: 1px solid #5D6975;
      border-bottom: 1px solid #5D6975;
      color: #5D6975;
      font-size: 2.4em;
      line-height: 1.4em;
      font-weight: normal;
      text-align: center;
      margin: 0 0 20px 0;
      /*background: url(dimension.png);*/
    }

    #project {
      float: left;
    }

      #project span {
        color: #5D6975;
        text-align: right;
        width: 52px;
        margin-right: 10px;
        display: inline-block;
        font-size: 0.8em;
      }

    #company {
      float: right;
      text-align: right;
    }

      #project div,
      #company div {
        white-space: nowrap;
      }

    table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      margin-bottom: 20px;
    }

      table tr:nth-child(2n-1) td {
        background: #F5F5F5;
      }

      table th,
      table td {
        text-align: center;
      }

      table th {
        padding: 5px 20px;
        color: #5D6975;
        border-bottom: 1px solid #C1CED9;
        white-space: nowrap;
        font-weight: normal;
      }

      table .service,
      table .desc {
        text-align: left;
      }

      table td {
        padding: 20px;
        text-align: right;
      }

        table td.service,
        table td.desc {
          vertical-align: top;
        }

        table td.unit,
        table td.qty,
        table td.total {
          font-size: 1.2em;
        }

        table td.grand {
          border-top: 1px solid #5D6975;
          ;
        }

    #notices .notice {
      color: #5D6975;
      font-size: 1.2em;
    }

    footer {
      color: #5D6975;
      width: 100%;
      height: 30px;
      position: absolute;
      bottom: 0;
      border-top: 1px solid #C1CED9;
      padding: 8px 0;
      text-align: center;
    }
  }

</style>
<style media="print">
    @@page
    {
        margin: 0mm;  /* printer settings */
    }
</style>

<head>
  <meta charset="utf-8">
  @*<title>Example 1</title>*@
  <link rel="stylesheet" href="style.css" media="all" />
</head>
<body>
  <header class="clearfix">
    @{ var imagePath = "";
      if (Request["Bristol_Logo.jpg"] != null)
      {
        imagePath = @"Images\" + Request["Bristol_Logo.jpg"];
      }
    }
    <div id="logo">
      @if (imagePath != "")
      {
        <img src="@imagePath" alt="Sample Image" width="300px" />
      }
    </div>
    <h1>@Html.DisplayFor(c => c.ViewQuoteModel.QuoteNum)</h1>
    <div id="company" class="clearfix">
      <div>Ship To: @Html.DisplayFor(c => c.ViewQuoteModel.ShipTooName)</div>
      <div><span>ADDRESS</span> @Html.DisplayFor(c => c.ViewQuoteModel.ShipTooAddress) <br /> @Html.DisplayFor(c => c.ViewQuoteModel.ShipTooState), @Html.DisplayFor(c => c.ViewQuoteModel.ShipTooZipCode) @Html.DisplayFor(c => c.ViewQuoteModel.ShipTooCountry)</div>
      <div></div>
      <div><a href=@Html.DisplayFor(c => c.ViewQuoteModel.BuyerEmail)></a></div>
    </div>
    <div id="project">
      <div><span>CUSTOMER</span> @Html.DisplayFor(c => c.ViewQuoteModel.SoldTooName)</div>
      <div><span>CLIENT</span> @Html.DisplayFor(c => c.ViewQuoteModel.BuyerName)</div>
      <div><span>ADDRESS</span> @Html.DisplayFor(c => c.ViewQuoteModel.SoldTooAddress) <br /> @Html.DisplayFor(c => c.ViewQuoteModel.SoldTooState), @Html.DisplayFor(c => c.ViewQuoteModel.SoldTooZipCode) @Html.DisplayFor(c => c.ViewQuoteModel.SoldTooCountry)</div>
      <div><span>EMAIL</span> <a href=@Html.DisplayFor(c => c.ViewQuoteModel.BuyerEmail)></a></div>
      <div><span>DATE</span> @Html.DisplayFor(c => c.ViewQuoteModel.CreationDate)</div>
      <div><span>DUE DATE</span> @Html.DisplayFor(c => c.ViewQuoteModel.DueDate)</div>
    </div>
  </header>
  <main>
    @*<table>
      <thead>
        <tr>
          <th class="service">Line</th>
          <th class="desc">Part #</th>
          <th>Description</th>
          <th>QTY</th>
          <th>PRICE</th>
          <th>TOTAL</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="service">1</td>
          <td class="desc">NSA5472-6K7</td>
          <td class="description">HEX NUT CBORE CAPTIVE WASHER</td>
          <td class="qty">20000</td>
          <td class="qty">$1.01</td>
          <td class="total">$20,200.00</td>
        </tr>

        <tr>
          <td colspan="5">SUBTOTAL</td>
          <td class="total">@Html.DisplayFor(c => c.ViewQuoteModel.TotalPrice)</td>
        </tr>

      </tbody>
    </table>*@
    <table>
      <tr>
        <th class="service">Line</th>
        <th class="desc">Part #</th>
        <th>Description</th>
        <th>QTY</th>
        <th>PRICE</th>
        <th>TOTAL</th>
      </tr>
      @if (Model.QuoteDisplayLines != null)
      {
        foreach (var order in Model.QuoteDisplayLines)
        {
            <tr id="lta_flag">
              <td>@order.QCLineNum</td>
              <td>@order.QCPartNumber</td>
              <td>@order.QCPartDescription</td>
              <td>@order.QCQuoteQty</td>
              <td>@order.QCQuoteUnitPrice</td>
              <td>@order.QCQuoteUnitCost</td>
                <td>@order.QCQuoteCalcUnitCost</td>
            </tr>
        }
      }

    </table>
    <div id="notices">
      <div>NOTICE:</div>
      <div class="notice">@Html.DisplayFor(c => c.ViewQuoteModel.Notice)</div>
    </div>
  </main>
  <footer>
    @Html.DisplayFor(c => c.ViewQuoteModel.FooterString)
  </footer>
<script type="text/javascript">
	window.addEventListener("beforeprint", function (event) {
		document.title = ""
	});
</script>
</body>

