﻿@model RequestForQuoteSharePointWeb.Models.ViewRequestModel
@{
    ViewBag.Title = "View a Request";
    //Layout = "~/Views/Shared/_Layout.cshtml";

}

<br />


<h5>Please create a request for quote routing to Engineering for evaluation and proposal. Required fields are marked by an *.</h5>


@using (Html.BeginForm("ViewRequest", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    //@model RequestForQuote.BundleConfig
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <form method="post" class="form-group start" action="ViewRequest">
        <div class="control-group">
            <div class="form-group start">
                <label class="col-xs-2 col-form-label" for="request_id">Request ID: </label>
                @Html.HiddenFor(c => c.RequestID)
                @Html.DisplayFor(c => c.RequestID)
            </div>
            <div class="form-group start">
                <label class="col-xs-2 col-form-label" for="requested_by">Requested By: </label>
                @Html.HiddenFor(c => c.RequestedBy)
                @Html.DisplayFor(c => c.RequestedBy)
            </div>
            <div class="form-group start">
                <label class="col-xs-2 col-form-label" for="current_status">Current Status: </label>
                @Html.HiddenFor(c => c.Status_Desc)
                @Html.DisplayFor(c => c.Status_Desc)
            </div>
            <div class="form-group start">
                <label class="col-xs-2 col-form-label" for="creation_date">Creation Date: </label>
                @Html.HiddenFor(c => c.CreationDate)
                @Html.DisplayFor(c => c.CreationDate)
            </div>
            <div class="form-group start">
                <label class="col-xs-2 col-form-label" for="part_standard">Part Series: </label>
                @Html.HiddenFor(c => c.PartSeries)
                @Html.DisplayFor(c => c.PartSeries)
            </div>

            <br />

            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <table class="table order-list table-hover" id="request_lines">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Size</th>
                                    <th>Platform</th>
                                    <th>Material Type</th>
                                    <th>Expected Value ($M)</th>
                                    <th>Market Price</th>
                                    <th>Estimated Quantity ($M)</th>
                                    <th>Attributes</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr id="addr1">
                                    <td>1</td>
                                    <td class="col-sm-1">
                                        @Html.HiddenFor(c => c.Size1)
                                        @Html.DisplayFor(c => c.Size1)
                                    </td>
                                    <td class="col-sm-2">
                                        @Html.HiddenFor(c => c.Platform1)
                                        @Html.DisplayFor(c => c.Platform1)
                                    </td>
                                    <td class="col-sm-2">
                                        @Html.HiddenFor(c => c.Material_Type_Desc1)
                                        @Html.DisplayFor(c => c.Material_Type_Desc1)
                                    </td>
                                    <td class="col-sm-2">
                                        @Html.HiddenFor(c => c.EstRevenueYr11)
                                        @Html.DisplayFor(c => c.EstRevenueYr11)
                                    </td>
                                    <td class="col-sm-1">
                                        @Html.HiddenFor(c => c.MarketPrice1)
                                        @Html.DisplayFor(c => c.MarketPrice1)
                                    </td>
                                    <td class="col-sm-2">
                                        @Html.HiddenFor(c => c.EstQtyYr11)
                                        @Html.DisplayFor(c => c.EstQtyYr11)
                                    </td>
                                    <td class="col-sm-2">
                                        <button name="attributes1" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ChooseAttribute1" data-whatever="PickDate" placeholder="attributes">Attributes</button>
                                        <div class="modal" id="ChooseAttribute1" tabindex="-1" role="dialog" aria-labelledby="ChooseAttribute" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="ChooseDueDate">Line Attributes:</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="form-group">
                                                                <label for="line-due-date" class="col-form-label">Due Date:</label>
                                                                @Html.HiddenFor(c => c.DueDate1)
                                                                @Html.DisplayFor(c => c.DueDate1)
                                                            </div>
                                                            <br />
                                                            <div class="form-group">
                                                                <label for="line-priority-level" class="col-form-label">Priority:</label>
                                                                @Html.HiddenFor(c => c.Priority_Type_Desc1)
                                                                @Html.DisplayFor(c => c.Priority_Type_Desc1)
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="other-sources" class="col-form-label">Other Sources:</label>
                                                                @Html.HiddenFor(c => c.OtherSource1)
                                                                @Html.DisplayFor(c => c.OtherSource1)
                                                            </div>
                                                            <br />
                                                            <div class="form-group">
                                                                <label for="expected_value_yr2" class="col-form-label">Expected Value Yr 2</label>
                                                                @Html.HiddenFor(c => c.EstRevenueYr21)
                                                                @Html.DisplayFor(c => c.EstRevenueYr21)
                                                            </div>
                                                            <br />
                                                            <div class="form-group">
                                                                <label for="est_qty_yr2" class="col-form-label">Est. Quantity Yr 2</label>
                                                                @Html.HiddenFor(c => c.EstQtyYr21)
                                                                @Html.DisplayFor(c => c.EstQtyYr21)
                                                            </div>
                                                            <br />
                                                            <div class="form-group">
                                                                <label for="expected_value_yr3" class="col-form-label">Expected Value Yr 3</label>
                                                                @Html.HiddenFor(c => c.EstRevenueYr31)
                                                                @Html.DisplayFor(c => c.EstRevenueYr31)
                                                            </div>
                                                            <br />
                                                            <div class="form-group">
                                                                <label for="est_qty_yr3" class="col-form-label">Est. Quantity Yr 3</label>
                                                                @Html.HiddenFor(c => c.EstQtyYr31)
                                                                @Html.DisplayFor(c => c.EstQtyYr31)
                                                            </div>
                                                            <br />
                                                            <div class="form-group">
                                                                <label for="expected_value_yr4" class="col-form-label">Expected Value Yr 4</label>
                                                                @Html.HiddenFor(c => c.EstRevenueYr41)
                                                                @Html.DisplayFor(c => c.EstRevenueYr41)
                                                            </div>
                                                            <br />
                                                            <div class="form-group">
                                                                <label for="est_qty_yr4" class="col-form-label">Est. Quantity Yr 4</label>
                                                                @Html.HiddenFor(c => c.EstQtyYr41)
                                                                @Html.DisplayFor(c => c.EstQtyYr41)
                                                            </div>
                                                            <br />
                                                            <div class="form-group">
                                                                <label for="expected_value_yr5" class="col-form-label">Expected Value Yr 5</label>
                                                                @Html.HiddenFor(c => c.EstRevenueYr51)
                                                                @Html.DisplayFor(c => c.EstRevenueYr51)
                                                            </div>
                                                            <br />
                                                            <div class="form-group">
                                                                <label for="est_qty_yr5" class="col-form-label">Est. Quantity Yr 5</label>
                                                                @Html.HiddenFor(c => c.EstQtyYr51)
                                                                @Html.DisplayFor(c => c.EstQtyYr51)
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Save and Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                @if (Model.Size2 != "" && Model.Size2 != null)
                                {
                                    <tr id="addr2">
                                        <td>2</td>
                                        <td class="col-sm-1">
                                            @Html.HiddenFor(c => c.Size2)
                                            @Html.DisplayFor(c => c.Size2)
                                        </td>
                                        <td class="col-sm-2">
                                            @Html.HiddenFor(c => c.Platform2)
                                            @Html.DisplayFor(c => c.Platform2)
                                        </td>
                                        <td class="col-sm-2">
                                            @Html.HiddenFor(c => c.Material_Type_Desc2)
                                            @Html.DisplayFor(c => c.Material_Type_Desc2)
                                        </td>
                                        <td class="col-sm-2">
                                            @Html.HiddenFor(c => c.EstRevenueYr12)
                                            @Html.DisplayFor(c => c.EstRevenueYr12)
                                        </td>
                                        <td class="col-sm-1">
                                            @Html.HiddenFor(c => c.MarketPrice2)
                                            @Html.DisplayFor(c => c.MarketPrice2)
                                        </td>
                                        <td class="col-sm-2">
                                            @Html.HiddenFor(c => c.EstQtyYr12)
                                            @Html.DisplayFor(c => c.EstQtyYr12)
                                        </td>
                                        <td class="col-sm-2">
                                            <button name="attributes2" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ChooseAttribute2" data-whatever="PickDate" placeholder="attributes">Attributes</button>
                                            <div class="modal" id="ChooseAttribute2" tabindex="-1" role="dialog" aria-labelledby="ChooseAttribute" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="ChooseDueDate">Line Attributes:</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="form-group">
                                                                    <label for="line-due-date" class="col-form-label">Due Date:</label>
                                                                    @Html.HiddenFor(c => c.DueDate2)
                                                                    @Html.DisplayFor(c => c.DueDate2)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="line-priority-level" class="col-form-label">Priority:</label>
                                                                    @Html.HiddenFor(c => c.Priority_Desc2)
                                                                    @Html.DisplayFor(c => c.Priority_Desc2)
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="other-sources" class="col-form-label">Other Sources:</label>
                                                                    @Html.HiddenFor(c => c.OtherSource2)
                                                                    @Html.DisplayFor(c => c.OtherSource2)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="expected_value_yr2" class="col-form-label">Expected Value Yr 2</label>
                                                                    @Html.HiddenFor(c => c.EstRevenueYr22)
                                                                    @Html.DisplayFor(c => c.EstRevenueYr22)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="est_qty_yr2" class="col-form-label">Est. Quantity Yr 2</label>
                                                                    @Html.HiddenFor(c => c.EstQtyYr22)
                                                                    @Html.DisplayFor(c => c.EstQtyYr22)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="expected_value_yr3" class="col-form-label">Expected Value Yr 3</label>
                                                                    @Html.HiddenFor(c => c.EstRevenueYr32)
                                                                    @Html.DisplayFor(c => c.EstRevenueYr32)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="est_qty_yr3" class="col-form-label">Est. Quantity Yr 3</label>
                                                                    @Html.HiddenFor(c => c.EstQtyYr32)
                                                                    @Html.DisplayFor(c => c.EstQtyYr32)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="expected_value_yr4" class="col-form-label">Expected Value Yr 4</label>
                                                                    @Html.HiddenFor(c => c.EstRevenueYr42)
                                                                    @Html.DisplayFor(c => c.EstRevenueYr42)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="est_qty_yr4" class="col-form-label">Est. Quantity Yr 4</label>
                                                                    @Html.HiddenFor(c => c.EstQtyYr42)
                                                                    @Html.DisplayFor(c => c.EstQtyYr42)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="expected_value_yr5" class="col-form-label">Expected Value Yr 5</label>
                                                                    @Html.HiddenFor(c => c.EstRevenueYr52)
                                                                    @Html.DisplayFor(c => c.EstRevenueYr52)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="est_qty_yr5" class="col-form-label">Est. Quantity Yr 5</label>
                                                                    @Html.HiddenFor(c => c.EstQtyYr52)
                                                                    @Html.DisplayFor(c => c.EstQtyYr52)
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Save and Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                @if (Model.Size3 != "" && Model.Size3 != null)
                                {
                                    <tr id="addr3">
                                        <td>3</td>
                                        <td class="col-sm-1">
                                            @Html.HiddenFor(c => c.Size3)
                                            @Html.DisplayFor(c => c.Size3)
                                        </td>
                                        <td class="col-sm-2">
                                            @Html.HiddenFor(c => c.Platform3)
                                            @Html.DisplayFor(c => c.Platform3)
                                        </td>
                                        <td class="col-sm-2">
                                            @Html.HiddenFor(c => c.Material_Type_Desc3)
                                            @Html.DisplayFor(c => c.Material_Type_Desc3)
                                        </td>
                                        <td class="col-sm-2">
                                            @Html.HiddenFor(c => c.EstRevenueYr13)
                                            @Html.DisplayFor(c => c.EstRevenueYr13)
                                        </td>
                                        <td class="col-sm-1">
                                            @Html.HiddenFor(c => c.MarketPrice3)
                                            @Html.DisplayFor(c => c.MarketPrice3)
                                        </td>
                                        <td class="col-sm-2">
                                            @Html.HiddenFor(c => c.EstQtyYr13)
                                            @Html.DisplayFor(c => c.EstQtyYr13)
                                        </td>
                                        <td class="col-sm-2">
                                            <button name="attributes3" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ChooseAttribute3" data-whatever="PickDate" placeholder="attributes">Attributes</button>
                                            <div class="modal" id="ChooseAttribute3" tabindex="-1" role="dialog" aria-labelledby="ChooseAttribute" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="ChooseDueDate">Line Attributes:</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="form-group">
                                                                    <label for="line-due-date" class="col-form-label">Due Date:</label>
                                                                    @Html.HiddenFor(c => c.DueDate3)
                                                                    @Html.DisplayFor(c => c.DueDate3)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="line-priority-level" class="col-form-label">Priority:</label>
                                                                    @Html.HiddenFor(c => c.Priority_Desc3)
                                                                    @Html.DisplayFor(c => c.Priority_Desc3)
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="other-sources" class="col-form-label">Other Sources:</label>
                                                                    @Html.HiddenFor(c => c.OtherSource3)
                                                                    @Html.DisplayFor(c => c.OtherSource3)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="expected_value_yr2" class="col-form-label">Expected Value Yr 2</label>
                                                                    @Html.HiddenFor(c => c.EstRevenueYr23)
                                                                    @Html.DisplayFor(c => c.EstRevenueYr23)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="est_qty_yr2" class="col-form-label">Est. Quantity Yr 2</label>
                                                                    @Html.HiddenFor(c => c.EstQtyYr23)
                                                                    @Html.DisplayFor(c => c.EstQtyYr23)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="expected_value_yr3" class="col-form-label">Expected Value Yr 3</label>
                                                                    @Html.HiddenFor(c => c.EstRevenueYr33)
                                                                    @Html.DisplayFor(c => c.EstRevenueYr33)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="est_qty_yr3" class="col-form-label">Est. Quantity Yr 3</label>
                                                                    @Html.HiddenFor(c => c.EstQtyYr33)
                                                                    @Html.DisplayFor(c => c.EstQtyYr33)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="expected_value_yr4" class="col-form-label">Expected Value Yr 4</label>
                                                                    @Html.HiddenFor(c => c.EstRevenueYr43)
                                                                    @Html.DisplayFor(c => c.EstRevenueYr43)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="est_qty_yr4" class="col-form-label">Est. Quantity Yr 4</label>
                                                                    @Html.HiddenFor(c => c.EstQtyYr43)
                                                                    @Html.DisplayFor(c => c.EstQtyYr43)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="expected_value_yr5" class="col-form-label">Expected Value Yr 5</label>
                                                                    @Html.HiddenFor(c => c.EstRevenueYr53)
                                                                    @Html.DisplayFor(c => c.EstRevenueYr53)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="est_qty_yr5" class="col-form-label">Est. Quantity Yr 5</label>
                                                                    @Html.HiddenFor(c => c.EstQtyYr53)
                                                                    @Html.DisplayFor(c => c.EstQtyYr53)
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Save and Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                @if (Model.Size4 != "" && Model.Size4 != null)
                                {
                                    <tr id="addr4">
                                        <td>4</td>
                                        <td class="col-sm-1">
                                            @Html.HiddenFor(c => c.Size4)
                                            @Html.DisplayFor(c => c.Size4)
                                        </td>
                                        <td class="col-sm-2">
                                            @Html.HiddenFor(c => c.Platform4)
                                            @Html.DisplayFor(c => c.Platform4)
                                        </td>
                                        <td class="col-sm-2">
                                            @Html.HiddenFor(c => c.Material_Type_Desc4)
                                            @Html.DisplayFor(c => c.Material_Type_Desc4)
                                        </td>
                                        <td class="col-sm-2">
                                            @Html.HiddenFor(c => c.EstRevenueYr14)
                                            @Html.DisplayFor(c => c.EstRevenueYr14)
                                        </td>
                                        <td class="col-sm-1">
                                            @Html.HiddenFor(c => c.MarketPrice4)
                                            @Html.DisplayFor(c => c.MarketPrice4)
                                        </td>
                                        <td class="col-sm-2">
                                            @Html.HiddenFor(c => c.EstQtyYr14)
                                            @Html.DisplayFor(c => c.EstQtyYr14)
                                        </td>
                                        <td class="col-sm-2">
                                            <button name="attributes4" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ChooseAttribute4" data-whatever="PickDate" placeholder="attributes">Attributes</button>
                                            <div class="modal" id="ChooseAttribute4" tabindex="-1" role="dialog" aria-labelledby="ChooseAttribute" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="ChooseDueDate">Line Attributes:</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="form-group">
                                                                    <label for="line-due-date" class="col-form-label">Due Date:</label>
                                                                    @Html.HiddenFor(c => c.DueDate4)
                                                                    @Html.DisplayFor(c => c.DueDate4)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="line-priority-level" class="col-form-label">Priority:</label>
                                                                    @Html.HiddenFor(c => c.Priority_Desc4)
                                                                    @Html.DisplayFor(c => c.Priority_Desc4)
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="other-sources" class="col-form-label">Other Sources:</label>
                                                                    @Html.HiddenFor(c => c.OtherSource4)
                                                                    @Html.DisplayFor(c => c.OtherSource4)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="expected_value_yr2" class="col-form-label">Expected Value Yr 2</label>
                                                                    @Html.HiddenFor(c => c.EstRevenueYr24)
                                                                    @Html.DisplayFor(c => c.EstRevenueYr24)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="est_qty_yr2" class="col-form-label">Est. Quantity Yr 2</label>
                                                                    @Html.HiddenFor(c => c.EstQtyYr24)
                                                                    @Html.DisplayFor(c => c.EstQtyYr24)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="expected_value_yr3" class="col-form-label">Expected Value Yr 3</label>
                                                                    @Html.HiddenFor(c => c.EstRevenueYr34)
                                                                    @Html.DisplayFor(c => c.EstRevenueYr34)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="est_qty_yr3" class="col-form-label">Est. Quantity Yr 3</label>
                                                                    @Html.HiddenFor(c => c.EstQtyYr34)
                                                                    @Html.DisplayFor(c => c.EstQtyYr34)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="expected_value_yr4" class="col-form-label">Expected Value Yr 4</label>
                                                                    @Html.HiddenFor(c => c.EstRevenueYr44)
                                                                    @Html.DisplayFor(c => c.EstRevenueYr44)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="est_qty_yr4" class="col-form-label">Est. Quantity Yr 4</label>
                                                                    @Html.HiddenFor(c => c.EstQtyYr44)
                                                                    @Html.DisplayFor(c => c.EstQtyYr44)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="expected_value_yr5" class="col-form-label">Expected Value Yr 5</label>
                                                                    @Html.HiddenFor(c => c.EstRevenueYr54)
                                                                    @Html.DisplayFor(c => c.EstRevenueYr54)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="est_qty_yr5" class="col-form-label">Est. Quantity Yr 5</label>
                                                                    @Html.HiddenFor(c => c.EstQtyYr54)
                                                                    @Html.DisplayFor(c => c.EstQtyYr54)
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Save and Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                @if (Model.Size5 != "" && Model.Size5 != null)
                                {
                                    <tr id="addr5">
                                        <td>5</td>
                                        <td class="col-sm-1">
                                            @Html.HiddenFor(c => c.Size5)
                                            @Html.DisplayFor(c => c.Size5)
                                        </td>
                                        <td class="col-sm-2">
                                            @Html.HiddenFor(c => c.Platform5)
                                            @Html.DisplayFor(c => c.Platform5)
                                        </td>
                                        <td class="col-sm-2">
                                            @Html.HiddenFor(c => c.Material_Type_Desc5)
                                            @Html.DisplayFor(c => c.Material_Type_Desc5)
                                        </td>
                                        <td class="col-sm-2">
                                            @Html.HiddenFor(c => c.EstRevenueYr15)
                                            @Html.DisplayFor(c => c.EstRevenueYr15)
                                        </td>
                                        <td class="col-sm-1">
                                            @Html.HiddenFor(c => c.MarketPrice5)
                                            @Html.DisplayFor(c => c.MarketPrice5)
                                        </td>
                                        <td class="col-sm-2">
                                            @Html.HiddenFor(c => c.EstQtyYr15)
                                            @Html.DisplayFor(c => c.EstQtyYr15)
                                        </td>
                                        <td class="col-sm-2">
                                            <button name="attributes5" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ChooseAttribute5" data-whatever="PickDate" placeholder="attributes">Attributes</button>
                                            <div class="modal" id="ChooseAttribute5" tabindex="-1" role="dialog" aria-labelledby="ChooseAttribute" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="ChooseDueDate">Line Attributes:</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="form-group">
                                                                    <label for="line-due-date" class="col-form-label">Due Date:</label>
                                                                    @Html.HiddenFor(c => c.DueDate5)
                                                                    @Html.DisplayFor(c => c.DueDate5)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="line-priority-level" class="col-form-label">Priority:</label>
                                                                    @Html.HiddenFor(c => c.Priority_Desc5)
                                                                    @Html.DisplayFor(c => c.Priority_Desc5)
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="other-sources" class="col-form-label">Other Sources:</label>
                                                                    @Html.HiddenFor(c => c.OtherSource5)
                                                                    @Html.DisplayFor(c => c.OtherSource5)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="expected_value_yr2" class="col-form-label">Expected Value Yr 2</label>
                                                                    @Html.HiddenFor(c => c.EstRevenueYr25)
                                                                    @Html.DisplayFor(c => c.EstRevenueYr25)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="est_qty_yr2" class="col-form-label">Est. Quantity Yr 2</label>
                                                                    @Html.HiddenFor(c => c.EstQtyYr25)
                                                                    @Html.DisplayFor(c => c.EstQtyYr25)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="expected_value_yr3" class="col-form-label">Expected Value Yr 3</label>
                                                                    @Html.HiddenFor(c => c.EstRevenueYr35)
                                                                    @Html.DisplayFor(c => c.EstRevenueYr35)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="est_qty_yr3" class="col-form-label">Est. Quantity Yr 3</label>
                                                                    @Html.HiddenFor(c => c.EstQtyYr35)
                                                                    @Html.DisplayFor(c => c.EstQtyYr35)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="expected_value_yr4" class="col-form-label">Expected Value Yr 4</label>
                                                                    @Html.HiddenFor(c => c.EstRevenueYr45)
                                                                    @Html.DisplayFor(c => c.EstRevenueYr45)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="est_qty_yr4" class="col-form-label">Est. Quantity Yr 4</label>
                                                                    @Html.HiddenFor(c => c.EstQtyYr45)
                                                                    @Html.DisplayFor(c => c.EstQtyYr45)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="expected_value_yr5" class="col-form-label">Expected Value Yr 5</label>
                                                                    @Html.HiddenFor(c => c.EstRevenueYr55)
                                                                    @Html.DisplayFor(c => c.EstRevenueYr55)
                                                                </div>
                                                                <br />
                                                                <div class="form-group">
                                                                    <label for="est_qty_yr5" class="col-form-label">Est. Quantity Yr 5</label>
                                                                    @Html.HiddenFor(c => c.EstQtyYr55)
                                                                    @Html.DisplayFor(c => c.EstQtyYr55)
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Save and Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                 </div>
            <br />


            <div class="form-group">
                <div class="form-group">
                    <label class="col-xs-2 cust" for="customer">Customer Name: </label>
                    @Html.HiddenFor(c => c.CustomerName)
                    @Html.DisplayFor(c => c.CustomerName)
                </div>
                <div class="form-group">
                    <label class="col-xs-2 cust" for="buyers_name">Buyers Name: </label>
                    @Html.HiddenFor(c => c.BuyersName)
                    @Html.DisplayFor(c => c.BuyersName)
                </div>
                <div class="form-group">
                    <label class="col-xs-2 cust" for="buyer_contact_info">Contact Information: </label>
                    @Html.HiddenFor(c => c.ContactInfo)
                    @Html.DisplayFor(c => c.ContactInfo)
                </div>
            </div>
            <div class="form-group final">
                <label class="col-xs-2 opportunity" for="opportunity_type">Opportunity Type: </label>
                @Html.HiddenFor(c => c.Opportunity_Type_Desc)
                @Html.DisplayFor(c => c.Opportunity_Type_Desc)
            </div>
            <div class="form-group final">
                <label class="col-xs-2 opportunity" for="product_type">Product Type: </label>
                @Html.HiddenFor(c => c.Product_Type_Desc)
                @Html.DisplayFor(c => c.Product_Type_Desc)
            </div>
            <div class="form-group final">
                <label class="col-2 col-form-label" for="routing">Qualification Testing: </label>
                @Html.DropDownListFor(m => m.Qualification_Testing_Type_ID, Model.QualificationTestingList, new { @class = "form-control form-control-lg", @required = "required" })
            </div>
            <div class="form-group final">
                <label class="col-xs-2 opportunity" for="product_type">Prototype Required?: </label>
                @Html.CheckBoxFor(c => c.PrototypeRequired, new { @class = "form-check-input", @id = "prototype_required" })
            </div>
            @*<div class="form-group final">
            @Html.CheckBoxFor(ViewBag => ViewBag.QualificationRequired)
        </div>*@
            <br />
            <br />

            <div class="form-group final">
                <label class="col-2 col-form-label" for="comments">Comments: </label>
                @Html.TextBoxFor(c => c.Comments, new { @class = "form-control" })
            </div>
            <div class="form-group final">
                <!--identify the form selection and pass the value back-->
                <label class="col-2 col-form-label" for="routing">Route To Group: </label>
                @Html.DropDownListFor(c => c.Role_ID, Model.RoleTypeList, "--Select Assignment--", new { @class = "form-control form-control-lg", @required = "required" })
            </div>
            <div class="form-group final">
                <label class="col-2 col-form-label" for="optional_assignment">Optional Assignment: </label>
                @Html.TextBoxFor(c => c.OptionalAssignment, new { @class = "form-control" })
            </div>
            <div class="form-group final">
                <!--identify the form selection and pass the value back-->
                <label class="col-2 col-form-label" for="routing">Assign New Status: </label>
                @Html.DropDownListFor(c => c.Status_ID, Model.UpdateStatusList, "-- Select Status --", new { @class = "form-control form-control-lg", @required = "required" })
            </div>
        </div>
        <div class="control-group">
            @*<input type="submit" runat="server" onclick="Making_Request" name="Making_Request" value="Request Quote >" class="btn btn-primary" />*@
            <input type="submit" runat="server" value="Update Quote" class="btn btn-primary" />
        </div>
    </form>
    <div>
        @Html.ActionLink("Back to List", "CurrentQueue")
        
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
