body {
	padding-top: 50px;
	padding-bottom: 20px;
	font-family: "Karla",sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.display-text {
  line-height: 2em;
}

#cam-navbar {
	background-color: #003e51;
	color: white;
	background-image: url('/img/camlogo_200x173.png');
	background-position: 24px 5px;
	background-repeat: no-repeat;
	background-size: auto 82%;
	font-family: "Karla",sans-serif;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
	border-bottom: 1px solid #003e51;
}

#cam-navbar-brand {
	color: white;
	border-bottom: 2px solid #003e51;
	transition: all;
	transition-duration: 0.4s;
	transition-timing-function: ease-out;
}

	#cam-navbar-brand:hover,
	#cam-navbar-brand:focus {
		border-bottom: 2px solid #0085ad;
	}

body#cam-body {
	background-color: #f2f9fb;
	font-family: "Karla",sans-serif;
}
  body#cam-body input.btn.btn-primary {
    font-family: "Karla", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    border-radius: 1.25em;
    height: 2.5em;
    color: white;
    background-color: #0085ad;
    margin-right: 1em;
  }

  body#cam-body input.btn.btn-warning {
    font-family: "Karla", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    border-radius: 1.25em;
    height: 2.5em;
    color: white;
    background-color: #d3a511;
    margin-right: 1em;
  }

  body#cam-body input.btn.btn-success {
    font-family: "Karla", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 1.25em;
    height: 2.5em;
    color: white;
    background-color: #68a326;
    margin-right: 1em;
  }

  body#cam-body input.btn.btn-info {
    font-family: "Karla", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 1.25em;
    height: 2.5em;
    color: white;
    background-color: #3ea4bb;
    margin-right: 1em;
  }

  body#cam-body .row.row-form {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }

  body#cam-body .row.row-pt-40 {
    padding-top: 40px;
  }

  body#cam-body input.form-control.k-input {
    height: 2em;
  }

  body#cam-body .special-card {
	  padding: 0px 4px;
	  min-height: 8.8em;
	  background-color: #fefeff;
  }

	.table-hover > tbody > tr:hover > td,
	.table-hover > tbody > tr:hover > th {
		color: #000000;
	}

.pause-wrapper {
  display: none;
  visibility: hidden;
  cursor: wait;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

  .pause-wrapper.pause-visible {
    display: block;
    visibility: visible;
  }

.pause-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
  transition: ease 0.25s;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.cam-theme {
	background-image: url('/img/blue-cyber.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
#cam-jumbo {
	font-family: "Karla",sans-serif;
	background-color: transparent;
	background-image: url('/img/swoosh.svg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 0px;
}

#cam-jumbo > h1 {
	font-family: "Karla",sans-serif;
	font-size: 1.5em;
	color: #003e51;
	padding-bottom: 20px;
	margin-top: 20px;
	text-transform: uppercase;
	letter-spacing: 0.01em;
}

a.cta-hero {
	border: none;
	font-weight: bold;
	white-space: nowrap;
	line-height: 36px;
	text-decoration: none;
	color: #003e51;
}
	a.cta-hero:hover,
	a.cta-hero:focus {
		text-decoration: none;
		color: #030303;
	}
a.cta-hero > img {
		height: 32px;
		width: auto;
		background-color: transparent;
		margin-left: 1.5em;
	}

.company-logo {
	background-color: transparent;
	padding: 20px;
	display: inline;
}

.company-logo > img {
	width: auto;
	height: 140px;
	background-color: transparent;
}

.action-box {
	margin: 12px;
	padding: 20px;
	background-color: white;
	font-family: "Karla",sans-serif;
	box-shadow: none;
	transition: all;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}

.action-box:hover {
	text-decoration: none;
	box-shadow: 0px 0px 22px rgba(0,0,0,0.1);
}

.action-box > p {
	min-height: 90px;
}
.action-icon {
	margin: auto;
	display: block;
	text-align: center;
	min-height: 120px;
}
	.action-icon > img {
		margin: auto;
		height: 90px;
		width: auto;		
	}

	.action-btn {
		border: none;
		display: block;
		text-align: center;
		padding: 20px;
	}

	.action-btn > img {
		height: 32px;
		width: auto;
	}

a.action-box-link {
	margin: 0;
	border: 0;
	padding: 2px;
	color: #003e51;
	text-decoration: none !important;
}

	a.action-box-link:hover {
		text-decoration: none;
		color: #030303;
	}

h2.action-header {
	font-family: "Karla",sans-serif;
	font-weight: bold;
	font-size: 22px;
	letter-spacing: 0.004em;
	width: 100%;
	text-align: center;
	color: #003e51;
	padding-bottom: 24px;
	border-bottom: 2px solid #0085ad;
}
