﻿@model System.Collections.Generic.List<RequestForQuoteSharePointWeb.Models.TimerResultsViewModel>
@using RequestForQuoteSharePointWeb.Models
@using System.Linq
@{
    ViewBag.Title = "OriginalPricingTool";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .content {
        padding-top: 2em;
    }
    .table {
        font-size: 0.8em;
    }

    .positive {
        color: rgb(0, 255, 33);
    }
    .negative {
        color: rgb(213, 35, 17);
    }

    @@media (min-width: 768px) {

        .content {
            padding-top: 1em;
        }
    }
</style>

<script type="text/javascript" src="~/Scripts/charts.js"></script>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <h2>Program Statistics</h2>
        </div>
    </div>
   
        @foreach (var item in Model)
        {
            long total = item.Values.Sum(d => d);
            long avg = (long)(total / item.Values.Count);
            int index = 0;
            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <tr>
                            <th>
                                @item.Name Milliseconds
                            </th>
                            <th>
                                Diff from Avg ( @( (long)avg ) )
                            </th>
                        </tr>

                        @foreach (var val in item.Values)
                        {
                            if (index++ > 30)
                            {
                                break;
                            }
                            <tr>
                                <td>
                                    @val
                                </td>
                                <td class="@(avg -val > 0 ? "positive" : "negative")">
                                    @( avg - val )
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="col-md-6">
                    <canvas id="@item.Name.Replace(" ", "")"></canvas>
                </div>
            </div>
        }
</div>


@section Scripts {

@foreach (var item in Model)
{
    long total = item.Values.Sum(d => d);
    long avg = (long)(total / item.Values.Count);
    int index = 0;


    <script>
        $(document).ready(function () {
            var canvas = document.getElementById('@(item.Name.Replace(" ", ""))');
                if (canvas) {
                    var ctx = canvas.getContext('2d');
                    var scatterChart = new Chart(ctx, {
                        type: 'scatter',
                        data: {
                            datasets: [{
                                label: '@(item.Name)',
                                backgroundColor: 'rgba(92, 108, 232, 0.28)',
                                pointBackgroundColor: 'rgba(92, 108, 232, 0.7)',
                                pointRadius: 4,
                                showLine: true,
                                fill: true,
                                data: [
                                    @foreach (var value in item.Values)
                                    {
                                        @Html.Raw("{\r\n\tx: " + (++index).ToString() + ",\r\n\ty: " + value.ToString() + "\r\n},\r\n")
                                    }
                                    ],
                            }
                            ],
                            options: {
                                scales: {
                                    xAxes: [{
                                        type: 'linear',
                                        position: 'bottom'

                                    }],
                                    yAxes: [{
                                        type: 'linear',
                                        position: 'left',
                                        ticks: {
                                            min: 0
                                        }
                                    }]
                                },

                            }
                        }
                    });
                }
            });
    </script>
    }
}