﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Karla|Work+Sans:600,700" rel="stylesheet">
	<title>CAM | @ViewBag.Title - Strategic Pricing Application</title>

	@*<link rel="stylesheet" String type="text/css" href="DataTables/datatables.min.css" />*@
	@*@Styles.Render("~/Content/css")*@
	@Scripts.RenderFormat("<link rel=\"stylesheet\" type=\"text/css\" href=\"{0}?v=" + ViewBag.Version + "\" />", "~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	@*<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>*@
	@*<script src="//code.jquery.com/jquery-1.12.4.min.js"></script>*@

	<link href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.common.min.css" rel="stylesheet" />
	<link href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.bootstrap.min.css" rel="stylesheet" />
	@*<script type="text/javascript" src="/DataTables/datatables.min.js"></script>*@
	<script type="text/javascript">
		var Pauser = {
			show: function () {
				var screen = $('#pause_screen')
				screen.addClass('pause-visible')
			},
			hide: function () {
				var screen = $('#pause_screen')
				screen.removeClass('pause-visible')
			}
		}
	</script>
	@{
		// get the menu
		List<RequestForQuoteSharePointWeb.Models.MenuItems> site_menu = ((RequestForQuoteSharePointWeb.Controllers.BaseController)this.ViewContext.Controller).GetSiteMenu();
		string sub_section = "";
		if (Request != null && !string.IsNullOrEmpty(Request.Path))
		{
			foreach (var item in site_menu)
			{
				if (item.Path.ToLower() == Request.Path.ToLower())
				{
					sub_section = item.Name;
				}
			}
		}
	}

</head>
<body id="cam-body">
	@* navbar-inverse  *@
	<div id="cam-navbar" class="navbar navbar-inverse navbar-fixed-top">
		<div class="container" id="navbar_id">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand hidden-xs" id="cam-navbar-brand" href="/">
					Strategic Pricing @(string.IsNullOrEmpty(sub_section) ? "" : " / " + sub_section)
				</a>
				<a class="navbar-brand visible-xs" id="cam-navbar-brand" href="/">
					 @(string.IsNullOrEmpty(sub_section) ? "Strategic Pricing" : sub_section)
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					@*<li>@Html.ActionLink("Request For Quote", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>*@
					@*<li>@Html.ActionLink("Home", "Index", "Home")</li>
						<li>@Html.ActionLink("About", "About", "Home")</li>*@

				</ul>
			</div>
		</div>
	</div>

	<div class="container-fluid body-content">
		<div class="row">
			<div class="col-md-12">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<br />
							@RenderBody()
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="pause_screen" class="pause-wrapper">
		<div class="pause-icon">
			<img src="~/img/cog.svg" />
		</div>
	</div>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	@RenderSection("scripts", required: false)
	<script src="https://kendo.cdn.telerik.com/2018.3.1017/js/kendo.ui.core.min.js"></script>
	<script>
            $(document).ready(function () { @RenderSection("CtrlJavascript", required:false)});
	</script>
	<script type="text/javascript">
		$(document).ready(function () {
			$(".pause-onsubmit-form").submit(function () {
				window.scrollTo(0, 0); // scroll to top of screen
				Pauser.show();
				return true; // return false to cancel form action
			});
		});
	</script>
	</script>
</body>
</html>
